{
    "openapi": "3.0.0",
    "info": {
        "title": "lemlist API",
        "version": "1.0.0",
        "description": "Welcome to the lemlist Developer Documentation.\n\nlemlist is very customizable and open. You'll find on this page all the API and integration you can do with lemlist.\n\n# Rate Limit\n\nlemlist's API rate limits requests in order to prevent abuse and overload of our services.  \nRate limits are applied on all routes and per API key performing the request.  \nThe rate limits are **20** requests per **2** seconds.  \nThe response provides any information you may need about it:\n\n| Header | Description |\n| --- | --- |\n| Retry-After | The number of seconds in which you can retry |\n| X-RateLimit-Limit | The maximum requests in that time |\n| X-RateLimit-Remaining | The number of remaining requests you can make |\n| X-RateLimit-Reset | The date when the rate limit will reset |\n\n_Example of values for the rate limit headers_\n\n``` json\n{\n    \"Retry-After\": 2,\n    \"X-RateLimit-Limit\": 20,\n    \"X-RateLimit-Remaining\": 7,\n    \"X-RateLimit-Reset\" : \"Tue Feb 16 2021 09:02:42 GMT+0100 (Central European Standard Time)\"\n}\n\n ```\n\n# Definitions\n\n## Team\n\nA team is the entity of lemlist that can handle users and billing.\n\n## Credits\n\nCredits are the coins a team uses to enrich emails, LinkedIn URLs, etc. via the enrich route. Each enrichment feature needs a certain amount of credits to run.\n\n## User\n\nYou use a user account to connect to lemlist and send messages via the connected emails or LinkedIn account.\n\n## Campaign\n\nA campaign is the entity to automate outreach. A campaign has multiple sequences composed of steps.\n\n## Lead\n\nA lead is a person that you try to contact via a campaign.\n\n## Activity\n\nAn activity is the history of all the steps.\n\n## Unsubscribe\n\nAn unsubscribe occurs when a person decides they don't want to receive emails from you anymore.\n\n# Authentication\n\nAll API routes use the dedicated subdomain `api.lemlist.com`.\n\nlemlist uses API keys to allow access to the API. You can get your lemlist API key at our [integration page](https://app.lemlist.com/settings/integrations).\n\nYou need to add the `Authorization` header using the `Basic` authentication type. `login:password` **where the login is always empty and the password is the API key**.\n\n⚠️ **Don't forget to add the semicolon (**`:`**) before your API key in curl command.**\n\n> To authorize, use this code: \n  \n\n``` shell\ncurl https://api.lemlist.com/api/team \\\n  --user \":YourApiKey\"\n\n ```\n\n**Make sure to replace** **`YourApiKey`** **with your API key.**\n\n# Give feedback\n\nIf you want to report a bug, ask for data, or share with us a use case, please fill this [form](https://lemlist.typeform.com/to/mfVlkyGf). It will help us centralize your needs!"
    },
    "servers": [
        {
            "url": "https://api.lemlist.com/api"
        }
    ],
    "security": [
        {
            "basicAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "basicAuth": {
                "type": "http",
                "scheme": "basic"
            }
        },
        "schemas": {
            "Team": {
                "type": "object",
                "description": "The organization account that manages users and billing.",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique team identifier"
                    },
                    "name": {
                        "type": "string",
                        "description": "Team name"
                    },
                    "userIds": {
                        "type": "array",
                        "description": "User IDs in this team",
                        "items": {
                            "type": "string"
                        }
                    },
                    "createdBy": {
                        "type": "string",
                        "description": "User ID who created the team"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Date and time when the team was created"
                    },
                    "hooks": {
                        "type": "array",
                        "description": "Webhooks configured for the team",
                        "items": {
                            "$ref": "#/components/schemas/Webhook"
                        }
                    },
                    "beta": {
                        "type": "array",
                        "description": "Beta features enabled for the team",
                        "items": {
                            "type": "string"
                        }
                    },
                    "slackWebhook": {
                        "type": "object",
                        "properties": {
                            "url": {
                                "type": "string",
                                "format": "uri",
                                "description": "Slack webhook URL for notifications"
                            },
                            "failCounter": {
                                "type": "integer",
                                "description": "Number of consecutive failed notifications"
                            }
                        },
                        "description": "Slack webhooks configured for the team"
                    },
                    "invitedUsers": {
                        "type": "array",
                        "description": "Pending user invitations",
                        "items": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "format": "email"
                                },
                                "role": {
                                    "type": "string"
                                },
                                "invitedBy": {
                                    "type": "string"
                                },
                                "invitedAt": {
                                    "type": "string",
                                    "format": "date-time"
                                }
                            }
                        }
                    },
                    "agency": {
                        "type": "string",
                        "description": "Agency identifier if team is part of an agency"
                    },
                    "pictureId": {
                        "type": "string",
                        "description": "Team profile picture file ID"
                    },
                    "customDomain": {
                        "type": "string",
                        "description": "Custom domain for the team"
                    }
                }
            },
            "Credits": {
                "type": "object",
                "description": "Credits are the coins a team uses to enrich emails, LinkedIn URLs, etc. Each enrichment feature needs a certain amount of credits to run.",
                "properties": {
                    "credits": {
                        "type": "integer",
                        "description": "Total credits remaining"
                    },
                    "details": {
                        "type": "object",
                        "properties": {
                            "remaining": {
                                "type": "object",
                                "properties": {
                                    "total": {
                                        "type": "integer",
                                        "description": "Total credits remaining"
                                    },
                                    "freemium": {
                                        "type": "integer",
                                        "description": "Freemium credits remaining"
                                    },
                                    "subscription": {
                                        "type": "integer",
                                        "description": "Subscription credits remaining"
                                    },
                                    "gifted": {
                                        "type": "integer",
                                        "description": "Gifted credits remaining"
                                    },
                                    "paid": {
                                        "type": "integer",
                                        "description": "Paid credits remaining"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "User": {
                "type": "object",
                "description": "A team member account with connected email and/or LinkedIn sending capabilities.",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique user identifier"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "User email address"
                    },
                    "role": {
                        "type": "string",
                        "description": "User role in the team (admin, member, etc.)"
                    },
                    "linkedIn": {
                        "type": "object",
                        "description": "LinkedIn integration settings",
                        "properties": {
                            "status": {
                                "type": "boolean",
                                "description": "Whether LinkedIn is connected"
                            },
                            "inviteLimit": {
                                "type": "integer",
                                "description": "Daily limit for LinkedIn connection invites"
                            },
                            "sendLimit": {
                                "type": "integer",
                                "description": "Daily limit for LinkedIn messages"
                            },
                            "visitLimit": {
                                "type": "integer",
                                "description": "Daily limit for LinkedIn profile visits"
                            }
                        }
                    },
                    "mailboxes": {
                        "type": "array",
                        "description": "Email mailboxes connected to this user",
                        "items": {
                            "$ref": "#/components/schemas/Mailbox"
                        }
                    }
                }
            },
            "Campaign": {
                "type": "object",
                "description": "An automated outreach workflow containing sequences of steps.",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique campaign identifier"
                    },
                    "name": {
                        "type": "string",
                        "description": "Campaign name"
                    },
                    "labels": {
                        "type": "array",
                        "description": "Categorization labels",
                        "items": {
                            "type": "string"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation timestamp"
                    },
                    "createdBy": {
                        "type": "string",
                        "description": "Creator user ID"
                    },
                    "status": {
                        "type": "string",
                        "description": "Campaign status",
                        "enum": [
                            "running",
                            "paused",
                            "draft",
                            "ended",
                            "archived",
                            "errors"
                        ]
                    },
                    "sequenceId": {
                        "type": "string",
                        "description": "Main sequence ID"
                    },
                    "scheduleIds": {
                        "type": "array",
                        "description": "Associated schedule IDs",
                        "items": {
                            "type": "string"
                        }
                    },
                    "teamId": {
                        "type": "string",
                        "description": "ID of the team that owns this campaign"
                    },
                    "hasError": {
                        "type": "boolean",
                        "description": "Whether the campaign has errors"
                    },
                    "errors": {
                        "type": "array",
                        "description": "List of error messages if campaign has errors",
                        "items": {
                            "type": "string"
                        }
                    },
                    "creator": {
                        "type": "object",
                        "description": "Campaign creator information",
                        "properties": {
                            "userId": {
                                "type": "string",
                                "description": "Creator user ID"
                            },
                            "userEmail": {
                                "type": "string",
                                "format": "email",
                                "description": "Creator email address"
                            }
                        }
                    },
                    "senders": {
                        "type": "array",
                        "description": "Campaign senders configuration",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "Sender user ID"
                                },
                                "email": {
                                    "type": "string",
                                    "format": "email",
                                    "description": "Sender email address"
                                },
                                "sendUserMailboxId": {
                                    "type": "string",
                                    "description": "Mailbox ID used for sending"
                                }
                            }
                        }
                    }
                }
            },
            "Lead": {
                "type": "object",
                "description": "A prospect added to a campaign for outreach.",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique lead identifier"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Lead email address"
                    },
                    "firstName": {
                        "type": "string",
                        "description": "First name"
                    },
                    "lastName": {
                        "type": "string",
                        "description": "Last name"
                    },
                    "companyName": {
                        "type": "string",
                        "description": "Company name"
                    },
                    "phone": {
                        "type": "string",
                        "description": "Phone number"
                    },
                    "linkedinUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "LinkedIn profile URL"
                    },
                    "picture": {
                        "type": "string",
                        "format": "uri",
                        "description": "Profile picture URL"
                    },
                    "icebreaker": {
                        "type": "string",
                        "description": "Personalized icebreaker text"
                    },
                    "campaignId": {
                        "type": "string",
                        "description": "Campaign ID the lead belongs to"
                    },
                    "campaignName": {
                        "type": "string",
                        "description": "Campaign name the lead belongs to"
                    },
                    "isUnsubscribed": {
                        "type": "boolean",
                        "description": "Whether the lead is unsubscribed"
                    }
                }
            },
            "Activity": {
                "type": "object",
                "description": "A recorded action or event in a campaign sequence (email sent, opened, clicked, etc.).",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique activity identifier"
                    },
                    "type": {
                        "type": "string",
                        "description": "Activity type (emailOpened, emailClicked, emailReplied, etc.)"
                    },
                    "leadId": {
                        "type": "string",
                        "description": "Associated lead ID"
                    },
                    "campaignId": {
                        "type": "string",
                        "description": "Campaign ID"
                    },
                    "sequenceId": {
                        "type": "string",
                        "description": "Sequence ID"
                    },
                    "stepId": {
                        "type": "string",
                        "description": "Step ID"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the activity occurred"
                    }
                }
            },
            "Unsubscribe": {
                "type": "object",
                "description": "A record of someone opting out of receiving emails.",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique unsubscribe identifier"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Unsubscribed email address"
                    },
                    "campaignId": {
                        "type": "string",
                        "description": "Campaign ID from which the person unsubscribed"
                    },
                    "campaignName": {
                        "type": "string",
                        "description": "Campaign name from which the person unsubscribed"
                    },
                    "unsubscribedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Unsubscribe timestamp"
                    },
                    "scope": {
                        "type": "string",
                        "description": "Unsubscribe scope",
                        "enum": [
                            "campaign",
                            "team",
                            "global"
                        ]
                    }
                }
            },
            "Enrich": {
                "type": "object",
                "description": "Contact information discovered through data enrichment (emails, phone numbers, LinkedIn URLs).",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique enrichment request identifier"
                    },
                    "status": {
                        "type": "string",
                        "description": "Enrichment status",
                        "enum": [
                            "pending",
                            "completed",
                            "failed"
                        ]
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Found email address"
                    },
                    "phone": {
                        "type": "string",
                        "description": "Found phone number"
                    },
                    "firstName": {
                        "type": "string",
                        "description": "Found first name"
                    },
                    "lastName": {
                        "type": "string",
                        "description": "Found last name"
                    },
                    "companyName": {
                        "type": "string",
                        "description": "Found company name"
                    },
                    "linkedinUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "Found LinkedIn URL"
                    },
                    "credits": {
                        "type": "integer",
                        "description": "Credits consumed"
                    }
                }
            },
            "Task": {
                "type": "object",
                "description": "A manual action assigned to a user to complete.",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique task identifier"
                    },
                    "type": {
                        "type": "string",
                        "description": "Task type"
                    },
                    "leadId": {
                        "type": "string",
                        "description": "Associated lead ID"
                    },
                    "campaignId": {
                        "type": "string",
                        "description": "Campaign ID"
                    },
                    "userId": {
                        "type": "string",
                        "description": "Assigned user ID"
                    },
                    "status": {
                        "type": "string",
                        "description": "Task status",
                        "enum": [
                            "pending",
                            "completed",
                            "ignored"
                        ]
                    },
                    "dueDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Due date timestamp"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation timestamp"
                    },
                    "completedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Completion timestamp"
                    }
                }
            },
            "Contact": {
                "type": "object",
                "description": "A contact is a lead who has engaged with your outreach (replied, opened, clicked, etc.).",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique contact identifier"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Contact email address"
                    },
                    "firstName": {
                        "type": "string",
                        "description": "First name"
                    },
                    "lastName": {
                        "type": "string",
                        "description": "Last name"
                    },
                    "companyName": {
                        "type": "string",
                        "description": "Company name"
                    },
                    "campaigns": {
                        "type": "array",
                        "description": "Associated campaigns",
                        "items": {
                            "type": "object",
                            "properties": {
                                "campaignId": {
                                    "type": "string"
                                },
                                "campaignName": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "lastInteractionDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Last interaction timestamp"
                    }
                }
            },
            "Company": {
                "type": "object",
                "description": "An organization record in your CRM.",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique company identifier"
                    },
                    "name": {
                        "type": "string",
                        "description": "Company name"
                    },
                    "domain": {
                        "type": "string",
                        "description": "Website domain"
                    },
                    "industry": {
                        "type": "string",
                        "description": "Industry sector"
                    },
                    "size": {
                        "type": "string",
                        "description": "Company size"
                    },
                    "location": {
                        "type": "string",
                        "description": "Geographic location"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation timestamp"
                    }
                }
            },
            "DatabaseCompany": {
                "type": "object",
                "description": "A company record from lemlist's People database.",
                "properties": {
                    "company_id": {
                        "type": "integer",
                        "description": "Unique company identifier"
                    },
                    "company_name": {
                        "type": "string",
                        "description": "Company name"
                    },
                    "company_website_url": {
                        "type": "string",
                        "description": "Website URL"
                    },
                    "company_employee_count": {
                        "type": "integer",
                        "description": "Employee count"
                    },
                    "company_industry": {
                        "type": "string",
                        "description": "Industry sector"
                    }
                }
            },
            "CompanyNote": {
                "type": "object",
                "description": "A text note attached to a company record to store information.",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique note identifier"
                    },
                    "companyId": {
                        "type": "string",
                        "description": "Parent company ID"
                    },
                    "content": {
                        "type": "string",
                        "description": "Note text content"
                    },
                    "createdBy": {
                        "type": "string",
                        "description": "Creator user ID"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation timestamp"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Last update timestamp"
                    }
                }
            },
            "Sequence": {
                "type": "object",
                "description": "An ordered series of steps within a campaign.",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique sequence identifier"
                    },
                    "campaignId": {
                        "type": "string",
                        "description": "Parent campaign ID"
                    },
                    "steps": {
                        "type": "array",
                        "description": "Ordered list of steps",
                        "items": {
                            "$ref": "#/components/schemas/Step"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation timestamp"
                    }
                }
            },
            "Step": {
                "type": "object",
                "description": "A single action in a sequence (email, LinkedIn message, delay, task, etc.).",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique step identifier"
                    },
                    "sequenceId": {
                        "type": "string",
                        "description": "Parent sequence ID"
                    },
                    "type": {
                        "type": "string",
                        "description": "Action type",
                        "enum": [
                            "email",
                            "linkedinInvite",
                            "linkedinMessage",
                            "linkedinVisit",
                            "delay",
                            "task",
                            "api"
                        ]
                    },
                    "order": {
                        "type": "integer",
                        "description": "Position in sequence"
                    },
                    "delay": {
                        "type": "integer",
                        "description": "Wait days before execution"
                    },
                    "subject": {
                        "type": "string",
                        "description": "Email subject line"
                    },
                    "body": {
                        "type": "string",
                        "description": "Message content"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation timestamp"
                    }
                }
            },
            "Schedule": {
                "type": "object",
                "description": "Sending time windows defining when campaigns can send messages (days and hours).",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique schedule identifier"
                    },
                    "name": {
                        "type": "string",
                        "description": "Schedule name"
                    },
                    "secondsToWait": {
                        "type": "integer",
                        "description": "Seconds between sends"
                    },
                    "timezone": {
                        "type": "string",
                        "description": "Schedule timezone (e.g., 'Europe/Paris')"
                    },
                    "start": {
                        "type": "string",
                        "description": "Daily start time (HH:mm)",
                        "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
                    },
                    "end": {
                        "type": "string",
                        "description": "Daily end time (HH:mm)",
                        "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
                    },
                    "weekdays": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 7
                        },
                        "description": "Active weekdays (1=Monday, 7=Sunday)"
                    },
                    "public": {
                        "type": "boolean",
                        "description": "Available as template"
                    }
                }
            },
            "Webhook": {
                "type": "object",
                "description": "Webhooks send real-time HTTP notifications upon campaign events (opens, clicks, replies, etc.).",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique webhook identifier"
                    },
                    "targetUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "Destination URL for event notifications"
                    },
                    "type": {
                        "type": "string",
                        "description": "Event type to listen for",
                        "enum": [
                            "emailsOpened",
                            "emailsClicked",
                            "emailsReplied",
                            "emailsSent",
                            "emailsBounced",
                            "leadInterested",
                            "leadNotInterested"
                        ]
                    },
                    "campaignId": {
                        "type": "string",
                        "description": "The ID of the campaign the webhook is associated with (if any)"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation timestamp"
                    },
                    "zapId": {
                        "type": "integer",
                        "description": "Zapier integration ID (if the destination is a Zapier webhook)"
                    }
                }
            },
            "Report": {
                "type": "object",
                "description": "Aggregated campaign performance statistics (sent, opened, clicked, replied, etc.).",
                "properties": {
                    "campaignId": {
                        "type": "string",
                        "description": "Campaign ID"
                    },
                    "campaignName": {
                        "type": "string",
                        "description": "Campaign name"
                    },
                    "stats": {
                        "type": "object",
                        "description": "Performance metrics",
                        "properties": {
                            "sent": {
                                "type": "integer",
                                "description": "Emails sent count"
                            },
                            "opened": {
                                "type": "integer",
                                "description": "Emails opened count"
                            },
                            "clicked": {
                                "type": "integer",
                                "description": "Links clicked count"
                            },
                            "replied": {
                                "type": "integer",
                                "description": "Replies received count"
                            },
                            "bounced": {
                                "type": "integer",
                                "description": "Bounced emails count"
                            },
                            "interested": {
                                "type": "integer",
                                "description": "Interested leads count"
                            }
                        }
                    },
                    "exportStatus": {
                        "type": "string",
                        "description": "Export request status",
                        "enum": [
                            "pending",
                            "done",
                            "error"
                        ]
                    }
                }
            },
            "Mailbox": {
                "type": "object",
                "description": "An email account connected to a user for sending campaigns.",
                "properties": {
                    "_id": {
                        "type": "string",
                        "description": "Unique mailbox identifier"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Mailbox email address"
                    },
                    "provider": {
                        "type": "string",
                        "description": "Email provider (google, microsoft, etc.)"
                    },
                    "status": {
                        "type": "string",
                        "description": "Connection status",
                        "enum": [
                            "CONNECTED",
                            "ERROR",
                            "DISCONNECTED"
                        ]
                    },
                    "lemlist": {
                        "type": "object",
                        "properties": {
                            "emailLimit": {
                                "type": "integer",
                                "description": "Daily send limit"
                            }
                        }
                    },
                    "lemwarm": {
                        "type": "object",
                        "properties": {
                            "active": {
                                "type": "boolean",
                                "description": "Lemwarm activation status"
                            }
                        }
                    }
                }
            },
            "ScheduleListResponse": {
                "type": "object",
                "description": "Paginated response containing multiple schedules.",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Schedule"
                        }
                    },
                    "page": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "LeadListResponse": {
                "type": "object",
                "description": "Paginated response containing multiple leads.",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Lead"
                        }
                    },
                    "page": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "CrmFilter": {
                "type": "object",
                "description": "A filter used in the CRM to segment leads or companies.",
                "properties": {
                    "_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "criteria": {
                        "type": "object",
                        "additionalProperties": true
                    }
                }
            },
            "InboxConversation": {
                "type": "object",
                "description": "A message thread between a user and a contact in the inbox.",
                "properties": {
                    "_id": {
                        "type": "string"
                    },
                    "leadId": {
                        "type": "string"
                    },
                    "messages": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InboxMessage"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "InboxConversationPagination": {
                "type": "object",
                "description": "Paginated response containing multiple inbox conversations.",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InboxConversation"
                        }
                    },
                    "page": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "InboxMessage": {
                "type": "object",
                "description": "A single message within an inbox conversation.",
                "properties": {
                    "_id": {
                        "type": "string"
                    },
                    "conversationId": {
                        "type": "string"
                    },
                    "sender": {
                        "type": "string"
                    },
                    "recipient": {
                        "type": "string"
                    },
                    "body": {
                        "type": "string"
                    },
                    "sentAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "InboxMessagePagination": {
                "type": "object",
                "description": "Paginated response containing multiple inbox messages.",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InboxMessage"
                        }
                    },
                    "page": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "TaskListResponse": {
                "type": "object",
                "description": "Paginated response containing multiple tasks.",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Task"
                        }
                    },
                    "page": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "DatabaseFilter": {
                "type": "object",
                "description": "Saved search criteria for querying the People database.",
                "properties": {
                    "_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "criteria": {
                        "type": "object",
                        "additionalProperties": true
                    }
                }
            },
            "PeopleSchema": {
                "type": "object",
                "description": "A person record from lemlist's People database.",
                "properties": {
                    "lead_id": {
                        "type": "string"
                    },
                    "full_name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "title": {
                        "type": "string"
                    },
                    "company_name": {
                        "type": "string"
                    },
                    "location": {
                        "type": "string"
                    }
                }
            },
            "LemwarmSettings": {
                "type": "object",
                "description": "Lemwarm configuration for a mailbox.",
                "properties": {
                    "active": {
                        "type": "boolean"
                    },
                    "dailyLimit": {
                        "type": "integer"
                    },
                    "warmupTemplate": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "paths": {
        "/team": {
            "get": {
                "summary": "Get Team",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Team"
                                },
                                "example": {
                                    "_id": "tea_b4rMsi2trBhahaha",
                                    "name": "lemlist",
                                    "userIds": [
                                        "usr_4YGm9ez7gMdyhahaha",
                                        "usr_5GdFEgSLCN4hahaha",
                                        "usr_F7iPChEQ3phahaha"
                                    ],
                                    "createdBy": "usr_4YGm9ez7gMdyhahaha",
                                    "createdAt": "2018-02-22T08:52:30.926Z",
                                    "hooks": [
                                        {
                                            "_id": "hoo_7bNbHKmFcpDiNACg6",
                                            "targetUrl": "https://hooks.zapier.com/hooks/standard/946357/*some-id*/",
                                            "createdAt": "2018-06-05T09:07:07.761Z",
                                            "zapId": 123456789,
                                            "type": "emailsReplied",
                                            "campaignId": "cam_TgyErJghahaha",
                                            "isFirst": true
                                        },
                                        {
                                            "_id": "hoo_agftPLA7RovPXuvet",
                                            "targetUrl": "https://hooks.zapier.com/hooks/standard/5078320/*some-other-id*/",
                                            "createdAt": "2019-06-05T14:38:56.535Z",
                                            "zapId": 987654321,
                                            "type": "emailsReplied",
                                            "campaignId": "cam_J2M3P9Z8whahaha"
                                        },
                                        {
                                            "_id": "hoo_PN8TP9Ny9qEJRytrm",
                                            "targetUrl": "https://hooks.zapier.com/hooks/standard/5078320/*some-id*/",
                                            "createdAt": "2019-06-05T15:49:36.624Z",
                                            "zapId": 59831776,
                                            "type": "emailsReplied",
                                            "campaignId": "cam_fdyDRgEwMiCJnj5Sx",
                                            "isFirst": true
                                        },
                                        {
                                            "_id": "hoo_GXALX6diEW5bovH7e",
                                            "targetUrl": "https://subdomain.pipedream.net",
                                            "createdAt": "2022-02-10T16:45:28.216Z",
                                            "campaignId": "cam_i6Cy2zKTw5LZpu6K5"
                                        }
                                    ],
                                    "slackWebhook": {
                                        "url": "https://hooks.slack.com/services/T123456789/B123456789/*some-id*",
                                        "failCounter": 1
                                    },
                                    "beta": [
                                        "outreachQueue",
                                        "crmSyncApiSalesforce",
                                        "voipWhitelist",
                                        "lemrich_postLemrichKafka",
                                        "computedFieldActiveCampaigns"
                                    ],
                                    "pictureId": "fil_3mwPqkGHvKbETiwmC.png",
                                    "invitedUsers": [
                                        {
                                            "email": "bvelitchkine@gmail.com",
                                            "role": "member",
                                            "invitedBy": "usr_w7XoMXW37hahaha",
                                            "invitedAt": "2023-03-04T20:06:29.585Z"
                                        },
                                        {
                                            "email": "jojo@lempire.co",
                                            "role": "admin",
                                            "invitedBy": "usr_tB8T7zgZEfxhahha",
                                            "invitedAt": "2024-09-13T12:39:55.984Z"
                                        }
                                    ],
                                    "agency": "usr_4YGm9ez7gMd2123456",
                                    "customDomain": "custom.domain.com"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Possible errors: No API key provided / Bad team",
                        "content": {
                            "text/plain": {
                                "example": "No API key provided"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    },
                    "403": {
                        "description": "User linked to this API key is blocked",
                        "content": {
                            "text/plain": {
                                "example": "User linked to this API key is blocked"
                            }
                        }
                    },
                    "404": {
                        "description": "No user found for this API key",
                        "content": {
                            "text/plain": {
                                "example": "No user found for this API key"
                            }
                        }
                    }
                }
            }
        },
        "/team/senders": {
            "get": {
                "summary": "Get Team Senders",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "description": "Filter by campaign's state (running, paused, draft, ended, archived, errors)",
                        "example": "running",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "running",
                                "paused",
                                "draft",
                                "ended",
                                "archived",
                                "errors"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "userId": {
                                                "type": "string"
                                            },
                                            "campaigns": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "_id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "sendingChannels": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "userId": "usr_5GdFEgSLCN4n9uaMY",
                                        "campaigns": [
                                            {
                                                "_id": "cam_XeLi45vzbAAMcwE9w",
                                                "name": "Onboarding",
                                                "status": "paused",
                                                "sendingChannels": [
                                                    "email",
                                                    "manual",
                                                    "linkedinVisit"
                                                ]
                                            },
                                            {
                                                "_id": "cam_jgQF6raCqZFpRhXic",
                                                "name": "Community Launch",
                                                "status": "running",
                                                "sendingChannels": [
                                                    "email",
                                                    "manual",
                                                    "linkedinVisit"
                                                ]
                                            },
                                            {
                                                "_id": "cam_uZN54wByB9fN4Egak",
                                                "name": "Email Warmup Test",
                                                "status": "ended",
                                                "sendingChannels": [
                                                    "email",
                                                    "manual",
                                                    "linkedinVisit"
                                                ]
                                            },
                                            {
                                                "_id": "cam_gdFao7vTMuxwtsdzR",
                                                "name": "Product Launch Campaign",
                                                "status": "draft",
                                                "sendingChannels": [
                                                    "email",
                                                    "manual",
                                                    "linkedinVisit"
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "userId": "usr_5eQFBL8KgTjhbATT7",
                                        "campaigns": [
                                            {
                                                "_id": "cam_inoaxzRkxC6RmFC7S",
                                                "name": "WhatsApp Outreach",
                                                "status": "draft",
                                                "sendingChannels": [
                                                    "email",
                                                    "whatsappMessage"
                                                ]
                                            },
                                            {
                                                "_id": "cam_DkMxX9HCeWbv7jsYr",
                                                "name": "WhatsApp Test Campaign",
                                                "status": "ended",
                                                "sendingChannels": [
                                                    "email",
                                                    "whatsappMessage"
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "userId": "usr_AzyCDxe92WNSrGkPz",
                                        "campaigns": [
                                            {
                                                "_id": "cam_CSRnRHoZxe6b3Ste3",
                                                "name": "Networking",
                                                "status": "running",
                                                "sendingChannels": [
                                                    "email",
                                                    "linkedinSend",
                                                    "linkedinVisit",
                                                    "linkedinInvite"
                                                ]
                                            },
                                            {
                                                "_id": "cam_j3TKRt2Mx5pmeMxAu",
                                                "name": "Product Tools Campaign",
                                                "status": "paused",
                                                "sendingChannels": [
                                                    "email",
                                                    "linkedinSend",
                                                    "linkedinVisit",
                                                    "linkedinInvite"
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad params (invalid state parameter)",
                        "content": {
                            "text/plain": {
                                "example": "Bad params (invalid state parameter)"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/team/credits": {
            "get": {
                "summary": "Get Team Credits",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Credits"
                                },
                                "example": {
                                    "credits": 100,
                                    "details": {
                                        "remaining": {
                                            "total": 100,
                                            "freemium": 0,
                                            "subscription": 80,
                                            "gifted": 10,
                                            "paid": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No API key provided",
                        "content": {
                            "text/plain": {
                                "example": "No API key provided"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    },
                    "403": {
                        "description": "User linked to this API key is blocked",
                        "content": {
                            "text/plain": {
                                "example": "User linked to this API key is blocked"
                            }
                        }
                    },
                    "404": {
                        "description": "No user found for this API key",
                        "content": {
                            "text/plain": {
                                "example": "No user found for this API key"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/team/crmUsers": {
            "get": {
                "summary": "Get Team CRM Users",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "userId": {
                                                "type": "string",
                                                "description": "The lemlist ID of the user whose CRM account is integrated with lemlist"
                                            },
                                            "crm": {
                                                "type": "string",
                                                "description": "The CRM integrated with lemlist (e.g., salesforce, hubspot, pipedrive)"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "userId": "usr_h47tiJr87Zn7XtQHi",
                                        "crm": "salesforce"
                                    },
                                    {
                                        "userId": "usr_h47tiJr87Zn7XtQHi",
                                        "crm": "hubspot"
                                    },
                                    {
                                        "userId": "usr_h47tiJr87Zn7XtQHi",
                                        "crm": "pipedrive"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Possible errors: Bad team / Endpoint not available",
                        "content": {
                            "text/plain": {
                                "example": "Bad team"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    }
                }
            }
        },
        "/users/{userId}": {
            "parameters": [
                {
                    "name": "userId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the user",
                    "example": "usr_QAucgYReK6EmMB3Cz",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get User",
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                },
                                "example": {
                                    "_id": "usr_QAucgYReK6EmMB3Cz",
                                    "email": "example@lempire.co",
                                    "role": "admin",
                                    "linkedIn": {
                                        "status": true,
                                        "inviteLimit": 25,
                                        "sendLimit": 33,
                                        "visitLimit": 36
                                    },
                                    "mailboxes": [
                                        {
                                            "_id": "usm_bsdepN6jb8zftK9Ns",
                                            "email": "example@gmail.com",
                                            "provider": "google",
                                            "status": "ERROR",
                                            "lemlist": {
                                                "emailLimit": 50
                                            },
                                            "lemwarm": {
                                                "active": false
                                            }
                                        },
                                        {
                                            "_id": "usm_gPKrqoNxaXxScTpPh",
                                            "email": "example@outlook.com",
                                            "status": "ERROR",
                                            "lemlist": {
                                                "emailLimit": 50
                                            },
                                            "lemwarm": {
                                                "active": false
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Possible errors: Bad team / Endpoint not available",
                        "content": {
                            "text/plain": {
                                "example": "Bad team"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    }
                }
            }
        },
        "/campaigns": {
            "get": {
                "summary": "Get Many Campaigns",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset from the start. For pagination.",
                        "example": "24",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Number of campaigns to retrieve. Default: 100. Maximum: 100.",
                        "example": "2",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "required": false,
                        "description": "Set to 'v2' to use the latest version",
                        "example": "v2",
                        "schema": {
                            "type": "string",
                            "default": "v2",
                            "enum": [
                                "v2"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Page number to retrieve",
                        "example": "1",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "required": false,
                        "description": "The field by which to sort. Currently, only 'createdAt' is supported.",
                        "example": "createdAt",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "createdAt"
                            ]
                        }
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "required": false,
                        "description": "The sort direction. Use 'desc' for descending order; any other value (or omission) will sort in ascending order.",
                        "example": "desc",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "description": "The campaign status. Can be: running, draft, archived, ended, paused, errors. Note: a campaign can be in multiple statuses at one time (e.g., a paused campaign with errors).",
                        "example": "running",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "running",
                                "draft",
                                "archived",
                                "ended",
                                "paused",
                                "errors"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Campaign"
                                    }
                                },
                                "example": [
                                    {
                                        "_id": "cam_KFsZWCvxY34fZjKpQ",
                                        "name": "Product Launch Campaign",
                                        "labels": [],
                                        "createdAt": "2025-02-20T14:45:54.230Z",
                                        "createdBy": "usr_PdR6Q7ZifnXYEXPJR",
                                        "status": "running",
                                        "hasError": true,
                                        "errors": [
                                            "Your campaign does not have sender."
                                        ]
                                    },
                                    {
                                        "_id": "cam_E7zXbH4n6n78TWdvX",
                                        "name": "Sales Outreach 2025",
                                        "labels": [],
                                        "createdAt": "2025-02-05T09:00:07.541Z",
                                        "createdBy": "usr_w7wBTtp3iTNbqQtGq",
                                        "status": "running",
                                        "hasError": true,
                                        "errors": [
                                            "One of your sender has no email provider.",
                                            "Your campaign have an invalid sender mailbox"
                                        ]
                                    },
                                    {
                                        "_id": "cam_ohtpFfMbJ5vpDkLsm",
                                        "name": "CRM Integration Test",
                                        "labels": [
                                            "CRM"
                                        ],
                                        "createdAt": "2023-01-27T14:58:52.482Z",
                                        "createdBy": "usr_ez9h9tXDLP9LqpYyp",
                                        "status": "running",
                                        "hasError": true,
                                        "errors": [
                                            "One of your sender has no email provider.",
                                            "Your campaign have an invalid sender mailbox"
                                        ]
                                    },
                                    {
                                        "_id": "cam_rsoutbiF7uYK8Bz2C",
                                        "name": "Customer Onboarding",
                                        "labels": [],
                                        "createdAt": "2022-06-14T13:32:57.880Z",
                                        "createdBy": "usr_ez9h9tXDLP9LqpYyp",
                                        "status": "running"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "No API key provided",
                        "content": {
                            "text/plain": {
                                "example": "No API key provided"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    },
                    "403": {
                        "description": "User linked to this API key is blocked",
                        "content": {
                            "text/plain": {
                                "example": "User linked to this API key is blocked"
                            }
                        }
                    },
                    "404": {
                        "description": "No user found for this API key",
                        "content": {
                            "text/plain": {
                                "example": "No user found for this API key"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Campaign",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "sequenceId": {
                                            "type": "string"
                                        },
                                        "scheduleIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "teamId": {
                                            "type": "string"
                                        },
                                        "createdBy": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "scannedCount": {
                                            "type": "integer"
                                        },
                                        "reviewedCount": {
                                            "type": "integer"
                                        },
                                        "inSequenceLeadCount": {
                                            "type": "integer"
                                        },
                                        "variableKeys": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "senders": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "sendUsers": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "displayedVariableKeys": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "emoji": {
                                            "type": "string"
                                        },
                                        "stopOnEmailReplied": {
                                            "type": "boolean"
                                        },
                                        "crmOpportunitiesOnTask": {
                                            "type": "boolean"
                                        },
                                        "unsubscribe": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "crm": {
                                            "type": "string"
                                        },
                                        "crmUserId": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "cam_WN3M22c3gDs4eQDXN",
                                    "sequenceId": "seq_hPj7N88tCgpFYgtnj",
                                    "scheduleIds": [
                                        "skd_isFGZkjSsvJZ7CfRx"
                                    ],
                                    "teamId": "tea_MtScZ2GexXzHXRdTr",
                                    "createdBy": "usr_XCQktNJNa79X5Tvnh",
                                    "createdAt": "2025-01-16T13:53:22.726Z",
                                    "state": "running",
                                    "scannedCount": 0,
                                    "reviewedCount": 0,
                                    "inSequenceLeadCount": 0,
                                    "variableKeys": [],
                                    "senders": [],
                                    "sendUsers": [],
                                    "displayedVariableKeys": [
                                        "companyName"
                                    ],
                                    "emoji": "🚀",
                                    "stopOnEmailReplied": true,
                                    "crmOpportunitiesOnTask": true,
                                    "unsubscribe": "campaign",
                                    "name": "My new campaign",
                                    "crm": "hubspot",
                                    "crmUserId": "usr_BXJcMBSk7pwhdqAL2"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No API key provided",
                        "content": {
                            "text/plain": {
                                "example": "No API key provided"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    },
                    "403": {
                        "description": "User linked to this API key is blocked",
                        "content": {
                            "text/plain": {
                                "example": "User linked to this API key is blocked"
                            }
                        }
                    },
                    "404": {
                        "description": "No user found for this API key",
                        "content": {
                            "text/plain": {
                                "example": "No user found for this API key"
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the campaign"
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            },
                            "example": {
                                "name": "My new campaign"
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{campaignId}": {
            "parameters": [
                {
                    "name": "campaignId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the campaign",
                    "example": "cam_A1B2C3D4E5F6G7H8I9",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get Campaign",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Campaign"
                                },
                                "example": {
                                    "_id": "cam_9NsHPnykWESTncCW8",
                                    "name": "Product Launch Campaign",
                                    "createdAt": "2025-10-27T07:01:04.058Z",
                                    "status": "draft",
                                    "creator": {
                                        "userId": "usr_gmHgNGRcGPSTJrDbT",
                                        "userEmail": "bvelitchkine@gmail.com"
                                    },
                                    "senders": [
                                        {
                                            "id": "usr_AzyCDxe92WNSrGkPz",
                                            "email": "bvelitchkine@gmail.com",
                                            "sendUserMailboxId": "usm_JLtj28DpEdrwseTAc"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad team",
                        "content": {
                            "text/plain": {
                                "example": "Bad team"
[...]
