{
    "openapi": "3.0.0",
    "info": {
        "title": "lemlist API",
        "version": "1.0.0",
        "description": "Welcome to the lemlist Developer Documentation.\n\nlemlist is very customizable and open. You'll find on this page all the API and integration you can do with lemlist.\n\n# Rate Limit\n\nlemlist's API rate limits requests in order to prevent abuse and overload of our services.  \nRate limits are applied on all routes and per API key performing the request.  \nThe rate limits are **20** requests per **2** seconds.  \nThe response provides any information you may need about it:\n\n| Header | Description |\n| --- | --- |\n| Retry-After | The number of seconds in which you can retry |\n| X-RateLimit-Limit | The maximum requests in that time |\n| X-RateLimit-Remaining | The number of remaining requests you can make |\n| X-RateLimit-Reset | The date when the rate limit will reset |\n\n_Example of values for the rate limit headers_\n\n``` json\n{\n    \"Retry-After\": 2,\n    \"X-RateLimit-Limit\": 20,\n    \"X-RateLimit-Remaining\": 7,\n    \"X-RateLimit-Reset\" : \"Tue Feb 16 2021 09:02:42 GMT+0100 (Central European Standard Time)\"\n}\n\n ```\n\n# Definitions\n\n## Team\n\nA team is the entity of lemlist that can handle users and billing.\n\n## Credits\n\nCredits are the coins a team uses to enrich emails, LinkedIn URLs, etc. via the enrich route. Each enrichment feature needs a certain amount of credits to run.\n\n## User\n\nYou use a user account to connect to lemlist and send messages via the connected emails or LinkedIn account.\n\n## Campaign\n\nA campaign is the entity to automate outreach. A campaign has multiple sequences composed of steps.\n\n## Lead\n\nA lead is a person that you try to contact via a campaign.\n\n## Activity\n\nAn activity is the history of all the steps.\n\n## Unsubscribe\n\nAn unsubscribe occurs when a person decides they don't want to receive emails from you anymore.\n\n# Authentication\n\nAll API routes use the dedicated subdomain `api.lemlist.com`.\n\nlemlist uses API keys to allow access to the API. You can get your lemlist API key at our [integration page](https://app.lemlist.com/settings/integrations).\n\nYou need to add the `Authorization` header using the `Basic` authentication type. `login:password` **where the login is always empty and the password is the API key**.\n\nOr pass your API key as a query parameter `access_token`.\n\n⚠️ **Don't forget to add the semicolon (**`:`**) before your API key in curl command.**\n\n> To authorize, use this code: \n  \n\n``` shell\ncurl https://api.lemlist.com/api/team \\\n  --user \":YourApiKey\"\n\n ```\n\n> Or \n  \n\n``` shell\ncurl https://api.lemlist.com/api/team?access_token=YourApiKey\n\n ```\n\n**Make sure to replace** **`YourApiKey`** **with your API key.**\n\n# Give feedback\n\nIf you want to report a bug, ask for data, or share with us a use case, please fill this [form](https://lemlist.typeform.com/to/mfVlkyGf). It will help us centralize your needs!"
    },
    "servers": [
        {
            "url": "https://api.lemlist.com/api"
        }
    ],
    "security": [
        {
            "basicAuth": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "components": {
        "securitySchemes": {
            "basicAuth": {
                "type": "http",
                "scheme": "basic",
                "description": "Use an empty username and your API key as the password"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "in": "query",
                "name": "access_token",
                "description": "Your API key as a query parameter"
            }
        }
    },
    "paths": {
        "/team": {
            "get": {
                "summary": "Get Team",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "userIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "createdBy": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "hooks": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "_id": {
                                                        "type": "string"
                                                    },
                                                    "targetUrl": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    },
                                                    "createdAt": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "zapId": {
                                                        "type": "integer"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "campaignId": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "beta": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "slackWebhook": {
                                            "type": "string",
                                            "format": "uri"
                                        },
                                        "invitedUsers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "email": {
                                                        "type": "string",
                                                        "format": "email"
                                                    },
                                                    "role": {
                                                        "type": "string"
                                                    },
                                                    "invitedBy": {
                                                        "type": "string"
                                                    },
                                                    "invitedAt": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                }
                                            }
                                        },
                                        "agency": {
                                            "type": "string"
                                        },
                                        "pictureId": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "tea_c123fg5h8ijKL9noP",
                                    "name": "lemlist-admin",
                                    "userIds": [
                                        "usr_V7dQtF3sBnOv6LY5w",
                                        "usr_P5jMxR2yZhLt8BC4t",
                                        "usr_K2gTwJ7vXpRs3NF8p"
                                    ],
                                    "createdBy": "usr_H8wrBoV4mtQx2NP6k",
                                    "createdAt": "2018-02-22T08:52:30.732Z",
                                    "hooks": [
                                        {
                                            "_id": "hoo_3JKlmnOp7qrStuvWx",
                                            "targetUrl": "https://hooks.zapier.com/hooks/standard/*your-webhook-id*/",
                                            "createdAt": "2020-04-07T09:12:34.674Z",
                                            "zapId": 83355551,
                                            "type": "emailsOpened",
                                            "campaignId": "cam_A1B2C3D4E5F6G7H8I9"
                                        },
                                        {
                                            "_id": "hoo_4LMnopQr8stUvWxYz",
                                            "targetUrl": "https://hooks.zapier.com/hooks/standard/*your-webhook-id*/",
                                            "createdAt": "2020-05-05T09:58:17.795Z",
                                            "zapId": 86330503,
                                            "type": "emailsOpened",
                                            "campaignId": "cam_K9L8M7N6O5P4Q3R2S1"
                                        }
                                    ],
                                    "beta": [
                                        "scroll"
                                    ],
                                    "slackWebhook": "https://hooks.slack.com/services/REDACTED/REDACTED/REDACTED",
                                    "invitedUsers": [
                                        {
                                            "email": "emily.johnson@example.com",
                                            "role": "admin",
                                            "invitedBy": "usr_A1xPwN8zYkGt9JD3q",
                                            "invitedAt": "2023-11-22T14:14:04.617Z"
                                        },
                                        {
                                            "email": "david.wilson@example.com",
                                            "role": "member",
                                            "invitedBy": "usr_L9mKrU5vWpHt2ZX1r",
                                            "invitedAt": "2024-04-03T21:55:08.105Z"
                                        }
                                    ],
                                    "agency": "usr_H8wrBoV4mtQx2NP6k",
                                    "pictureId": "fil_AaBbCcDdEeFfGgHhI8.png"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/team/senders": {
            "get": {
                "summary": "Get Team Senders",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "description": "Filter by campaign's state (running, paused, draft, ended, archived, errors)",
                        "example": "running",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "running",
                                "paused",
                                "draft",
                                "ended",
                                "archived",
                                "errors"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "userId": {
                                                "type": "string"
                                            },
                                            "campaigns": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "_id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "sendingChannels": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "userId": "usr_T3dhQkG8xzCv4MU1e",
                                        "campaigns": [
                                            {
                                                "_id": "cam_A1B2C3D4E5F6G7H8I9",
                                                "name": "Insights Outreach 2024",
                                                "status": "draft",
                                                "sendingChannels": [
                                                    "linkedinInvite",
                                                    "linkedinVisit",
                                                    "linkedinSend",
                                                    "email"
                                                ]
                                            },
                                            {
                                                "_id": "cam_K9L8M7N6O5P4Q3R2S1",
                                                "name": "Discover Solutions Campaign",
                                                "status": "ended",
                                                "sendingChannels": [
                                                    "linkedinInvite",
                                                    "email"
                                                ]
                                            },
                                            {
                                                "_id": "cam_T3U4V5W6X7Y8Z9A1B2",
                                                "name": "Unlock Potential Initiative",
                                                "status": "running",
                                                "sendingChannels": [
                                                    "linkedinInvite"
                                                ]
                                            },
                                            {
                                                "_id": "cam_M5N4O3P2Q1R9S8T7U6",
                                                "name": "Future Innovations Outreach",
                                                "status": "paused",
                                                "sendingChannels": [
                                                    "linkedinInvite",
                                                    "email"
                                                ]
                                            },
                                            {
                                                "_id": "cam_G6H7I8J9K0L1M2N3O4",
                                                "name": "Insightful Solutions Drive",
                                                "status": "ended",
                                                "sendingChannels": [
                                                    "linkedinInvite",
                                                    "linkedinVisit",
                                                    "linkedinSend",
                                                    "email"
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "userId": "usr_L7vsBnX5ykPw2TA9r",
                                        "campaigns": [
                                            {
                                                "_id": "cam_K9L8M7N6O5P4Q3R2S1",
                                                "name": "Discover Solutions Campaign",
                                                "status": "ended",
                                                "sendingChannels": [
                                                    "email"
                                                ]
                                            },
                                            {
                                                "_id": "cam_T3U4V5W6X7Y8Z9A1B2",
                                                "name": "Unlock Potential Initiative",
                                                "status": "running",
                                                "sendingChannels": [
                                                    "linkedinVisit"
                                                ]
                                            },
                                            {
                                                "_id": "cam_M5N4O3P2Q1R9S8T7U6",
                                                "name": "Future Innovations Outreach",
                                                "status": "paused",
                                                "sendingChannels": [
                                                    "email"
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/team/credits": {
            "get": {
                "summary": "Get Team Credits",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "credits": {
                                            "type": "integer"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "remaining": {
                                                    "type": "object",
                                                    "properties": {
                                                        "total": {
                                                            "type": "integer"
                                                        },
                                                        "freemium": {
                                                            "type": "integer"
                                                        },
                                                        "subscription": {
                                                            "type": "integer"
                                                        },
                                                        "gifted": {
                                                            "type": "integer"
                                                        },
                                                        "paid": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "credits": 100,
                                    "details": {
                                        "remaining": {
                                            "total": 100,
                                            "freemium": 0,
                                            "subscription": 80,
                                            "gifted": 10,
                                            "paid": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/team/crmUsers": {
            "get": {
                "summary": "Get Team CRM Users",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "userId": {
                                                "type": "string"
                                            },
                                            "crm": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "userId": "usr_h47tiJr87Zn7XtQHi",
                                        "crm": "salesforce"
                                    },
                                    {
                                        "userId": "usr_h47tiJr87Zn7XtQHi",
                                        "crm": "hubspot"
                                    },
                                    {
                                        "userId": "usr_h47tiJr87Zn7XtQHi",
                                        "crm": "pipedrive"
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/users/{userId}": {
            "parameters": [
                {
                    "name": "userId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the user",
                    "example": "usr_QAucgYReK6EmMB3Cz",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get User",
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email"
                                        },
                                        "role": {
                                            "type": "string"
                                        },
                                        "linkedIn": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "boolean"
                                                },
                                                "inviteLimit": {
                                                    "type": "integer"
                                                },
                                                "sendLimit": {
                                                    "type": "integer"
                                                },
                                                "visitLimit": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "mailboxes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "_id": {
                                                        "type": "string"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "format": "email"
                                                    },
                                                    "provider": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "lemlist": {
                                                        "type": "object",
                                                        "properties": {
                                                            "emailLimit": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    },
                                                    "lemwarm": {
                                                        "type": "object",
                                                        "properties": {
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "usr_QAucgYReK6EmMB3Cz",
                                    "email": "example@lempire.co",
                                    "role": "admin",
                                    "linkedIn": {
                                        "status": true,
                                        "inviteLimit": 25,
                                        "sendLimit": 33,
                                        "visitLimit": 36
                                    },
                                    "mailboxes": [
                                        {
                                            "_id": "usm_bsdepN6jb8zftK9Ns",
                                            "email": "example@gmail.com",
                                            "provider": "google",
                                            "status": "ERROR",
                                            "lemlist": {
                                                "emailLimit": 50
                                            },
                                            "lemwarm": {
                                                "active": false
                                            }
                                        },
                                        {
                                            "_id": "usm_gPKrqoNxaXxScTpPh",
                                            "email": "example@outlook.com",
                                            "status": "ERROR",
                                            "lemlist": {
                                                "emailLimit": 50
                                            },
                                            "lemwarm": {
                                                "active": false
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/campaigns": {
            "get": {
                "summary": "Get Many Campaigns",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset from the start. For pagination.",
                        "example": "24",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Number of campaigns to retrieve. Default: 100. Maximum: 100.",
                        "example": "2",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "required": false,
                        "description": "Set to 'v2' to use the latest version",
                        "example": "v2",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1",
                                "v2"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Page number to retrieve",
                        "example": "1",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "required": false,
                        "description": "The field by which to sort. Currently, only 'createdAt' is supported.",
                        "example": "createdAt",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "createdAt"
                            ]
                        }
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "required": false,
                        "description": "The sort direction. Use 'desc' for descending order; any other value (or omission) will sort in ascending order.",
                        "example": "desc",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "description": "The campaign status. Can be: running, draft, archived, ended, paused, errors. Note: a campaign can be in multiple statuses at one time (e.g., a paused campaign with errors).",
                        "example": "running",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "running",
                                "draft",
                                "archived",
                                "ended",
                                "paused",
                                "errors"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "_id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "labels": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "createdAt": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "createdBy": {
                                                "type": "string"
                                            },
                                            "status": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "_id": "cam_A1B2C3D4E5F6G7H8I9",
                                        "name": "Insights Outreach 2024",
                                        "labels": [
                                            "Insightful"
                                        ],
                                        "createdAt": "2024-02-29T11:00:11.293Z",
                                        "createdBy": "usr_T3dhQkG8xzCv4MU1e",
                                        "status": "running"
                                    },
                                    {
                                        "_id": "cam_K9L8M7N6O5P4Q3R2S1",
                                        "name": "Discover Solutions Campaign",
                                        "labels": [
                                            "Solutions",
                                            "Future-Ready"
                                        ],
                                        "createdAt": "2024-02-29T11:00:11.293Z",
                                        "createdBy": "usr_T3dhQkG8xzCv4MU1e",
                                        "archived": true,
                                        "status": "ended",
                                        "isEnded": true
                                    },
                                    {
                                        "_id": "cam_M5N4O3P2Q1R9S8T7U6",
                                        "name": "Future Innovations Outreach",
                                        "createdAt": "2024-02-15T09:00:15.272Z",
                                        "createdBy": "usr_T3dhQkG8xzCv4MU1e",
                                        "status": "paused"
                                    },
                                    {
                                        "_id": "cam_G6H7I8J9K0L1M2N3O4",
                                        "name": "Insightful Solutions Drive",
                                        "createdAt": "2024-01-25T13:00:11.293Z",
                                        "createdBy": "usr_T3dhQkG8xzCv4MU1e",
                                        "labels": [
                                            "Insightful",
                                            "Solutions"
                                        ],
                                        "status": "draft",
                                        "hasError": true
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Campaign",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "sequenceId": {
                                            "type": "string"
                                        },
                                        "scheduleIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "teamId": {
                                            "type": "string"
                                        },
                                        "createdBy": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "scannedCount": {
                                            "type": "integer"
                                        },
                                        "reviewedCount": {
                                            "type": "integer"
                                        },
                                        "inSequenceLeadCount": {
                                            "type": "integer"
                                        },
                                        "variableKeys": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "senders": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "sendUsers": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "displayedVariableKeys": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "emoji": {
                                            "type": "string"
                                        },
                                        "stopOnEmailReplied": {
                                            "type": "boolean"
                                        },
                                        "crmOpportunitiesOnTask": {
                                            "type": "boolean"
                                        },
                                        "unsubscribe": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "crm": {
                                            "type": "string"
                                        },
                                        "crmUserId": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "cam_WN3M22c3gDs4eQDXN",
                                    "sequenceId": "seq_hPj7N88tCgpFYgtnj",
                                    "scheduleIds": [
                                        "skd_isFGZkjSsvJZ7CfRx"
                                    ],
                                    "teamId": "tea_MtScZ2GexXzHXRdTr",
                                    "createdBy": "usr_XCQktNJNa79X5Tvnh",
                                    "createdAt": "2025-01-16T13:53:22.726Z",
                                    "state": "running",
                                    "scannedCount": 0,
                                    "reviewedCount": 0,
                                    "inSequenceLeadCount": 0,
                                    "variableKeys": [],
                                    "senders": [],
                                    "sendUsers": [],
                                    "displayedVariableKeys": [
                                        "companyName"
                                    ],
                                    "emoji": "🚀",
                                    "stopOnEmailReplied": true,
                                    "crmOpportunitiesOnTask": true,
                                    "unsubscribe": "campaign",
                                    "name": "My new campaign",
                                    "crm": "hubspot",
                                    "crmUserId": "usr_BXJcMBSk7pwhdqAL2"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the campaign"
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            },
                            "example": {
                                "name": "My new campaign"
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{campaignId}": {
            "parameters": [
                {
                    "name": "campaignId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the campaign",
                    "example": "cam_A1B2C3D4E5F6G7H8I9",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get Campaign",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "labels": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "createdBy": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "cam_A1B2C3D4E5F6G7H8I9",
                                    "name": "Insights Outreach 2024",
                                    "labels": [
                                        "Insightful"
                                    ],
                                    "createdAt": "2024-02-29T11:00:11.293Z",
                                    "createdBy": "usr_T3dhQkG8xzCv4MU1e",
                                    "status": "running"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "summary": "Update Campaign",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "stopOnEmailReplied": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "name": "New campaign name",
                                    "stopOnEmailReplied": false
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The campaign name"
                                    },
                                    "stopOnEmailReplied": {
                                        "type": "boolean",
                                        "description": "Stop the campaign when a lead replies by email"
                                    },
                                    "stopOnMeetingBooked": {
                                        "type": "boolean",
                                        "description": "Stop the campaign when a meeting is booked"
                                    },
                                    "stopOnLinkClicked": {
                                        "type": "boolean",
                                        "description": "Stop the campaign when a link is clicked"
                                    },
                                    "leadsPausedByInterest": {
                                        "type": "boolean",
                                        "description": "Pause leads based on interest"
                                    },
                                    "opportunityReplied": {
                                        "type": "boolean",
                                        "description": "Create an opportunity when a lead replies"
                                    },
                                    "opportunityClicked": {
                                        "type": "boolean",
                                        "description": "Create an opportunity when a lead clicks a link"
                                    },
                                    "autoLeadInterest": {
                                        "type": "boolean",
                                        "description": "Automatically detect lead interest"
                                    },
                                    "disableTrackOpen": {
                                        "type": "boolean",
                                        "description": "Disable tracking of email opens"
                                    },
                                    "disableTrackClick": {
                                        "type": "boolean",
                                        "description": "Disable tracking of link clicks"
                                    },
                                    "disableTrackReply": {
                                        "type": "boolean",
                                        "description": "Disable tracking of email replies"
                                    },
                                    "stopOnLinkClickedFilter": {
                                        "type": "string",
                                        "description": "Filter for which link clicks should stop the campaign"
                                    }
                                }
                            },
                            "example": {
                                "name": "New campaign name",
                                "stopOnEmailReplied": false,
                                "stopOnMeetingBooked": true,
                                "stopOnLinkClicked": false
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{campaignId}/pause": {
            "parameters": [
                {
                    "name": "campaignId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the campaign",
                    "example": "cam_A1B2C3D4E5F6G7H8I9",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "summary": "Pause Campaign",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "cam_A1B2C3D4E5F6G7H8I9",
                                    "state": "paused"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{campaignId}/sequences": {
            "parameters": [
                {
                    "name": "campaignId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the campaign",
                    "example": "cam_A1B2C3D4E5F6G7H8I9",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get Campaign Sequences",
                "tags": [
                    "Sequences"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object",
                                        "properties": {
                                            "_id": {
                                                "type": "string"
                                            },
                                            "steps": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object"
                                                }
                                            },
                                            "level": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "seq_p9qaCXrptS8XcPPNK": {
                                        "_id": "seq_p9qaCXrptS8XcPPNK",
                                        "steps": [
                                            {
                                                "_id": "stp_wHzzFZntP2FvJbeb6",
                                                "type": "linkedinInvite",
                                                "delay": 0,
                                                "emailTemplateId": "etp_5qsoi5kneNkakmPd5",
                                                "index": 1,
                                                "message": "Test invite message"
                                            },
                                            {
                                                "_id": "stp_EtKsaSW62vyFhMME4",
                                                "type": "conditional",
                                                "conditions": [
                                                    {
                                                        "sequenceId": "seq_jgBhmiQYyRd3gW8Sb",
                                                        "label": "Accepted invite",
                                                        "key": "linkedinInviteAccepted",
                                                        "delay": 1,
                                                        "delayType": "waitUntil"
                                                    },
                                                    {
                                                        "sequenceId": "seq_ET4kSR3GAkcRqp2TE",
                                                        "fallback": true
                                                    }
                                                ],
                                                "index": 2
                                            }
                                        ],
                                        "level": 0
                                    },
                                    "seq_jgBhmiQYyRd3gW8Sb": {
                                        "_id": "seq_jgBhmiQYyRd3gW8Sb",
                                        "parentId": "seq_p9qaCXrptS8XcPPNK",
                                        "conditionalStepIndex": 1,
                                        "steps": [
                                            {
                                                "_id": "stp_vMqX4wgSmqMXd2env",
                                                "type": "linkedinSend",
                                                "delay": 1,
                                                "emailTemplateId": "etp_DJqHmozZtYz4JWyyB",
                                                "index": 3,
                                                "message": "Test message"
                                            }
                                        ],
                                        "level": 1
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sequences/{sequenceId}/steps": {
            "parameters": [
                {
                    "name": "sequenceId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the sequence",
                    "example": "seq_p9qaCXrptS8XcPPNK",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "summary": "Add Step to Sequence",
                "tags": [
                    "Sequences"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "delay": {
                                            "type": "integer"
                                        },
                                        "emailTemplateId": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "stp_Z2539g5BB4qCoZBgf",
                                    "type": "linkedinInvite",
                                    "delay": 2,
                                    "emailTemplateId": "etp_LWuaE5JG4Bm4riPf5",
                                    "message": "Hello, I would like...."
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "description": "The type of step (e.g., email, linkedinInvite, linkedinSend)"
                                    },
                                    "delay": {
                                        "type": "integer",
                                        "description": "Delay in days before executing this step"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "The message content for the step"
                                    }
                                }
                            },
                            "example": {
                                "type": "linkedinInvite",
                                "delay": 2,
                                "message": "Hello, I would like...."
                            }
                        }
                    }
                }
            }
        },
        "/sequences/{sequenceId}/steps/{stepId}": {
            "parameters": [
                {
                    "name": "sequenceId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the sequence",
                    "example": "seq_p9qaCXrptS8XcPPNK",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "stepId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the step",
                    "example": "stp_Z2539g5BB4qCoZBgf",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "summary": "Update Sequence Step",
                "tags": [
                    "Sequences"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "delay": {
                                            "type": "integer"
                                        },
                                        "emailTemplateId": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "stp_Z2539g5BB4qCoZBgf",
                                    "type": "linkedinInvite",
                                    "delay": 0,
                                    "emailTemplateId": "etp_xNieSJDTnd2YZ46LF",
                                    "message": "Hello, I want to...."
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "delay": {
                                        "type": "integer",
                                        "description": "Delay in days before executing this step"
                                    },
                                    "message": {
                                        "type": "string",
                                        "description": "The message content for the step"
                                    }
                                }
                            },
                            "example": {
                                "delay": 0,
                                "message": "Hello, I want to...."
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete Sequence Step",
                "tags": [
                    "Sequences"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "ok": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/schedules": {
            "get": {
                "summary": "Get Many Schedules",
                "tags": [
                    "Schedules"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "The page number to retrieve",
                        "example": "1",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "The number of records to skip. Used if page is not provided.",
                        "example": "0",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "The maximum number of records to return",
                        "example": "2",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "required": false,
                        "description": "The field by which to sort the schedules. Currently, only 'createdAt' is supported.",
                        "example": "createdAt",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "createdAt"
                            ]
                        }
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "required": false,
                        "description": "The sort direction. Use 'desc' for descending order; any other value (or omission) will sort in ascending order.",
                        "example": "desc",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "example": {
                                    "schedules": [
                                        {
                                            "_id": "skd_Cyf3LZJuJamrmCMrv",
                                            "name": "Test 2",
                                            "secondsToWait": 1200,
                                            "timezone": "Atlantic/Reykjavik",
                                            "start": "08:00",
                                            "end": "18:00",
                                            "weekdays": [
                                                1,
                                                2,
                                                3,
                                                4,
                                                5
                                            ],
                                            "teamId": "tea_b834id4r7skME8mfW",
                                            "createdBy": "usr_F7iPChEQ3pSmuTiCe",
                                            "createdAt": "2025-02-06T16:29:10.217Z"
                                        }
                                    ],
                                    "pagination": {
                                        "totalRecords": 5780,
                                        "currentPage": 1,
                                        "nextPage": 2,
                                        "totalPage": 1927
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Schedule",
                "tags": [
                    "Schedules"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the schedule"
                                    },
                                    "secondsToWait": {
                                        "type": "integer",
                                        "description": "Seconds to wait between actions"
                                    },
                                    "timezone": {
                                        "type": "string",
                                        "description": "Timezone for the schedule (e.g., 'Europe/Paris')"
                                    },
                                    "start": {
                                        "type": "string",
                                        "description": "Start time in HH:MM format"
                                    },
                                    "end": {
                                        "type": "string",
                                        "description": "End time in HH:MM format"
                                    },
                                    "weekdays": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "description": "Array of weekday numbers (1=Monday, 7=Sunday)"
                                    },
                                    "public": {
                                        "type": "boolean",
                                        "description": "Whether the schedule is public"
                                    }
                                },
                                "required": [
                                    "name",
                                    "timezone",
                                    "start",
                                    "end",
                                    "weekdays"
                                ]
                            },
                            "example": {
                                "name": "Default schedule",
                                "secondsToWait": 120,
                                "timezone": "Europe/Paris",
                                "start": "09:00",
                                "end": "18:00",
                                "weekdays": [
                                    1,
                                    2,
                                    3,
                                    4,
                                    5
                                ],
                                "public": false
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "example": {
                                    "_id": "skd_JTb4gjdiizqPoYqzh",
                                    "name": "Default schedule",
                                    "secondsToWait": 120,
                                    "timezone": "Europe/Paris",
                                    "start": "09:00",
                                    "end": "18:00",
                                    "weekdays": [
                                        1,
                                        2,
                                        3,
                                        4,
                                        5
                                    ],
                                    "public": false,
                                    "teamId": "tea_Lq4kN7R2pqEA4YFst",
                                    "createdBy": "usr_n2PG5aHnsGErYS2Yg",
                                    "createdAt": "2025-01-17T15:17:59.207Z"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/schedules/{scheduleId}": {
            "parameters": [
                {
                    "name": "scheduleId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the schedule",
                    "example": "skd_JTb4gjdiizqPoYqzh",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get Schedule",
                "tags": [
                    "Schedules"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "example": {
                                    "_id": "skd_JTb4gjdiizqPoYqzh",
                                    "name": "Default schedule",
                                    "secondsToWait": 120,
                                    "timezone": "Europe/Paris",
                                    "start": "09:00",
                                    "end": "18:00",
                                    "weekdays": [
                                        1,
                                        2,
                                        3,
                                        4,
                                        5
                                    ],
                                    "teamId": "tea_Lq4kN7R2pqEA4YFst",
                                    "createdBy": "usr_n2PG5aHnsGErYS2Yg",
                                    "createdAt": "2025-01-17T15:17:59.207Z"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "summary": "Update Schedule",
                "tags": [
                    "Schedules"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "secondsToWait": {
                                        "type": "integer"
                                    },
                                    "timezone": {
                                        "type": "string"
                                    },
                                    "start": {
                                        "type": "string"
                                    },
                                    "end": {
                                        "type": "string"
                                    },
                                    "weekdays": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "public": {
                                        "type": "boolean"
                                    }
                                }
                            },
                            "example": {
                                "name": "Schedule new name"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "delete": {
                "summary": "Delete Schedule",
                "tags": [
                    "Schedules"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "example": {
                                    "_id": "skd_L2sKZ3HMddtrfmHGr"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{campaignId}/schedules/": {
            "parameters": [
                {
                    "name": "campaignId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the campaign",
                    "example": "cam_A1B2C3D4E5F6G7H8I9",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get Campaign Schedules",
                "tags": [
                    "Schedules"
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/campaigns/{campaignId}/schedules/{scheduleId}": {
            "parameters": [
                {
                    "name": "campaignId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the campaign",
                    "example": "cam_A1B2C3D4E5F6G7H8I9",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "scheduleId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the schedule",
                    "example": "skd_CBHNKLZsZr3FFJHPK",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "summary": "Associate Schedule with Campaign",
                "tags": [
                    "Schedules"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "example": {
                                    "scheduleId": "skd_CBHNKLZsZr3FFJHPK",
                                    "campaignId": "cam_SaAarzTsXms8BENvR"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/leads": {
            "get": {
                "summary": "Get Lead by Email or ID",
                "tags": [
                    "Leads"
                ],
                "description": "Retrieve a lead using either their email address or lead ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": false,
                        "description": "The lead ID. You should use at least one of 'email' or 'id'.",
                        "example": "lea_7kMNQwplxvvD2hf5z",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "description": "The lead email. You should use at least one of 'email' or 'id'.",
                        "example": "john.doe@domain.com",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "required": false,
                        "description": "API version. Default: v1",
                        "example": "v2",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1",
                                "v2"
                            ]
                        }
                    }
                ],
[...]
