{
  "openapi": "3.0.0",
  "info": {
    "title": "lemlist API",
    "version": "1.0.0",
    "description": "Welcome to the lemlist Developer Documentation.\n\nlemlist is very customizable and open. You'll find on this page all the API and integration you can do with lemlist.\n\n# Rate Limit\n\nlemlist's API rate limits requests in order to prevent abuse and overload of our services.  \nRate limits are applied on all routes and per API key performing the request.  \nThe rate limits are **20** requests per **2** seconds.  \nThe response provides any information you may need about it:\n\n| Header | Description |\n| --- | --- |\n| Retry-After | The number of seconds in which you can retry |\n| X-RateLimit-Limit | The maximum requests in that time |\n| X-RateLimit-Remaining | The number of remaining requests you can make |\n| X-RateLimit-Reset | The date when the rate limit will reset |\n\n_Example of values for the rate limit headers_\n\n``` json\n{\n    \"Retry-After\": 2,\n    \"X-RateLimit-Limit\": 20,\n    \"X-RateLimit-Remaining\": 7,\n    \"X-RateLimit-Reset\" : \"Tue Feb 16 2021 09:02:42 GMT+0100 (Central European Standard Time)\"\n}\n\n ```\n\n# Definitions\n\n## Team\n\nA team is the entity of lemlist that can handle users and billing.\n\n## Credits\n\nCredits are the coins a team uses to enrich emails, LinkedIn URLs, etc. via the enrich route. Each enrichment feature needs a certain amount of credits to run.\n\n## User\n\nYou use a user account to connect to lemlist and send messages via the connected emails or LinkedIn account.\n\n## Campaign\n\nA campaign is the entity to automate outreach. A campaign has multiple sequences composed of steps.\n\n## Lead\n\nA lead is a person that you try to contact via a campaign.\n\n## Activity\n\nAn activity is the history of all the steps.\n\n## Unsubscribe\n\nAn unsubscribe occurs when a person decides they don't want to receive emails from you anymore.\n\n# Authentication\n\nAll API routes use the dedicated subdomain `api.lemlist.com`.\n\nlemlist uses API keys to allow access to the API. You can get your lemlist API key at our [integration page](https://app.lemlist.com/settings/integrations).\n\nYou need to add the `Authorization` header using the `Basic` authentication type. `login:password` **where the login is always empty and the password is the API key**.\n\n⚠️ **Don't forget to add the semicolon (**`:`**) before your API key in curl command.**\n\n> To authorize, use this code: \n  \n\n``` shell\ncurl https://api.lemlist.com/api/team \\\n  --user \":YourApiKey\"\n\n ```\n\n**Make sure to replace** **`YourApiKey`** **with your API key.**\n\n# Give feedback\n\nIf you want to report a bug, ask for data, or share with us a use case, please fill this [form](https://lemlist.typeform.com/to/mfVlkyGf). It will help us centralize your needs!"
  },
  "servers": [
    {
      "url": "https://api.lemlist.com/api"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "Team": {
        "type": "object",
        "description": "The organization account that manages users and billing.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique team identifier"
          },
          "name": {
            "type": "string",
            "description": "Team name"
          },
          "userIds": {
            "type": "array",
            "description": "User IDs in this team",
            "items": {
              "type": "string"
            }
          },
          "createdBy": {
            "type": "string",
            "description": "User ID who created the team"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the team was created"
          },
          "hooks": {
            "type": "array",
            "description": "Webhooks configured for the team",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          },
          "beta": {
            "type": "array",
            "description": "Beta features enabled for the team",
            "items": {
              "type": "string"
            }
          },
          "slackWebhook": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri",
                "description": "Slack webhook URL for notifications"
              },
              "failCounter": {
                "type": "integer",
                "description": "Number of consecutive failed notifications"
              }
            },
            "description": "Slack webhooks configured for the team"
          },
          "invitedUsers": {
            "type": "array",
            "description": "Pending user invitations",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "role": {
                  "type": "string"
                },
                "invitedBy": {
                  "type": "string"
                },
                "invitedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "agency": {
            "type": "string",
            "description": "Agency identifier if team is part of an agency"
          },
          "pictureId": {
            "type": "string",
            "description": "Team profile picture file ID"
          },
          "customDomain": {
            "type": "string",
            "description": "Custom domain for the team"
          },
          "users": {
            "type": "array",
            "description": "Team members with their basic details. Only returned when the request includes the `version=v2` query parameter.",
            "items": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string",
                  "description": "Unique user identifier"
                },
                "name": {
                  "type": "string",
                  "description": "User's full name"
                },
                "email": {
                  "type": "string",
                  "format": "email",
                  "description": "User's primary email address"
                },
                "role": {
                  "type": "string",
                  "description": "User's role in the team"
                }
              }
            }
          }
        }
      },
      "Credits": {
        "type": "object",
        "description": "Credits are the coins a team uses to enrich emails, LinkedIn URLs, etc. Each enrichment feature needs a certain amount of credits to run.",
        "properties": {
          "credits": {
            "type": "integer",
            "description": "Total credits remaining"
          },
          "details": {
            "type": "object",
            "properties": {
              "remaining": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "integer",
                    "description": "Total credits remaining"
                  },
                  "freemium": {
                    "type": "integer",
                    "description": "Freemium credits remaining"
                  },
                  "subscription": {
                    "type": "integer",
                    "description": "Subscription credits remaining"
                  },
                  "gifted": {
                    "type": "integer",
                    "description": "Gifted credits remaining"
                  },
                  "paid": {
                    "type": "integer",
                    "description": "Paid credits remaining"
                  }
                }
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "description": "A team member account with connected email and/or LinkedIn sending capabilities.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique user identifier"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "role": {
            "type": "string",
            "description": "User role in the team (admin, member, etc.)"
          },
          "linkedIn": {
            "type": "object",
            "description": "LinkedIn integration settings",
            "properties": {
              "linkedinUrl": {
                "type": "string",
                "description": "The LinkedIn URL of the person"
              },
              "status": {
                "type": "boolean",
                "description": "Whether LinkedIn is connected"
              },
              "inviteLimit": {
                "type": "integer",
                "description": "Daily limit for LinkedIn connection invites"
              },
              "sendLimit": {
                "type": "integer",
                "description": "Daily limit for LinkedIn messages"
              },
              "visitLimit": {
                "type": "integer",
                "description": "Daily limit for LinkedIn profile visits"
              }
            }
          },
          "mailboxes": {
            "type": "array",
            "description": "Email mailboxes connected to this user",
            "items": {
              "$ref": "#/components/schemas/Mailbox"
            }
          }
        }
      },
      "Campaign": {
        "type": "object",
        "description": "An automated outreach workflow containing sequences of steps.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique campaign identifier"
          },
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "emoji": {
            "type": "string",
            "description": "Emoji shown next to the campaign name"
          },
          "labels": {
            "type": "array",
            "description": "Categorization labels",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "createdBy": {
            "type": "string",
            "description": "Creator user ID"
          },
          "status": {
            "type": "string",
            "description": "Campaign status",
            "enum": [
              "running",
              "paused",
              "draft",
              "ended",
              "archived",
              "errors"
            ]
          },
          "sequenceId": {
            "type": "string",
            "description": "Main sequence ID"
          },
          "scheduleIds": {
            "type": "array",
            "description": "Associated schedule IDs",
            "items": {
              "type": "string"
            }
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone the campaign schedule runs in (e.g. \"Europe/Paris\")"
          },
          "teamId": {
            "type": "string",
            "description": "ID of the team that owns this campaign"
          },
          "hasError": {
            "type": "boolean",
            "description": "Whether the campaign has errors"
          },
          "errors": {
            "type": "array",
            "description": "List of error messages if campaign has errors",
            "items": {
              "type": "string"
            }
          },
          "creator": {
            "type": "object",
            "description": "Campaign creator information",
            "properties": {
              "userId": {
                "type": "string",
                "description": "Creator user ID"
              },
              "userEmail": {
                "type": "string",
                "format": "email",
                "description": "Creator email address"
              }
            }
          },
          "senders": {
            "type": "array",
            "description": "Campaign senders configuration",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Sender user ID"
                },
                "email": {
                  "type": "string",
                  "format": "email",
                  "description": "Sender email address"
                },
                "sendUserMailboxId": {
                  "type": "string",
                  "description": "Mailbox ID used for sending"
                }
              }
            }
          }
        }
      },
      "Lead": {
        "type": "object",
        "description": "A contact added to a campaign for outreach. Not to be confused with a contact which is a record in lemlist, but not necessarily added to a campaign.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique lead identifier"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Lead email address"
          },
          "firstName": {
            "type": "string",
            "description": "First name"
          },
          "lastName": {
            "type": "string",
            "description": "Last name"
          },
          "companyName": {
            "type": "string",
            "description": "Company name"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "linkedinUrl": {
            "type": "string",
            "format": "uri",
            "description": "LinkedIn profile URL"
          },
          "picture": {
            "type": "string",
            "format": "uri",
            "description": "Profile picture URL"
          },
          "icebreaker": {
            "type": "string",
            "description": "Personalized icebreaker text"
          },
          "timezone": {
            "type": "string",
            "description": "Lead's timezone in IANA format (e.g., Europe/Paris, America/New_York)"
          },
          "campaignId": {
            "type": "string",
            "description": "Campaign ID the lead belongs to"
          },
          "campaignName": {
            "type": "string",
            "description": "Campaign name the lead belongs to"
          },
          "isUnsubscribed": {
            "type": "boolean",
            "description": "Whether the lead is unsubscribed"
          }
        }
      },
      "Activity": {
        "type": "object",
        "description": "A recorded action or event in a campaign sequence (email sent, opened, clicked, etc.).",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique activity identifier"
          },
          "type": {
            "type": "string",
            "description": "Activity type (emailOpened, emailClicked, emailReplied, etc.)"
          },
          "leadId": {
            "type": "string",
            "description": "Associated lead ID"
          },
          "campaignId": {
            "type": "string",
            "description": "Campaign ID"
          },
          "sequenceId": {
            "type": "string",
            "description": "Sequence ID"
          },
          "stepId": {
            "type": "string",
            "description": "Stable identifier of the sequence step that produced this activity. Present on every activity created from now on; older activities gain it progressively as historical records are backfilled, so treat it as optional when reading history."
          },
          "sequenceStep": {
            "type": "number",
            "description": "0-based position of the step within the sequence. Still emitted on every activity, unchanged. Prefer `stepId` for a reference that survives steps being reordered."
          },
          "totalSequenceStep": {
            "type": "number",
            "description": "0-based count of the sequence steps already delivered to this lead."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the activity occurred"
          }
        }
      },
      "Unsubscribe": {
        "type": "object",
        "description": "A record of someone opting out of receiving emails.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique unsubscribe identifier"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Unsubscribed email address"
          },
          "campaignId": {
            "type": "string",
            "description": "Campaign ID from which the person unsubscribed"
          },
          "campaignName": {
            "type": "string",
            "description": "Campaign name from which the person unsubscribed"
          },
          "unsubscribedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Unsubscribe timestamp"
          },
          "scope": {
            "type": "string",
            "description": "Unsubscribe scope",
            "enum": [
              "campaign",
              "team",
              "global"
            ]
          }
        }
      },
      "UnsubscribedVariable": {
        "type": "object",
        "description": "A variable (email, domain, LinkedIn URL, or phone number) that has been unsubscribed.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique identifier for the unsubscribe entry"
          },
          "value": {
            "type": "string",
            "description": "The unsubscribed variable (email, domain, LinkedIn URL, or phone number)"
          },
          "source": {
            "type": "string",
            "description": "Origin of the unsubscription",
            "enum": [
              "api",
              "bounced",
              "lead",
              "user",
              "abuse"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the variable was unsubscribed"
          }
        }
      },
      "ContactSubscriptionStatus": {
        "type": "object",
        "description": "Subscription status of a contact.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Contact identifier"
          },
          "doNotContact": {
            "type": "boolean",
            "description": "Whether the contact is unsubscribed"
          }
        }
      },
      "Enrich": {
        "type": "object",
        "description": "Contact information discovered through data enrichment (emails, phone numbers, LinkedIn URLs).",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique enrichment request identifier"
          },
          "status": {
            "type": "string",
            "description": "Enrichment status",
            "enum": [
              "pending",
              "completed",
              "failed"
            ]
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Found email address"
          },
          "phone": {
            "type": "string",
            "description": "Found phone number"
          },
          "firstName": {
            "type": "string",
            "description": "Found first name"
          },
          "lastName": {
            "type": "string",
            "description": "Found last name"
          },
          "companyName": {
            "type": "string",
            "description": "Found company name"
          },
          "linkedinUrl": {
            "type": "string",
            "format": "uri",
            "description": "Found LinkedIn URL"
          },
          "credits": {
            "type": "integer",
            "description": "Credits consumed"
          }
        }
      },
      "Task": {
        "type": "object",
        "description": "A manual action assigned to a user to complete.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique task identifier"
          },
          "type": {
            "type": "string",
            "description": "Task type"
          },
          "leadId": {
            "type": "string",
            "description": "Associated lead ID"
          },
          "campaignId": {
            "type": "string",
            "description": "Campaign ID"
          },
          "userId": {
            "type": "string",
            "description": "Assigned user ID"
          },
          "status": {
            "type": "string",
            "description": "Task status",
            "enum": [
              "pending",
              "completed",
              "ignored"
            ]
          },
          "dueDate": {
            "type": "string",
            "format": "date-time",
            "description": "Due date timestamp"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Completion timestamp"
          }
        }
      },
      "FieldRejection": {
        "type": "object",
        "description": "A value lemlist refused to write on a Contact or Company, with the reason why. Surfaced under `fieldRejections[]` on those objects; filter a list endpoint to only flagged records via the `fieldRejectionReason` query param.",
        "properties": {
          "field": {
            "type": "string",
            "description": "The record field the rejected value targeted (e.g. `emails`, `linkedinUrl`, `domain`)."
          },
          "reason": {
            "type": "string",
            "description": "Why the value was rejected, prefixed by its origin — `enrichment_*` (raised while enriching) or `crm_sync_*` (raised during CRM sync). Same values accepted by the `fieldRejectionReason` query param."
          },
          "source": {
            "type": "string",
            "description": "Where the rejection came from — an enrichment source (`lemrich`) or a CRM provider (`hubspot`, `salesforce`, `pipedrive`)."
          },
          "conflictingRecordId": {
            "type": "string",
            "description": "For duplicate reasons, the id of the record that already holds the value — use it to merge or remap before resolving the duplicate. Omitted for non-duplicate reasons."
          },
          "rejectedValue": {
            "type": "string",
            "description": "The value that was refused."
          },
          "rejectedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the rejection was recorded."
          }
        }
      },
      "Contact": {
        "type": "object",
        "description": "A contact record in your CRM. Not to be confused with a lead which is a contact specifically added to a campaign.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique contact identifier"
          },
          "teamId": {
            "type": "string",
            "description": "Team identifier the contact belongs to"
          },
          "fullName": {
            "type": "string",
            "description": "Contact's calculated full name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact's primary email address"
          },
          "fields": {
            "type": "object",
            "description": "Custom fields associated with the contact",
            "additionalProperties": true
          },
          "campaigns": {
            "type": "array",
            "description": "List of campaigns the contact is associated with",
            "items": {
              "type": "object",
              "properties": {
                "campaignId": {
                  "type": "string"
                },
                "campaignState": {
                  "type": "string"
                },
                "leadState": {
                  "type": "string"
                },
                "leadId": {
                  "type": "string"
                }
              }
            }
          },
          "ownerId": {
            "type": "string",
            "description": "ID of the user who owns this contact"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Contact creation timestamp"
          },
          "createdBy": {
            "type": "string",
            "description": "ID of the user who created the contact"
          },
          "unsubscribed": {
            "type": "boolean",
            "description": "Whether the contact is globally unsubscribed. When true, no outreach will be sent to this contact."
          },
          "fieldRejections": {
            "type": "array",
            "description": "Values lemlist refused to write on this contact, each with its reason. Empty when none. Filter the list endpoint to only flagged contacts via `GET /contacts?fieldRejectionReason=...`.",
            "items": {
              "$ref": "#/components/schemas/FieldRejection"
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "description": "An organization record in your CRM.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique company identifier"
          },
          "name": {
            "type": "string",
            "description": "Company name (may also be present under fields.name)"
          },
          "domain": {
            "type": "string",
            "description": "Website domain"
          },
          "industry": {
            "type": "string",
            "description": "Industry sector"
          },
          "size": {
            "type": "string",
            "description": "Company size"
          },
          "location": {
            "type": "string",
            "description": "Geographic location"
          },
          "fields": {
            "type": "object",
            "description": "Flexible key/value fields of the company (e.g., name, picture, industry, location, size, foundedOn)",
            "additionalProperties": true
          },
          "createdBy": {
            "type": "string",
            "description": "User ID who created the company"
          },
          "ownerId": {
            "type": "string",
            "description": "User ID of the owner of the company"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "fieldRejections": {
            "type": "array",
            "description": "Values lemlist refused to write on this company, each with its reason. Empty when none. Filter the list endpoint to only flagged companies via `GET /companies?fieldRejectionReason=...`.",
            "items": {
              "$ref": "#/components/schemas/FieldRejection"
            }
          },
          "crmSync": {
            "type": "object",
            "nullable": true,
            "description": "CRM sync status for the company, resolved against the team's active CRM provider (Hubspot, Salesforce, or Pipedrive). Only present when a CRM is connected. Use this block to monitor sync state and resolve duplicates (e.g. via `GET /companies?crmSyncStatus=unique_index_error_company`).",
            "properties": {
              "provider": {
                "type": "string",
                "enum": [
                  "hubspot",
                  "salesforce",
                  "pipedrive"
                ],
                "description": "Active CRM provider for the team."
              },
              "crmRecordId": {
                "type": "string",
                "nullable": true,
                "description": "Identifier of the company record on the CRM side. `null` when the lemlist company has not been synced yet."
              },
              "syncDisabled": {
                "type": "boolean",
                "description": "When `true`, automatic sync is paused for this company."
              },
              "errors": {
                "type": "array",
                "description": "List of recent sync errors. Empty when the company is synced cleanly.",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Coarse error category (e.g. `CONNECT_FAILED`, `CREATE_FAILED`, `UPDATE_FAILED`)."
                    },
                    "reason": {
                      "type": "string",
                      "description": "Specific error reason. Matches the lowercase form accepted by the `crmSyncStatus` query param (e.g. `UNIQUE_INDEX_ERROR_COMPANY`, `PROPERTY_DOESNT_EXIST`, `REQUIRED_FIELD_MISSING`)."
                    },
                    "raisedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp when the error was last raised."
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Extra context. For `UNIQUE_INDEX_ERROR_COMPANY`, contains `alreadyExistingCompanyId` — the lemlist company that already occupies the conflicting CRM record. Use it to remap contacts onto the right lemlist company before deleting the duplicate."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DatabaseCompany": {
        "type": "object",
        "description": "A company record from lemlist's People database.",
        "properties": {
          "company_id": {
            "type": "integer",
            "description": "Unique company identifier"
          },
          "company_name": {
            "type": "string",
            "description": "Company name"
          },
          "company_website_url": {
            "type": "string",
            "description": "Website URL"
          },
          "company_employee_count": {
            "type": "integer",
            "description": "Employee count"
          },
          "company_industry": {
            "type": "string",
            "description": "Industry sector"
          }
        }
      },
      "CompanyNote": {
        "type": "object",
        "description": "A text note attached to a company record to store information.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique note identifier"
          },
          "teamId": {
            "type": "string",
            "description": "Team ID that owns the company"
          },
          "companyId": {
            "type": "string",
            "description": "Parent company ID"
          },
          "note": {
            "type": "string",
            "description": "Note text content"
          },
          "type": {
            "type": "string",
            "description": "Type of note or activity (e.g., 'annotated')"
          },
          "userId": {
            "type": "string",
            "description": "ID of the user who created the note"
          },
          "sendUserId": {
            "type": "string",
            "description": "ID of the sending user if applicable"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "Sequence": {
        "type": "object",
        "description": "An ordered series of steps within a campaign.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique sequence identifier"
          },
          "campaignId": {
            "type": "string",
            "description": "Parent campaign ID"
          },
          "steps": {
            "type": "array",
            "description": "Ordered list of steps",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "Step": {
        "type": "object",
        "description": "A single action in a sequence (email, LinkedIn message, delay, task, etc.).",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique step identifier"
          },
          "sequenceId": {
            "type": "string",
            "description": "Parent sequence ID"
          },
          "type": {
            "type": "string",
            "description": "Action type",
            "enum": [
              "email",
              "linkedinInvite",
              "linkedinMessage",
              "linkedinVisit",
              "delay",
              "task",
              "api"
            ]
          },
          "order": {
            "type": "integer",
            "description": "Position in sequence"
          },
          "delay": {
            "type": "integer",
            "description": "Wait days before execution"
          },
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "body": {
            "type": "string",
            "description": "Message content"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "abTest": {
            "description": "A/B test state for this email step. `true` while the test runs (leads are split between variant A and B); `\"A\"` or `\"B\"` once a winner is selected (all remaining leads receive the winning template); absent/false when there is no A/B test.",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string",
                "enum": [
                  "A",
                  "B"
                ]
              }
            ]
          },
          "emailTemplateId": {
            "type": "string",
            "description": "Email template ID of variant A"
          },
          "emailTemplateBId": {
            "type": "string",
            "description": "Email template ID of variant B (present when an A/B test exists on the step)"
          }
        }
      },
      "Schedule": {
        "type": "object",
        "description": "Sending time windows defining when campaigns can send messages (days and hours).",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique schedule identifier"
          },
          "name": {
            "type": "string",
            "description": "Schedule name"
          },
          "secondsToWait": {
            "type": "integer",
            "description": "Seconds between sends"
          },
          "timezone": {
            "type": "string",
            "description": "Schedule timezone (e.g., 'Europe/Paris')"
          },
          "start": {
            "type": "string",
            "description": "Daily start time (HH:mm)",
            "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
          },
          "end": {
            "type": "string",
            "description": "Daily end time (HH:mm)",
            "pattern": "^([01]\\d|2[0-3]):[0-5]\\d$"
          },
          "weekdays": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 1,
              "maximum": 7
            },
            "description": "Active weekdays (1=Monday, 7=Sunday)"
          },
          "public": {
            "type": "boolean",
            "description": "Whether the schedule is available as a template for other users"
          },
          "teamId": {
            "type": "string",
            "description": "Unique identifier of the team that owns this schedule"
          },
          "createdBy": {
            "type": "string",
            "description": "Unique identifier of the user who created this schedule"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the schedule was created"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the schedule was deleted (only present if deleted)"
          },
          "deletedBy": {
            "type": "string",
            "description": "Unique identifier of the user who deleted this schedule (only present if deleted)"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "description": "Webhooks send real-time HTTP notifications upon campaign events (opens, clicks, replies, etc.).",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique webhook identifier"
          },
          "targetUrl": {
            "type": "string",
            "format": "uri",
            "description": "Destination URL for event notifications"
          },
          "type": {
            "type": "string",
            "description": "Event type to listen for. Events are grouped by category — see the endpoint docs for a full breakdown.",
            "enum": [
              "contacted",
              "hooked",
              "attracted",
              "warmed",
              "interested",
              "notInterested",
              "emailsSent",
              "emailsOpened",
              "emailsClicked",
              "emailsReplied",
              "emailsBounced",
              "emailsFailed",
              "emailsInterested",
              "emailsNotInterested",
              "emailsUnsubscribed",
              "entityUnsubscribed",
              "variableUnsubscribed",
              "linkedinSent",
              "linkedinOpened",
              "linkedinReplied",
              "linkedinInterested",
              "linkedinNotInterested",
              "linkedinSendFailed",
              "linkedinVisitDone",
              "linkedinVisitFailed",
              "linkedinFollowDone",
              "linkedinFollowFailed",
              "linkedinFollowSkipped",
              "linkedinInviteDone",
              "linkedinInviteFailed",
              "linkedinInviteAccepted",
              "linkedinEndorseDone",
              "linkedinEndorseFailed",
              "linkedinEndorseSkipped",
              "linkedinVoiceNoteDone",
              "linkedinVoiceNoteFailed",
              "linkedinLikeLastPostDone",
              "linkedinLikeLastPostNoPost",
              "linkedinLikeLastPostFailed",
              "linkedinWithdrawInvitationDone",
              "linkedinWithdrawInvitationFailed",
              "whatsappMessageSent",
              "whatsappMessageDelivered",
              "whatsappMessageOpened",
              "whatsappReplied",
              "whatsappMessageFailed",
              "smsSent",
              "smsDelivered",
              "smsReplied",
              "smsFailed",
              "aircallCreated",
              "aircallEnded",
              "aircallDone",
              "aircallInterested",
              "aircallNotInterested",
              "apiDone",
              "apiInterested",
              "apiNotInterested",
              "apiFailed",
              "manualInterested",
              "manualNotInterested",
              "paused",
              "resumed",
              "stopped",
              "campaignComplete",
              "customDomainErrors",
              "connectionIssue",
              "sendLimitReached",
              "lemwarmPaused",
              "annotated",
              "enrichmentDone",
              "enrichmentError",
              "callRecordingDone",
              "callTranscriptDone",
              "inboxLabelUpdated",
              "signalRegistered",
              "deliverabilityAlertTriggered"
            ]
          },
          "campaignId": {
            "type": "string",
            "description": "The ID of the campaign the webhook is associated with (if any)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "zapId": {
            "type": "integer",
            "description": "Zapier integration ID (if the destination is a Zapier webhook)"
          }
        }
      },
      "Report": {
        "type": "object",
        "description": "Aggregated campaign performance statistics (sent, opened, clicked, replied, etc.).",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Campaign ID"
          },
          "campaignName": {
            "type": "string",
            "description": "Campaign name"
          },
          "stats": {
            "type": "object",
            "description": "Performance metrics",
            "properties": {
              "sent": {
                "type": "integer",
                "description": "Emails sent count"
              },
              "opened": {
                "type": "integer",
                "description": "Emails opened count"
              },
              "clicked": {
                "type": "integer",
                "description": "Links clicked count"
              },
              "replied": {
                "type": "integer",
                "description": "Replies received count"
              },
              "bounced": {
                "type": "integer",
                "description": "Bounced emails count"
              },
              "interested": {
                "type": "integer",
                "description": "Interested leads count"
              }
            }
          },
          "exportStatus": {
            "type": "string",
            "description": "Export request status",
            "enum": [
              "pending",
              "done",
              "error"
            ]
          }
        }
      },
      "Mailbox": {
        "type": "object",
        "description": "An email account connected to a user for sending campaigns.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique mailbox identifier"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Mailbox email address"
          },
          "provider": {
            "type": "string",
            "description": "Email provider (google, microsoft, etc.)"
          },
          "status": {
            "type": "string",
            "description": "Connection status",
            "enum": [
              "CONNECTED",
              "ERROR",
              "DISCONNECTED"
            ]
          },
          "lemlist": {
            "type": "object",
            "properties": {
              "emailLimit": {
                "type": "integer",
                "description": "Daily send limit"
              }
            }
          },
          "lemwarm": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean",
                "description": "Lemwarm activation status"
              }
            }
          }
        }
      },
      "ScheduleListResponse": {
        "type": "object",
        "description": "Paginated response containing multiple schedules.",
        "properties": {
          "schedules": {
            "type": "array",
            "description": "Array of schedule objects",
            "items": {
              "$ref": "#/components/schemas/Schedule"
            }
          },
          "pagination": {
            "type": "object",
            "description": "Pagination information",
            "properties": {
              "totalRecords": {
                "type": "integer",
                "description": "Total number of schedules across all pages"
              },
              "currentPage": {
                "type": "integer",
                "description": "Current page number"
              },
              "nextPage": {
                "type": "integer",
                "description": "Next page number (null if on last page)"
              },
              "totalPage": {
                "type": "integer",
                "description": "Total number of pages"
              }
            }
          }
        }
      },
      "LeadListResponse": {
        "type": "object",
        "description": "Paginated response containing multiple leads.",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lead"
            }
          },
          "page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "CrmFilter": {
        "type": "object",
        "description": "A filter used in the CRM to segment leads or companies.",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "criteria": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "InboxConversation": {
        "type": "object",
        "description": "A message thread between a user and a contact in the inbox.",
        "properties": {
          "_id": {
            "type": "string"
          },
          "leadId": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InboxMessage"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InboxConversationPagination": {
        "type": "object",
        "description": "Paginated response containing multiple inbox conversations.",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InboxConversation"
            }
          },
          "page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "InboxMessage": {
        "type": "object",
        "description": "A single message within an inbox conversation.",
        "properties": {
          "_id": {
            "type": "string"
          },
          "conversationId": {
            "type": "string"
          },
          "sender": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InboxMessagePagination": {
        "type": "object",
        "description": "Paginated response containing multiple inbox messages.",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InboxMessage"
            }
          },
          "page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Label": {
        "type": "object",
        "description": "A label used to categorize and organize inbox conversations.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique label identifier"
          },
          "name": {
            "type": "string",
            "description": "Label name"
          },
          "color": {
            "type": "string",
            "description": "Hex color code for the label"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the label was created",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "description": "Email of the user who created the label",
            "nullable": true
          }
        }
      },
      "TaskListResponse": {
        "type": "object",
        "description": "Paginated response containing multiple tasks.",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "DatabaseFilter": {
        "type": "object",
        "description": "Saved search criteria for querying the People database.",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "criteria": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PeopleSchema": {
        "type": "object",
        "description": "A person record from lemlist's People database.",
        "additionalProperties": true,
        "properties": {
          "lead_id": {
            "type": "integer",
            "description": "Numeric identifier for the person in the People database"
          },
          "canonical_shorthand_name": {
            "type": "string"
          },
          "connections_count": {
            "type": "integer"
          },
          "country": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "education": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "activities_and_societies": {
                  "type": "string"
                },
                "created": {
                  "type": "string"
                },
                "date_from": {
                  "type": "string"
                },
                "date_to": {
                  "type": "string"
                },
                "deleted": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "last_updated": {
                  "type": "string"
                },
                "member_id": {
                  "type": "string"
                },
                "school_url": {
                  "type": "string",
                  "format": "uri"
                },
                "subtitle": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          },
          "experience_count": {
            "type": "integer"
          },
          "experiences": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "company_id": {
                  "type": "integer"
                },
                "company_description": {
                  "type": "string"
                },
                "company_employee_count": {
                  "type": "integer"
                },
                "company_followers_count": {
                  "type": "integer"
                },
                "company_founded": {
                  "type": "integer"
                },
                "company_headquarters_city": {
                  "type": "string"
                },
                "company_headquarters_country": {
                  "type": "string"
                },
                "company_industry": {
                  "type": "string"
                },
                "company_linkedin_url": {
                  "type": "string",
                  "format": "uri"
                },
                "company_logo_url": {
                  "type": "string",
                  "format": "uri"
                },
                "company_name": {
                  "type": "string"
                },
                "company_size": {
                  "type": "string"
                },
                "company_type": {
                  "type": "string"
                },
                "company_url": {
                  "type": "string"
                },
                "company_website_url": {
                  "type": "string",
                  "format": "uri"
                },
                "revenue_bucket": {
                  "type": "string"
                },
                "company_domain": {
                  "type": "string"
                },
                "employees_count_growth": {
                  "type": "integer"
                },
                "last_funding_round_at": {
                  "type": "string"
                },
                "business_business_customer": {
                  "type": "string"
                },
                "current_exp_bucket": {
                  "type": "string"
                },
                "created": {
                  "type": "string"
                },
                "date_from": {
                  "type": "string"
                },
                "date_to": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "duration": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "last_updated": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "member_id": {
                  "type": "string"
                },
                "order_in_profile": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                },
                "title_normalized": {
                  "type": "string"
                },
                "main_in_profile": {
                  "type": "boolean"
                }
              }
            }
          },
          "interests": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "interest": {
                  "type": "string"
                },
                "interest_id": {
                  "type": "string"
                }
              }
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "language": {
                  "type": "string"
                },
                "proficiency": {
                  "type": "string"
                }
              }
            }
          },
          "last_updated": {
            "type": "string"
          },
          "lead_industry": {
            "type": "string"
          },
          "lead_linkedin_url": {
            "type": "string",
            "format": "uri"
          },
          "lead_logo_url": {
            "type": "string",
            "format": "uri"
          },
          "linkedin_short": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "skill": {
                  "type": "string"
                },
                "skill_id": {
                  "type": "string"
                }
              }
            }
          },
          "summary": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "lead_quality_score": {
            "type": "integer"
          },
          "seniority": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "connections_count_bucket": {
            "type": "string"
          },
          "years_of_exp_bucket": {
            "type": "string"
          },
          "current_exp_company_name": {
            "type": "string"
          },
          "geopoint": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "minItems": 2,
            "maxItems": 2
          },
          "_score": {
            "type": "number"
          },
          "_id": {
            "type": "string"
          }
        }
      },
      "CompaniesSchema": {
        "type": "object",
        "description": "A company record from lemlist's Companies database.",
        "additionalProperties": true,
        "properties": {
          "company_id": {
            "type": "string",
            "description": "Unique company identifier"
          },
          "company_website_url": {
            "type": "string",
            "format": "uri",
            "description": "Official company website URL"
          },
          "company_name": {
            "type": "string",
            "description": "Company name"
          },
          "company_linkedin_url": {
            "type": "string",
            "format": "uri",
            "description": "LinkedIn company profile URL"
          },
          "last_updated": {
            "type": "string",
            "description": "Last update timestamp (UTC)"
          },
          "company_headquarters_city": {
            "type": "string",
            "description": "Headquarters city"
          },
          "company_headquarters_country": {
            "type": "string",
            "description": "Headquarters country"
          },
          "company_logo_url": {
            "type": "string",
            "format": "uri",
            "description": "Company logo image URL"
          },
          "company_description": {
            "type": "string",
            "description": "Long company description"
          },
          "company_employee_count": {
            "type": "string",
            "description": "Employee count as string"
          },
          "company_type": {
            "type": "string",
            "description": "Company type (e.g., Privately Held, Public Company)"
          },
          "company_founded": {
            "type": "string",
            "description": "Year founded as string"
          },
          "company_followers_count": {
            "type": "string",
            "description": "LinkedIn followers count as string"
          },
          "company_size": {
            "type": "string",
            "description": "Company size bucket"
          },
          "revenue_bucket": {
            "type": "string",
            "description": "Revenue range bucket"
          },
          "company_domain": {
            "type": "string",
            "description": "Company web domain"
          },
          "employees_count_growth": {
            "type": "integer",
            "description": "Employee count growth number"
          },
          "last_funding_round_at": {
            "type": "string",
            "description": "Date of last funding round"
          },
          "techno_used_array": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of technologies used by the company"
          },
          "business_business_customer": {
            "type": "string",
            "description": "Customer type",
            "enum": [
              "B2B",
              "B2C",
              "B2B2C"
            ]
          },
          "company_quality_score": {
            "type": "string",
            "description": "Quality score as string"
          },
          "company_industry": {
            "type": "string",
            "description": "Primary industry"
          },
          "company_subindustry": {
            "type": "string",
            "description": "Sub-industry"
          },
          "company_subsubindustry": {
            "type": "string",
            "description": "Sub-sub-industry"
          },
          "company_location": {
            "type": "string",
            "description": "Full formatted location"
          },
          "company_location_geopoint_array": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Geopoint coordinates [longitude, latitude]"
          },
          "company_occ_lead": {
            "type": "string",
            "description": "Occupational lead count as string"
          },
          "_score": {
            "type": "number",
            "description": "Search relevance score"
          },
          "_id": {
            "type": "string",
            "description": "Internal document ID"
          }
        }
      },
      "Persona": {
        "type": "object",
        "description": "A People Database persona: a named, reusable set of People Database filters saved by your team. A persona id can be referenced elsewhere in the API, for example through the `persona` filter of a Signal Agent.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique persona identifier",
            "example": "pdp_ExAmPlE1234567890a"
          },
          "name": {
            "type": "string",
            "description": "Display name. Unique within your team.",
            "example": "SaaS founders"
          },
          "mode": {
            "type": "string",
            "description": "Search mode the filters target",
            "enum": ["leads", "companies"],
            "example": "leads"
          },
          "filters": {
            "type": "array",
            "description": "People Database filters defining the persona",
            "items": {
              "$ref": "#/components/schemas/PersonaFilter"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date the persona was created",
            "example": "2026-07-31T09:12:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date of the last modification",
            "example": "2026-07-31T09:12:00.000Z"
          }
        }
      },
      "PersonaFilter": {
        "type": "object",
        "description": "One People Database filter of a persona. `in` includes matching values, `out` excludes them. There is no `type` property: it is derived from `filterId` server-side.",
        "required": ["filterId"],
        "properties": {
          "filterId": {
            "type": "string",
            "description": "People Database filter identifier. Use [Get Database Filters](/api-reference/endpoints/people-database/get-database-filters) to discover the valid ids.",
            "example": "currentTitle"
          },
          "in": {
            "type": "array",
            "description": "Values to include",
            "items": {
              "type": "string"
            },
            "example": ["Founder"]
          },
          "out": {
            "type": "array",
            "description": "Values to exclude",
            "items": {
              "type": "string"
            },
            "example": []
          },
          "exactMatch": {
            "type": "boolean",
            "description": "Exact-match toggle, for the text filters that support it"
          }
        }
      },
      "PersonaListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "The team's personas, most recently created first",
            "items": {
              "$ref": "#/components/schemas/Persona"
            }
          }
        }
      },
      "PersonaCreateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "description": "Id of the created persona",
                "example": "pdp_ExAmPlE1234567890a"
              }
            }
          }
        }
      },
      "PersonaDeleteResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "description": "Id of the deleted persona",
                "example": "pdp_ExAmPlE1234567890a"
              },
              "deleted": {
                "type": "boolean",
                "description": "Always `true` when the persona was removed",
                "example": true
              }
            }
          }
        }
      },
      "PersonaError": {
        "type": "object",
        "description": "Error envelope returned by the persona endpoints.",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable explanation of the failure"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code, stable across releases"
          }
        }
      },
      "LemwarmSettings": {
        "type": "object",
        "description": "Lemwarm configuration for a mailbox.",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "dailyLimit": {
            "type": "integer"
          },
          "warmupTemplate": {
            "type": "string"
          },
          "warmDailyVarianceEnabled": {
            "type": "boolean",
            "description": "Whether a random daily variance is applied to the warmup email target"
          },
          "deliverability": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer"
              },
              "lastAt": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of last deliverability check"
              }
            }
          }
        }
      },
      "SignalSchema": {
        "type": "object",
        "description": "A signal detected by a Signal Agent representing a tracked event (hiring, LinkedIn activity, website visit, etc.)",
        "required": [
          "_id",
          "teamId",
          "watchListId",
          "type",
          "status",
          "receivedAt",
          "createdAt",
          "signalData"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique signal identifier"
          },
          "teamId": {
            "type": "string",
            "description": "Team ID that owns this signal"
          },
          "watchListId": {
            "type": "string",
            "description": "ID of the Signal Agent associated with this signal"
          },
          "watchListName": {
            "type": "string",
            "description": "Name of the Signal Agent associated with this signal"
          },
          "type": {
            "type": "string",
            "description": "Signal type",
            "enum": [
              "companyIsHiring",
              "companyRaisedFunds",
              "recruitmentCampaign",
              "jobChange",
              "newHire",
              "companyEmployeeVisitedMyWebsite",
              "customSignals",
              "competitorConnections",
              "competitorReactions",
              "companyFollowers",
              "technologyChange",
              "linkedinPeopleProfile",
              "linkedinCompanyProfile",
              "mergersAcquisitions",
              "promotion",
              "linkedinKeywords",
              "externalSignalContact",
              "externalSignalCompany",
              "buyingIntent"
            ]
          },
          "status": {
            "type": "string",
            "description": "Signal status (computed based on user actions)",
            "enum": [
              "new",
              "old",
              "handled",
              "ignored"
            ]
          },
          "receivedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the signal was received"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the signal was created in the database"
          },
          "contact": {
            "type": "object",
            "description": "Contact associated with this signal (if entity type is 'contact')",
            "properties": {
              "_id": {
                "type": "string",
                "description": "Contact ID"
              },
              "firstName": {
                "type": "string",
                "description": "Contact first name"
              },
              "lastName": {
                "type": "string",
                "description": "Contact last name"
              },
              "email": {
                "type": "string",
                "description": "Contact primary email"
              },
              "jobTitle": {
                "type": "string",
                "description": "Contact job title"
              },
              "phone": {
                "type": "string",
                "description": "Contact phone number"
              },
              "linkedinUrl": {
                "type": "string",
                "description": "Contact LinkedIn profile URL"
              },
              "picture": {
                "type": "string",
                "description": "Contact profile picture URL"
              }
            }
          },
          "company": {
            "type": "object",
            "description": "Company associated with this signal",
            "properties": {
              "_id": {
                "type": "string",
                "description": "Company ID"
              },
              "name": {
                "type": "string",
                "description": "Company name"
              },
              "domain": {
                "type": "string",
                "description": "Company website domain"
              },
              "linkedinUrl": {
                "type": "string",
                "description": "Company LinkedIn URL"
              },
              "industry": {
                "type": "string",
                "description": "Company industry"
              },
              "picture": {
                "type": "string",
                "description": "Company logo URL"
              }
            }
          },
          "signalData": {
            "type": "object",
            "description": "Signal-specific data that varies by signal type. Each field is prefixed with the signal type(s) that populate it.",
            "properties": {
              "jobTitle": {
                "type": "string",
                "description": "[companyIsHiring] Job posting title"
              },
              "jobDescription": {
                "type": "string",
                "description": "[companyIsHiring] Job posting description"
              },
              "jobLocation": {
                "type": "string",
                "description": "[companyIsHiring] Job posting location"
              },
              "jobUrl": {
                "type": "string",
                "description": "[companyIsHiring] Job posting URL"
              },
              "jobStatus": {
                "type": "string",
                "description": "[companyIsHiring] Job posting status"
              },
              "recruiterName": {
                "type": "string",
                "description": "[companyIsHiring] Recruiter name"
              },
              "recruiterTitle": {
                "type": "string",
                "description": "[companyIsHiring] Recruiter title"
              },
              "recruiterLinkedinUrl": {
                "type": "string",
                "description": "[companyIsHiring] Recruiter LinkedIn URL"
              },
              "recruiterEmail": {
                "type": "string",
                "description": "[companyIsHiring] Recruiter email"
              },
              "websiteVisited": {
                "type": "string",
                "description": "[companyEmployeeVisitedMyWebsite] Page URL that was visited"
              },
              "visitorWebsite": {
                "type": "string",
                "description": "[companyEmployeeVisitedMyWebsite] Visitor's company website"
              },
              "visitorCountry": {
                "type": "string",
                "description": "[companyEmployeeVisitedMyWebsite] Visitor country"
              },
              "visitorDuration": {
                "type": "integer",
                "description": "[companyEmployeeVisitedMyWebsite] Visit duration in seconds (session-cumulative)"
              },
              "startDate": {
                "type": "string",
                "description": "[jobChange/newHire/competitorConnections/companyFollowers] Start date at the tracked company"
              },
              "previousCompany": {
                "type": "string",
                "description": "[jobChange] Previous company name"
              },
              "previousCompanyLinkedinUrl": {
                "type": "string",
                "description": "[jobChange] Previous company LinkedIn URL"
              },
              "trackedCompanyUrl": {
                "type": "string",
                "description": "Tracked company LinkedIn URL (competitorConnections, companyFollowers, ...)"
              },
              "linkedinPeopleProfilePostUrl": {
                "type": "string",
                "description": "[linkedinPeopleProfile] Post URL"
              },
              "linkedinPeopleProfilePostContent": {
                "type": "string",
                "description": "[linkedinPeopleProfile] Post content"
              },
              "linkedinPeopleProfilePostCreatorName": {
                "type": "string",
                "description": "[linkedinPeopleProfile] Post creator name"
              },
              "linkedinPeopleProfileType": {
                "type": "string",
                "description": "[linkedinPeopleProfile] Activity type (post, comment, like)"
              },
              "linkedinPeopleProfileMentionContent": {
                "type": "string",
                "description": "[linkedinPeopleProfile] Mention content"
              },
              "linkedinPeopleProfileTrackedContactUrl": {
                "type": "string",
                "description": "[linkedinPeopleProfile] Tracked contact LinkedIn URL"
              },
              "linkedinPeopleProfileDate": {
                "type": "string",
                "description": "[linkedinPeopleProfile] Activity date"
              },
              "linkedinCompanyProfilePostUrl": {
                "type": "string",
                "description": "[linkedinCompanyProfile] Post URL"
              },
              "linkedinCompanyProfilePostContent": {
                "type": "string",
                "description": "[linkedinCompanyProfile] Post content"
              },
              "linkedinCompanyProfilePostCreatorName": {
                "type": "string",
                "description": "[linkedinCompanyProfile] Post creator name"
              },
              "linkedinCompanyProfileType": {
                "type": "string",
                "description": "[linkedinCompanyProfile] Activity type"
              },
              "linkedinCompanyProfileMentionContent": {
                "type": "string",
                "description": "[linkedinCompanyProfile] Mention content"
              },
              "linkedinCompanyProfileTrackedCompanyUrl": {
                "type": "string",
                "description": "[linkedinCompanyProfile] Tracked company LinkedIn URL"
              },
              "linkedinCompanyProfileDate": {
                "type": "string",
                "description": "[linkedinCompanyProfile] Activity date"
              },
              "linkedinKeywordsPostUrl": {
                "type": "string",
                "description": "[linkedinKeywords] Post URL"
              },
              "linkedinKeywordsPostContent": {
                "type": "string",
                "description": "[linkedinKeywords] Post content"
              },
              "linkedinKeywordsPostCreatorName": {
                "type": "string",
                "description": "[linkedinKeywords] Post creator name"
              },
              "linkedinKeywordsType": {
                "type": "string",
                "description": "[linkedinKeywords] Activity type"
              },
              "linkedinKeywordsMentionContent": {
                "type": "string",
                "description": "[linkedinKeywords] Mention content"
              },
              "linkedinKeywordsMatchedKeywords": {
                "type": "string",
                "description": "[linkedinKeywords] Matched keywords"
              },
              "linkedinKeywordsLocation": {
                "type": "string",
                "description": "[linkedinKeywords] Location"
              },
              "linkedinKeywordsDate": {
                "type": "string",
                "description": "[linkedinKeywords] Activity date"
              },
              "linkedinKeywordsPostCreatorUrl": {
                "type": "string",
                "description": "[linkedinKeywords] Post creator LinkedIn URL"
              },
              "linkedinKeywordsPostCreatorCompanyUrl": {
                "type": "string",
                "description": "[linkedinKeywords] Post creator company LinkedIn URL"
              },
              "customSignalTitle": {
                "type": "string",
                "description": "[customSignals] Signal title"
              },
              "customSignalQuestion": {
                "type": "string",
                "description": "[customSignals] Question asked"
              },
              "customSignalAnswer": {
                "type": "string",
                "description": "[customSignals] Short answer"
              },
              "customSignalConfidence": {
                "type": "number",
                "description": "[customSignals] Confidence score"
              },
              "customSignalLongAnswer": {
                "type": "string",
                "description": "[customSignals] Detailed answer"
              },
              "customSignalHeadlines": {
                "type": "string",
                "description": "[customSignals] Headlines"
              },
              "customSignalSources": {
                "type": "string",
                "description": "[customSignals] Sources"
              },
              "fundingType": {
                "type": "string",
                "description": "[companyRaisedFunds] Funding type"
              },
              "fundingStage": {
                "type": "string",
                "description": "[companyRaisedFunds] Funding stage"
              },
              "fundingAmountUsd": {
                "type": "number",
                "description": "[companyRaisedFunds] Amount raised (USD)"
              },
              "fundingAmountNative": {
                "type": "number",
                "description": "[companyRaisedFunds] Amount raised (native currency)"
              },
              "fundingCurrency": {
                "type": "string",
                "description": "[companyRaisedFunds] Native currency"
              },
              "fundingInvestors": {
                "type": "string",
                "description": "[companyRaisedFunds] Investors"
              },
              "fundingSourceUrl": {
                "type": "string",
                "description": "[companyRaisedFunds] Source URL"
              },
              "buyingIntentTopics": {
                "type": "string",
                "description": "[buyingIntent] Matched topics"
              },
              "buyingIntentTopTopic": {
                "type": "string",
                "description": "[buyingIntent] Top matched topic"
              },
              "competitorReactionsTrackedContactUrl": {
                "type": "string",
                "description": "[competitorReactions] Tracked contact LinkedIn URL"
              },
              "competitorReactionsPostUrl": {
                "type": "string",
                "description": "[competitorReactions] Post URL"
              },
              "competitorReactionsPostContent": {
                "type": "string",
                "description": "[competitorReactions] Post content"
              },
              "competitorReactionsPostCreatorName": {
                "type": "string",
                "description": "[competitorReactions] Post creator name"
              },
              "competitorReactionsEngagementType": {
                "type": "string",
                "description": "[competitorReactions] Engagement type (like, comment)"
              },
              "competitorReactionsMentionContent": {
                "type": "string",
                "description": "[competitorReactions] Mention content"
              },
              "competitorReactionsDate": {
                "type": "string",
                "description": "[competitorReactions] Engagement date"
              },
              "acquisitionType": {
                "type": "string",
                "description": "[mergersAcquisitions] Acquisition type"
              },
              "acquirerName": {
                "type": "string",
                "description": "[mergersAcquisitions] Acquirer name"
              },
              "acquirerWebsite": {
                "type": "string",
                "description": "[mergersAcquisitions] Acquirer website"
              },
              "acquireeName": {
                "type": "string",
                "description": "[mergersAcquisitions] Acquiree name"
              },
              "acquireeWebsite": {
                "type": "string",
                "description": "[mergersAcquisitions] Acquiree website"
              },
              "dealPriceUsd": {
                "type": "number",
                "description": "[mergersAcquisitions] Deal price (USD)"
              },
              "dealCurrency": {
                "type": "string",
                "description": "[mergersAcquisitions] Deal currency"
              },
              "announcementDate": {
                "type": "string",
                "description": "[mergersAcquisitions] Announcement date"
              },
              "acquirerCrunchbaseUrl": {
                "type": "string",
                "description": "[mergersAcquisitions] Acquirer Crunchbase URL"
              },
              "acquireeCrunchbaseUrl": {
                "type": "string",
                "description": "[mergersAcquisitions] Acquiree Crunchbase URL"
              },
              "technologyChangeName": {
                "type": "string",
                "description": "[technologyChange] Technology name"
              },
              "technologyChangeSourceType": {
                "type": "string",
                "description": "[technologyChange] Source type"
              },
              "technologyChangeFirstSeenAt": {
                "type": "string",
                "description": "[technologyChange] First seen at"
              },
              "technologyChangeLastSeenAt": {
                "type": "string",
                "description": "[technologyChange] Last seen at"
              },
              "technologyChangeCompanyName": {
                "type": "string",
                "description": "[technologyChange] Company name"
              },
              "technologyChangeCompanyDomain": {
                "type": "string",
                "description": "[technologyChange] Company domain"
              },
              "promotionJobTitle": {
                "type": "string",
                "description": "[promotion] New job title"
              },
              "promotionFormerJobTitle": {
                "type": "string",
                "description": "[promotion] Former job title"
              },
              "promotionStartDate": {
                "type": "string",
                "description": "[promotion] Promotion start date"
              },
              "externalSignalCustomFields": {
                "type": "object",
                "description": "[externalSignalContact/externalSignalCompany] Custom fields map",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "WatchListApiFetchSignalsResponse": {
        "type": "object",
        "description": "Paginated response containing signals detected by Signal Agents",
        "properties": {
          "data": {
            "type": "array",
            "description": "Signals matching the query parameters",
            "items": {
              "$ref": "#/components/schemas/SignalSchema"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/WatchListListMeta"
          }
        }
      },
      "WatchListSchema": {
        "type": "object",
        "description": "A Signal Agent (watch list) configuration.",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique Signal Agent identifier"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "type": {
            "type": "string",
            "description": "Signal type monitored by this Signal Agent",
            "enum": [
              "companyIsHiring",
              "companyRaisedFunds",
              "recruitmentCampaign",
              "jobChange",
              "newHire",
              "companyEmployeeVisitedMyWebsite",
              "customSignals",
              "competitorConnections",
              "competitorReactions",
              "companyFollowers",
              "technologyChange",
              "linkedinPeopleProfile",
              "linkedinCompanyProfile",
              "mergersAcquisitions",
              "promotion",
              "linkedinKeywords",
              "externalSignalContact",
              "externalSignalCompany",
              "buyingIntent"
            ]
          },
          "status": {
            "type": "string",
            "description": "Lifecycle status",
            "enum": [
              "active",
              "inactive",
              "draft",
              "insufficient_credits",
              "empty_crm_lists",
              "error",
              "delete"
            ]
          },
          "entity": {
            "type": "string",
            "description": "Entity kind the agent tracks",
            "enum": [
              "contact",
              "company"
            ]
          },
          "segmentType": {
            "type": "string",
            "description": "How the monitored entities are sourced",
            "enum": [
              "all",
              "list",
              "csv"
            ]
          },
          "signalProcessingType": {
            "type": "string",
            "description": "How detected signals are processed",
            "enum": [
              "manual",
              "create_opportunity",
              "push_to_campaign"
            ]
          },
          "signalOpportunityTemplate": {
            "type": "object",
            "description": "Task/opportunity template applied to each signal when signalProcessingType is create_opportunity.",
            "properties": {
              "ownerType": {
                "type": "string",
                "description": "Who the created opportunity is assigned to",
                "enum": [
                  "contact_owner",
                  "specific_owner"
                ]
              },
              "ownerId": {
                "type": "string",
                "description": "Owner user id, when ownerType is specific_owner"
              },
              "type": {
                "type": "string",
                "description": "Opportunity channel",
                "enum": [
                  "email",
                  "phone",
                  "linkedinSend",
                  "whatsappMessage",
                  "manual"
                ]
              },
              "priority": {
                "type": "integer",
                "description": "Opportunity priority",
                "enum": [
                  0,
                  1,
                  2
                ]
              },
              "data": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Opportunity title"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Email subject (email channel)"
                  },
                  "emailTemplateId": {
                    "type": "string",
                    "description": "Email template id"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message body"
                  }
                }
              }
            }
          },
          "filters": {
            "type": "array",
            "description": "Filters narrowing which entities/events are tracked",
            "items": {
              "$ref": "#/components/schemas/WatchListFilter"
            }
          },
          "emoji": {
            "type": "string",
            "description": "Emoji shown next to the agent name"
          }
        }
      },
      "WatchListFilter": {
        "type": "object",
        "description": "A filter narrowing which entities or events a Signal Agent tracks. `in` includes matching values, `out` excludes them.",
        "required": [
          "filterId"
        ],
        "properties": {
          "filterId": {
            "type": "string",
            "description": "Filter identifier",
            "enum": [
              "title",
              "description",
              "location",
              "visitLocation",
              "website",
              "pagesTracked",
              "minVisitDuration",
              "minPageViewed",
              "internalTraffic",
              "linkedinUrls",
              "companyLinkedinUrls",
              "companyNames",
              "companyLocation",
              "companyIndustries",
              "companySizes",
              "maxIdentificationsPerDay",
              "excludedVisitorIps",
              "reactionTypes",
              "linkedinTopics",
              "bomboraTopics",
              "watcherWatchKey",
              "questions",
              "fundraisingMinAmount",
              "fundraisingMaxAmount",
              "fundraisingInvestmentTypes",
              "fundraisingInvestors",
              "technologies",
              "detectionMode",
              "maDealTypes",
              "maMinAmount",
              "persona",
              "customPersonaTitles",
              "externalSignalFieldMapping",
              "externalSignalCustomFieldMapping",
              "seniority",
              "crmListIds",
              "minJobCount",
              "timeframe"
            ]
          },
          "in": {
            "type": "array",
            "description": "Values to include",
            "items": {
              "type": "string"
            }
          },
          "out": {
            "type": "array",
            "description": "Values to exclude",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WatchListListMeta": {
        "type": "object",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "description": "Current page number"
              },
              "limit": {
                "type": "integer",
                "description": "Number of records per page"
              },
              "totalRecords": {
                "type": "integer",
                "description": "Total records matching the filter"
              },
              "totalPages": {
                "type": "integer",
                "description": "Total number of pages"
              }
            }
          }
        }
      },
      "WatchListConfigHistoryEntry": {
        "type": "object",
        "description": "A past configuration version of a Signal Agent, active during [startDate, endDate).",
        "properties": {
          "_id": {
            "type": "string",
            "description": "History entry identifier"
          },
          "startDate": {
            "type": "string",
            "description": "When this configuration version became active",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "description": "When this configuration version was replaced",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "description": "User id that made the change"
          },
          "name": {
            "type": "string",
            "description": "Signal Agent name at capture time"
          },
          "emoji": {
            "type": "string",
            "description": "Emoji at capture time"
          },
          "type": {
            "type": "string",
            "description": "Signal type",
            "enum": [
              "companyIsHiring",
              "companyRaisedFunds",
              "recruitmentCampaign",
              "jobChange",
              "newHire",
              "companyEmployeeVisitedMyWebsite",
              "customSignals",
              "competitorConnections",
              "competitorReactions",
              "companyFollowers",
              "technologyChange",
              "linkedinPeopleProfile",
              "linkedinCompanyProfile",
              "mergersAcquisitions",
              "promotion",
              "linkedinKeywords",
              "externalSignalContact",
              "externalSignalCompany",
              "buyingIntent"
            ]
          },
          "entity": {
            "type": "string",
            "description": "Entity kind",
            "enum": [
              "contact",
              "company"
            ]
          },
          "segmentType": {
            "type": "string",
            "description": "Segment sourcing",
            "enum": [
              "all",
              "list",
              "csv"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WatchListFilter"
            }
          },
          "signalProcessingType": {
            "type": "string",
            "description": "Signal processing type",
            "enum": [
              "manual",
              "create_opportunity",
              "push_to_campaign"
            ]
          },
          "stats": {
            "type": "object",
            "description": "Signal/campaign stats computed for the window [startDate, endDate).",
            "properties": {
              "signalsCount": {
                "type": "integer",
                "description": "Number of signals detected in the window"
              },
              "campaigns": {
                "type": "array",
                "description": "Per-campaign breakdown (push_to_campaign agents only)",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "WatchListFilterDescriptor": {
        "type": "object",
        "description": "Describes a filter that can be set on a Signal Agent of a given type.",
        "properties": {
          "filterId": {
            "type": "string",
            "description": "Filter identifier"
          },
          "name": {
            "type": "string",
            "description": "Human-readable filter name"
          },
          "properties": {
            "type": "array",
            "description": "Filter sides supported by this filter",
            "items": {
              "type": "string",
              "enum": [
                "in",
                "out"
              ]
            }
          },
          "required": {
            "type": "array",
            "description": "Filter sides that must be non-empty",
            "items": {
              "type": "string",
              "enum": [
                "in",
                "out"
              ]
            }
          },
          "default": {
            "description": "Default value, when the filter has one"
          },
          "min": {
            "type": "number",
            "description": "Minimum value (numeric filters)"
          },
          "max": {
            "type": "number",
            "description": "Maximum value (numeric filters)"
          }
        }
      },
[...]
