{
    "openapi": "3.0.0",
    "info": {
        "title": "lemlist API",
        "version": "1.0.0",
        "description": "Welcome to the lemlist Developer Documentation.\n\nlemlist is very customizable and open. You'll find on this page all the API and integration you can do with lemlist.\n\n# Rate Limit\n\nlemlist's API rate limits requests in order to prevent abuse and overload of our services.  \nRate limits are applied on all routes and per API key performing the request.  \nThe rate limits are **20** requests per **2** seconds.  \nThe response provides any information you may need about it:\n\n| Header | Description |\n| --- | --- |\n| Retry-After | The number of seconds in which you can retry |\n| X-RateLimit-Limit | The maximum requests in that time |\n| X-RateLimit-Remaining | The number of remaining requests you can make |\n| X-RateLimit-Reset | The date when the rate limit will reset |\n\n_Example of values for the rate limit headers_\n\n``` json\n{\n    \"Retry-After\": 2,\n    \"X-RateLimit-Limit\": 20,\n    \"X-RateLimit-Remaining\": 7,\n    \"X-RateLimit-Reset\" : \"Tue Feb 16 2021 09:02:42 GMT+0100 (Central European Standard Time)\"\n}\n\n ```\n\n# Definitions\n\n## Team\n\nA team is the entity of lemlist that can handle users and billing.\n\n## Credits\n\nCredits are the coins a team uses to enrich emails, LinkedIn URLs, etc. via the enrich route. Each enrichment feature needs a certain amount of credits to run.\n\n## User\n\nYou use a user account to connect to lemlist and send messages via the connected emails or LinkedIn account.\n\n## Campaign\n\nA campaign is the entity to automate outreach. A campaign has multiple sequences composed of steps.\n\n## Lead\n\nA lead is a person that you try to contact via a campaign.\n\n## Activity\n\nAn activity is the history of all the steps.\n\n## Unsubscribe\n\nAn unsubscribe occurs when a person decides they don't want to receive emails from you anymore.\n\n# Authentication\n\nAll API routes use the dedicated subdomain `api.lemlist.com`.\n\nlemlist uses API keys to allow access to the API. You can get your lemlist API key at our [integration page](https://app.lemlist.com/settings/integrations).\n\nYou need to add the `Authorization` header using the `Basic` authentication type. `login:password` **where the login is always empty and the password is the API key**.\n\n⚠️ **Don't forget to add the semicolon (**`:`**) before your API key in curl command.**\n\n> To authorize, use this code: \n  \n\n``` shell\ncurl https://api.lemlist.com/api/team \\\n  --user \":YourApiKey\"\n\n ```\n\n**Make sure to replace** **`YourApiKey`** **with your API key.**\n\n# Give feedback\n\nIf you want to report a bug, ask for data, or share with us a use case, please fill this [form](https://lemlist.typeform.com/to/mfVlkyGf). It will help us centralize your needs!"
    },
    "servers": [
        {
            "url": "https://api.lemlist.com/api"
        }
    ],
    "security": [
        {
            "basicAuth": [
                {
                    "description": "Basic authentication scheme for API access. Note: The login field must remain empty - only the API key should be provided as the password.",
                    "type": "http",
                    "scheme": "basic",
                    "x-basic-info-link": "https://developer.lemlist.com/reference/authentication"
                }
            ]
        }
    ],
    "components": {
        "securitySchemes": {
            "basicAuth": {
                "type": "http",
                "scheme": "basic",
                "description": "Use an empty username and your API key as the password"
            }
        }
    },
    "paths": {
        "/team": {
            "get": {
                "summary": "Get Team",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "userIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "createdBy": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "hooks": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "_id": {
                                                        "type": "string"
                                                    },
                                                    "targetUrl": {
                                                        "type": "string",
                                                        "format": "uri"
                                                    },
                                                    "createdAt": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "zapId": {
                                                        "type": "integer"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "campaignId": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "beta": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "slackWebhook": {
                                            "type": "string",
                                            "format": "uri"
                                        },
                                        "invitedUsers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "email": {
                                                        "type": "string",
                                                        "format": "email"
                                                    },
                                                    "role": {
                                                        "type": "string"
                                                    },
                                                    "invitedBy": {
                                                        "type": "string"
                                                    },
                                                    "invitedAt": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                }
                                            }
                                        },
                                        "agency": {
                                            "type": "string"
                                        },
                                        "pictureId": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "tea_c123fg5h8ijKL9noP",
                                    "name": "lemlist-admin",
                                    "userIds": [
                                        "usr_V7dQtF3sBnOv6LY5w",
                                        "usr_P5jMxR2yZhLt8BC4t",
                                        "usr_K2gTwJ7vXpRs3NF8p"
                                    ],
                                    "createdBy": "usr_H8wrBoV4mtQx2NP6k",
                                    "createdAt": "2018-02-22T08:52:30.732Z",
                                    "hooks": [
                                        {
                                            "_id": "hoo_3JKlmnOp7qrStuvWx",
                                            "targetUrl": "https://hooks.zapier.com/hooks/standard/*your-webhook-id*/",
                                            "createdAt": "2020-04-07T09:12:34.674Z",
                                            "zapId": 83355551,
                                            "type": "emailsOpened",
                                            "campaignId": "cam_A1B2C3D4E5F6G7H8I9"
                                        },
                                        {
                                            "_id": "hoo_4LMnopQr8stUvWxYz",
                                            "targetUrl": "https://hooks.zapier.com/hooks/standard/*your-webhook-id*/",
                                            "createdAt": "2020-05-05T09:58:17.795Z",
                                            "zapId": 86330503,
                                            "type": "emailsOpened",
                                            "campaignId": "cam_K9L8M7N6O5P4Q3R2S1"
                                        }
                                    ],
                                    "beta": [
                                        "scroll"
                                    ],
                                    "slackWebhook": "https://hooks.slack.com/services/REDACTED/REDACTED/REDACTED",
                                    "invitedUsers": [
                                        {
                                            "email": "emily.johnson@example.com",
                                            "role": "admin",
                                            "invitedBy": "usr_A1xPwN8zYkGt9JD3q",
                                            "invitedAt": "2023-11-22T14:14:04.617Z"
                                        },
                                        {
                                            "email": "david.wilson@example.com",
                                            "role": "member",
                                            "invitedBy": "usr_L9mKrU5vWpHt2ZX1r",
                                            "invitedAt": "2024-04-03T21:55:08.105Z"
                                        }
                                    ],
                                    "agency": "usr_H8wrBoV4mtQx2NP6k",
                                    "pictureId": "fil_AaBbCcDdEeFfGgHhI8.png"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Possible errors: No API key provided / Bad team",
                        "content": {
                            "text/plain": {
                                "example": "No API key provided"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    },
                    "403": {
                        "description": "User linked to this API key is blocked",
                        "content": {
                            "text/plain": {
                                "example": "User linked to this API key is blocked"
                            }
                        }
                    },
                    "404": {
                        "description": "No user found for this API key",
                        "content": {
                            "text/plain": {
                                "example": "No user found for this API key"
                            }
                        }
                    }
                }
            }
        },
        "/team/senders": {
            "get": {
                "summary": "Get Team Senders",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "description": "Filter by campaign's state (running, paused, draft, ended, archived, errors)",
                        "example": "running",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "running",
                                "paused",
                                "draft",
                                "ended",
                                "archived",
                                "errors"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "userId": {
                                                "type": "string"
                                            },
                                            "campaigns": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "_id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "sendingChannels": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "userId": "usr_T3dhQkG8xzCv4MU1e",
                                        "campaigns": [
                                            {
                                                "_id": "cam_A1B2C3D4E5F6G7H8I9",
                                                "name": "Insights Outreach 2024",
                                                "status": "draft",
                                                "sendingChannels": [
                                                    "linkedinInvite",
                                                    "linkedinVisit",
                                                    "linkedinSend",
                                                    "email"
                                                ]
                                            },
                                            {
                                                "_id": "cam_K9L8M7N6O5P4Q3R2S1",
                                                "name": "Discover Solutions Campaign",
                                                "status": "ended",
                                                "sendingChannels": [
                                                    "linkedinInvite",
                                                    "email"
                                                ]
                                            },
                                            {
                                                "_id": "cam_T3U4V5W6X7Y8Z9A1B2",
                                                "name": "Unlock Potential Initiative",
                                                "status": "running",
                                                "sendingChannels": [
                                                    "linkedinInvite"
                                                ]
                                            },
                                            {
                                                "_id": "cam_M5N4O3P2Q1R9S8T7U6",
                                                "name": "Future Innovations Outreach",
                                                "status": "paused",
                                                "sendingChannels": [
                                                    "linkedinInvite",
                                                    "email"
                                                ]
                                            },
                                            {
                                                "_id": "cam_G6H7I8J9K0L1M2N3O4",
                                                "name": "Insightful Solutions Drive",
                                                "status": "ended",
                                                "sendingChannels": [
                                                    "linkedinInvite",
                                                    "linkedinVisit",
                                                    "linkedinSend",
                                                    "email"
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "userId": "usr_L7vsBnX5ykPw2TA9r",
                                        "campaigns": [
                                            {
                                                "_id": "cam_K9L8M7N6O5P4Q3R2S1",
                                                "name": "Discover Solutions Campaign",
                                                "status": "ended",
                                                "sendingChannels": [
                                                    "email"
                                                ]
                                            },
                                            {
                                                "_id": "cam_T3U4V5W6X7Y8Z9A1B2",
                                                "name": "Unlock Potential Initiative",
                                                "status": "running",
                                                "sendingChannels": [
                                                    "linkedinVisit"
                                                ]
                                            },
                                            {
                                                "_id": "cam_M5N4O3P2Q1R9S8T7U6",
                                                "name": "Future Innovations Outreach",
                                                "status": "paused",
                                                "sendingChannels": [
                                                    "email"
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Bad params (invalid state parameter)",
                        "content": {
                            "text/plain": {
                                "example": "Bad params (invalid state parameter)"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/team/credits": {
            "get": {
                "summary": "Get Team Credits",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "credits": {
                                            "type": "integer"
                                        },
                                        "details": {
                                            "type": "object",
                                            "properties": {
                                                "remaining": {
                                                    "type": "object",
                                                    "properties": {
                                                        "total": {
                                                            "type": "integer"
                                                        },
                                                        "freemium": {
                                                            "type": "integer"
                                                        },
                                                        "subscription": {
                                                            "type": "integer"
                                                        },
                                                        "gifted": {
                                                            "type": "integer"
                                                        },
                                                        "paid": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "credits": 100,
                                    "details": {
                                        "remaining": {
                                            "total": 100,
                                            "freemium": 0,
                                            "subscription": 80,
                                            "gifted": 10,
                                            "paid": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No API key provided",
                        "content": {
                            "text/plain": {
                                "example": "No API key provided"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    },
                    "403": {
                        "description": "User linked to this API key is blocked",
                        "content": {
                            "text/plain": {
                                "example": "User linked to this API key is blocked"
                            }
                        }
                    },
                    "404": {
                        "description": "No user found for this API key",
                        "content": {
                            "text/plain": {
                                "example": "No user found for this API key"
                            }
                        }
                    },
                    "405": {
                        "description": "Method not allowed"
                    }
                }
            }
        },
        "/team/crmUsers": {
            "get": {
                "summary": "Get Team CRM Users",
                "tags": [
                    "Team"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "userId": {
                                                "type": "string"
                                            },
                                            "crm": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "userId": "usr_h47tiJr87Zn7XtQHi",
                                        "crm": "salesforce"
                                    },
                                    {
                                        "userId": "usr_h47tiJr87Zn7XtQHi",
                                        "crm": "hubspot"
                                    },
                                    {
                                        "userId": "usr_h47tiJr87Zn7XtQHi",
                                        "crm": "pipedrive"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "Possible errors: Bad team / Endpoint not available",
                        "content": {
                            "text/plain": {
                                "example": "Bad team"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    }
                }
            }
        },
        "/users/{userId}": {
            "parameters": [
                {
                    "name": "userId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the user",
                    "example": "usr_QAucgYReK6EmMB3Cz",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get User",
                "tags": [
                    "Users"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email"
                                        },
                                        "role": {
                                            "type": "string"
                                        },
                                        "linkedIn": {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "boolean"
                                                },
                                                "inviteLimit": {
                                                    "type": "integer"
                                                },
                                                "sendLimit": {
                                                    "type": "integer"
                                                },
                                                "visitLimit": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "mailboxes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "_id": {
                                                        "type": "string"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "format": "email"
                                                    },
                                                    "provider": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "lemlist": {
                                                        "type": "object",
                                                        "properties": {
                                                            "emailLimit": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    },
                                                    "lemwarm": {
                                                        "type": "object",
                                                        "properties": {
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "usr_QAucgYReK6EmMB3Cz",
                                    "email": "example@lempire.co",
                                    "role": "admin",
                                    "linkedIn": {
                                        "status": true,
                                        "inviteLimit": 25,
                                        "sendLimit": 33,
                                        "visitLimit": 36
                                    },
                                    "mailboxes": [
                                        {
                                            "_id": "usm_bsdepN6jb8zftK9Ns",
                                            "email": "example@gmail.com",
                                            "provider": "google",
                                            "status": "ERROR",
                                            "lemlist": {
                                                "emailLimit": 50
                                            },
                                            "lemwarm": {
                                                "active": false
                                            }
                                        },
                                        {
                                            "_id": "usm_gPKrqoNxaXxScTpPh",
                                            "email": "example@outlook.com",
                                            "status": "ERROR",
                                            "lemlist": {
                                                "emailLimit": 50
                                            },
                                            "lemwarm": {
                                                "active": false
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Possible errors: Bad team / Endpoint not available",
                        "content": {
                            "text/plain": {
                                "example": "Bad team"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    }
                }
            }
        },
        "/campaigns": {
            "get": {
                "summary": "Get Many Campaigns",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "description": "Offset from the start. For pagination.",
                        "example": "24",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "Number of campaigns to retrieve. Default: 100. Maximum: 100.",
                        "example": "2",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "required": false,
                        "description": "Set to 'v2' to use the latest version",
                        "example": "v2",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1",
                                "v2"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Page number to retrieve",
                        "example": "1",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "required": false,
                        "description": "The field by which to sort. Currently, only 'createdAt' is supported.",
                        "example": "createdAt",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "createdAt"
                            ]
                        }
                    },
                    {
                        "name": "sortOrder",
                        "in": "query",
                        "required": false,
                        "description": "The sort direction. Use 'desc' for descending order; any other value (or omission) will sort in ascending order.",
                        "example": "desc",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "description": "The campaign status. Can be: running, draft, archived, ended, paused, errors. Note: a campaign can be in multiple statuses at one time (e.g., a paused campaign with errors).",
                        "example": "running",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "running",
                                "draft",
                                "archived",
                                "ended",
                                "paused",
                                "errors"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "_id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "labels": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "createdAt": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "createdBy": {
                                                "type": "string"
                                            },
                                            "status": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": [
                                    {
                                        "_id": "cam_A1B2C3D4E5F6G7H8I9",
                                        "name": "Insights Outreach 2024",
                                        "labels": [
                                            "Insightful"
                                        ],
                                        "createdAt": "2024-02-29T11:00:11.293Z",
                                        "createdBy": "usr_T3dhQkG8xzCv4MU1e",
                                        "status": "running"
                                    },
                                    {
                                        "_id": "cam_K9L8M7N6O5P4Q3R2S1",
                                        "name": "Discover Solutions Campaign",
                                        "labels": [
                                            "Solutions",
                                            "Future-Ready"
                                        ],
                                        "createdAt": "2024-02-29T11:00:11.293Z",
                                        "createdBy": "usr_T3dhQkG8xzCv4MU1e",
                                        "archived": true,
                                        "status": "ended",
                                        "isEnded": true
                                    },
                                    {
                                        "_id": "cam_M5N4O3P2Q1R9S8T7U6",
                                        "name": "Future Innovations Outreach",
                                        "createdAt": "2024-02-15T09:00:15.272Z",
                                        "createdBy": "usr_T3dhQkG8xzCv4MU1e",
                                        "status": "paused"
                                    },
                                    {
                                        "_id": "cam_G6H7I8J9K0L1M2N3O4",
                                        "name": "Insightful Solutions Drive",
                                        "createdAt": "2024-01-25T13:00:11.293Z",
                                        "createdBy": "usr_T3dhQkG8xzCv4MU1e",
                                        "labels": [
                                            "Insightful",
                                            "Solutions"
                                        ],
                                        "status": "draft",
                                        "hasError": true
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "No API key provided",
                        "content": {
                            "text/plain": {
                                "example": "No API key provided"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    },
                    "403": {
                        "description": "User linked to this API key is blocked",
                        "content": {
                            "text/plain": {
                                "example": "User linked to this API key is blocked"
                            }
                        }
                    },
                    "404": {
                        "description": "No user found for this API key",
                        "content": {
                            "text/plain": {
                                "example": "No user found for this API key"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Campaign",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "sequenceId": {
                                            "type": "string"
                                        },
                                        "scheduleIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "teamId": {
                                            "type": "string"
                                        },
                                        "createdBy": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "scannedCount": {
                                            "type": "integer"
                                        },
                                        "reviewedCount": {
                                            "type": "integer"
                                        },
                                        "inSequenceLeadCount": {
                                            "type": "integer"
                                        },
                                        "variableKeys": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "senders": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "sendUsers": {
                                            "type": "array",
                                            "items": {}
                                        },
                                        "displayedVariableKeys": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "emoji": {
                                            "type": "string"
                                        },
                                        "stopOnEmailReplied": {
                                            "type": "boolean"
                                        },
                                        "crmOpportunitiesOnTask": {
                                            "type": "boolean"
                                        },
                                        "unsubscribe": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "crm": {
                                            "type": "string"
                                        },
                                        "crmUserId": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "cam_WN3M22c3gDs4eQDXN",
                                    "sequenceId": "seq_hPj7N88tCgpFYgtnj",
                                    "scheduleIds": [
                                        "skd_isFGZkjSsvJZ7CfRx"
                                    ],
                                    "teamId": "tea_MtScZ2GexXzHXRdTr",
                                    "createdBy": "usr_XCQktNJNa79X5Tvnh",
                                    "createdAt": "2025-01-16T13:53:22.726Z",
                                    "state": "running",
                                    "scannedCount": 0,
                                    "reviewedCount": 0,
                                    "inSequenceLeadCount": 0,
                                    "variableKeys": [],
                                    "senders": [],
                                    "sendUsers": [],
                                    "displayedVariableKeys": [
                                        "companyName"
                                    ],
                                    "emoji": "🚀",
                                    "stopOnEmailReplied": true,
                                    "crmOpportunitiesOnTask": true,
                                    "unsubscribe": "campaign",
                                    "name": "My new campaign",
                                    "crm": "hubspot",
                                    "crmUserId": "usr_BXJcMBSk7pwhdqAL2"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No API key provided",
                        "content": {
                            "text/plain": {
                                "example": "No API key provided"
                            }
                        }
                    },
                    "401": {
                        "description": "The authentication you supplied is incorrect",
                        "content": {
                            "text/plain": {
                                "example": "The authentication you supplied is incorrect"
                            }
                        }
                    },
                    "403": {
                        "description": "User linked to this API key is blocked",
                        "content": {
                            "text/plain": {
                                "example": "User linked to this API key is blocked"
                            }
                        }
                    },
                    "404": {
                        "description": "No user found for this API key",
                        "content": {
                            "text/plain": {
                                "example": "No user found for this API key"
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the campaign"
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            },
                            "example": {
                                "name": "My new campaign"
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{campaignId}": {
            "parameters": [
                {
                    "name": "campaignId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the campaign",
                    "example": "cam_A1B2C3D4E5F6G7H8I9",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get Campaign",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "labels": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "createdBy": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "cam_A1B2C3D4E5F6G7H8I9",
                                    "name": "Insights Outreach 2024",
                                    "labels": [
                                        "Insightful"
                                    ],
                                    "createdAt": "2024-02-29T11:00:11.293Z",
                                    "createdBy": "usr_T3dhQkG8xzCv4MU1e",
                                    "status": "running"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad team",
                        "content": {
                            "text/plain": {
                                "example": "Bad team"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Campaign not found",
                        "content": {
                            "text/plain": {
                                "example": "Campaign not found"
                            }
                        }
                    }
                }
            },
            "patch": {
                "summary": "Update Campaign",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "stopOnEmailReplied": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "example": {
                                    "name": "New campaign name",
                                    "stopOnEmailReplied": false
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad team",
                        "content": {
                            "text/plain": {
                                "example": "Bad team"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Campaign not found",
                        "content": {
                            "text/plain": {
                                "example": "Campaign not found"
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The campaign name"
                                    },
                                    "stopOnEmailReplied": {
                                        "type": "boolean",
                                        "description": "Stop the campaign when a lead replies by email"
                                    },
                                    "stopOnMeetingBooked": {
                                        "type": "boolean",
                                        "description": "Stop the campaign when a meeting is booked"
                                    },
                                    "stopOnLinkClicked": {
                                        "type": "boolean",
                                        "description": "Stop the campaign when a link is clicked"
                                    },
                                    "leadsPausedByInterest": {
                                        "type": "boolean",
                                        "description": "Pause leads based on interest"
                                    },
                                    "opportunityReplied": {
                                        "type": "boolean",
                                        "description": "Create an opportunity when a lead replies"
                                    },
                                    "opportunityClicked": {
                                        "type": "boolean",
                                        "description": "Create an opportunity when a lead clicks a link"
                                    },
                                    "autoLeadInterest": {
                                        "type": "boolean",
                                        "description": "Automatically detect lead interest"
                                    },
                                    "disableTrackOpen": {
                                        "type": "boolean",
                                        "description": "Disable tracking of email opens"
                                    },
                                    "disableTrackClick": {
                                        "type": "boolean",
                                        "description": "Disable tracking of link clicks"
                                    },
                                    "disableTrackReply": {
                                        "type": "boolean",
                                        "description": "Disable tracking of email replies"
                                    },
                                    "stopOnLinkClickedFilter": {
                                        "type": "string",
                                        "description": "Filter for which link clicks should stop the campaign"
                                    }
                                }
                            },
                            "example": {
                                "name": "New campaign name",
                                "stopOnEmailReplied": false,
                                "stopOnMeetingBooked": true,
                                "stopOnLinkClicked": false
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{campaignId}/pause": {
            "parameters": [
                {
                    "name": "campaignId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the campaign",
                    "example": "cam_A1B2C3D4E5F6G7H8I9",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "summary": "Pause Campaign",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "headers": {
                            "Content-Type": {
                                "schema": {
                                    "type": "string"
                                },
                                "example": "application/json"
                            }
                        },
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string"
                                        },
                                        "state": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "cam_A1B2C3D4E5F6G7H8I9",
                                    "state": "paused"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad team",
                        "content": {
                            "text/plain": {
                                "example": "Bad team"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Campaign not found",
                        "content": {
                            "text/plain": {
                                "example": "Campaign not found"
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{campaignId}/export/start": {
            "parameters": [
                {
                    "name": "campaignId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the campaign to export",
                    "example": "cam_A1B2C3D4E5F6G7H8I9",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Start Campaign Stats Export",
                "description": "Start an asynchronous export of all campaign statistics. The final export result is a CSV file.",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Export started successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "_id": {
                                            "type": "string",
                                            "description": "The unique identifier of the export"
                                        },
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier of the export (same as _id)"
                                        },
                                        "teamId": {
                                            "type": "string",
                                            "description": "The team identifier"
                                        },
                                        "campaignId": {
                                            "type": "string",
                                            "description": "The campaign identifier"
                                        },
                                        "campaignName": {
                                            "type": "string",
                                            "description": "The name of the campaign"
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "pending",
                                                "done",
                                                "error"
                                            ],
                                            "description": "Current status of the export"
                                        },
                                        "startedAt": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "When the export was started"
                                        },
                                        "progressIndex": {
                                            "type": "integer",
                                            "description": "Current progress index"
                                        },
                                        "progressTime": {
                                            "type": "integer",
                                            "description": "Timestamp of progress"
                                        },
                                        "progressLastStepDuration": {
                                            "type": "integer",
                                            "description": "Duration of last step in milliseconds"
                                        },
                                        "progressType": {
                                            "type": "string",
                                            "description": "Type of current progress step"
                                        },
                                        "progress": {
                                            "type": "integer",
                                            "description": "Number of items processed"
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Total number of items to process"
                                        }
                                    }
                                },
                                "example": {
                                    "_id": "axp_7dKLTwqpjxzR5vh2n",
                                    "id": "axp_7dKLTwqpjxzR5vh2n",
                                    "teamId": "tea_c123fg5h8ijKL9noP",
                                    "campaignId": "cam_A1B2C3D4E5F6G7H8I9",
                                    "campaignName": "Insights Outreach 2024",
                                    "status": "pending",
                                    "startedAt": "2024-07-09T13:43:52.124Z",
                                    "progressIndex": 0,
                                    "progressTime": 1720532632124,
                                    "progressLastStepDuration": 0,
                                    "progressType": "starting",
                                    "progress": 0,
                                    "total": 0
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad team",
                        "content": {
                            "text/plain": {
                                "example": "Bad team"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Campaign not found",
                        "content": {
                            "text/plain": {
                                "example": "Campaign not found"
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{campaignId}/export/{exportId}/status": {
            "parameters": [
                {
                    "name": "campaignId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the campaign that was exported",
                    "example": "cam_A1B2C3D4E5F6G7H8I9",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "exportId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the export returned by the /start endpoint",
                    "example": "axp_7dKLTwqpjxzR5vh2n",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "get": {
                "summary": "Get Campaign Export Status",
                "description": "Check the status of an asynchronous campaign export. Status are available for 2 hours only. An export that is still pending after 2 hours will be considered as failed and HTTP request will return 404. When you obtain the CSV file URL, you have to download the file within a 24 hours time frame. After that, the file will be deleted.",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Export status retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "status": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "The unique identifier of the export"
                                                },
                                                "teamId": {
                                                    "type": "string",
                                                    "description": "The team identifier"
                                                },
                                                "campaignId": {
                                                    "type": "string",
                                                    "description": "The campaign identifier"
                                                },
                                                "campaignName": {
                                                    "type": "string",
                                                    "description": "The name of the campaign"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "pending",
                                                        "done",
                                                        "error"
                                                    ],
                                                    "description": "Current status of the export"
                                                },
                                                "startedAt": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "description": "When the export was started"
                                                },
                                                "endedAt": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "description": "When the export finished (only present when done)"
                                                },
                                                "progressIndex": {
                                                    "type": "integer",
                                                    "description": "Current progress index"
                                                },
                                                "progressTime": {
                                                    "type": "integer",
                                                    "description": "Timestamp of progress"
                                                },
                                                "progressLastStepDuration": {
                                                    "type": "integer",
                                                    "description": "Duration of last step in milliseconds"
                                                },
                                                "progressType": {
                                                    "type": "string",
                                                    "description": "Type of current progress step"
                                                },
                                                "progress": {
                                                    "type": "integer",
                                                    "description": "Number of items processed"
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items to process"
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "description": "Download URL for the CSV file (only present when status is done)"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "done": {
                                        "summary": "Export completed",
                                        "value": {
                                            "ok": true,
                                            "status": {
                                                "id": "axp_7dKLTwqpjxzR5vh2n",
                                                "teamId": "tea_c123fg5h8ijKL9noP",
                                                "campaignId": "cam_A1B2C3D4E5F6G7H8I9",
                                                "campaignName": "Insights Outreach 2024",
                                                "status": "done",
                                                "startedAt": "2020-01-01T00:00:00.000Z",
                                                "endedAt": "2020-01-01T00:00:00.000Z",
                                                "progressIndex": 6,
                                                "progressTime": 1639138959979,
                                                "progressLastStepDuration": 476,
                                                "progressType": "done",
                                                "progress": 0,
                                                "total": 0,
                                                "url": "https://api.lemlist.com/api/files/exports/fil_axp_7dKLTwqpjxzR5vh2n_insights_outreach_2024.csv"
                                            }
                                        }
                                    },
                                    "pending": {
                                        "summary": "Export in progress",
                                        "value": {
                                            "ok": true,
                                            "status": {
                                                "id": "axp_7dKLTwqpjxzR5vh2n",
                                                "teamId": "tea_c123fg5h8ijKL9noP",
                                                "campaignId": "cam_A1B2C3D4E5F6G7H8I9",
                                                "campaignName": "Insights Outreach 2024",
                                                "status": "pending",
                                                "startedAt": "2020-01-01T00:00:00.000Z",
                                                "progressIndex": 3,
                                                "progressTime": 1639138959979,
                                                "progressLastStepDuration": 200,
                                                "progressType": "processing",
                                                "progress": 50,
                                                "total": 100
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad team",
                        "content": {
                            "text/plain": {
                                "example": "Bad team"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Campaign or export not found",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "exportNotFound": {
                                        "summary": "Export not found",
                                        "value": {
                                            "ok": false,
                                            "message": "Export with id axp_8bALQxunkwwC3yc9p not found"
                                        }
                                    },
                                    "campaignNotFound": {
                                        "summary": "Campaign not found",
                                        "value": "Campaign not found"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campaigns/{campaignId}/export/{exportId}/email/{email}": {
            "parameters": [
                {
                    "name": "campaignId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the campaign that was exported",
                    "example": "cam_A1B2C3D4E5F6G7H8I9",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "exportId",
                    "in": "path",
                    "required": true,
                    "description": "The unique identifier of the export returned by the /start endpoint",
                    "example": "axp_7dKLTwqpjxzR5vh2n",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "name": "email",
                    "in": "path",
                    "required": true,
                    "description": "The email address to send the export URL to when the export is done",
                    "example": "emily.johnson@example.com",
                    "schema": {
                        "type": "string",
                        "format": "email"
                    }
                }
            ],
            "put": {
                "summary": "Set Email for Campaign Export Notification",
                "description": "Set an email address for a given export. When the export is done, an email with the download URL will be sent to the address provided.",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "example": "application/json",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Email notification set successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "status": {
                                            "type": "object",
                                            "properties": {
                                                "_id": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "teamId": {
                                                    "type": "string"
                                                },
                                                "campaignId": {
                                                    "type": "string"
                                                },
                                                "campaignName": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "pending",
                                                        "done",
                                                        "error"
                                                    ]
                                                },
                                                "startedAt": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "progressIndex": {
                                                    "type": "integer"
                                                },
                                                "progressTime": {
                                                    "type": "integer"
                                                },
                                                "progressLastStepDuration": {
                                                    "type": "integer"
                                                },
                                                "progressType": {
                                                    "type": "string"
                                                },
                                                "progress": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "fileSize": {
                                                    "type": "integer",
                                                    "description": "Size of the export file in bytes"
                                                },
                                                "endedAt": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
[...]
