{
	"openapi": "3.0.0",
	"info": {
		"title": "lemlist",
		"version": "1.0.0",
		"description": "Welcome to the lemlist Developer Documentation.\n\nlemlist is very customizable and open. You'll find on this page all the API and integration you can do with lemlist.\n\n# Rate Limit\n\nlemlist's API rate limits requests in order to prevent abuse and overload of our services.  \nRate limits are applied on all routes and per api key performing the request.  \nThe rate limits are **20** requests per **2** seconds.  \nThe response provide any information you may need about it:\n\n| Header | Description |\n| --- | --- |\n| Retry-After | The number of second in which you can retry |\n| X-RateLimit-Limit | The maximum requests in that time |\n| X-RateLimit-Remaining | The number of remaining requests you can make |\n| X-RateLimit-Reset | The date when the rate limit will reset |\n\n_Example of values for the rate limit headers_\n\n``` json\n{\n    \"Retry-After\": 2,\n    \"X-RateLimit-Limit\": 20,\n    \"X-RateLimit-Remaining\": 7,\n    \"Retry-After\" : \"Tue Feb 16 2021 09:02:42 GMT+0100 (Central European Standard Time)\"\n}\n\n ```\n\n# Definitions\n\n## Team\n\nA team is the entity of lemlist that can handle users and billing.\n\n## Credits\n\nCredits are the coins a team uses to enrich emails, linkedIn url, etc via the route enrich. Each enrichment feature needs a certain amount of credit to run.\n\n## User\n\nYou use A user account to connect to lemlist and send messages via the connected emails or linkedIn account.\n\n## Campaigns\n\nIs the entity to automate the outreach, a campaign has multiple sequences composed of steps.\n\n## Lead\n\nA lead is a person that you try to contact via a Campaign.\n\n## Activities\n\nIs the history of all the steps\n\n## Unsubscribe\n\nUnsubscribe is when a person decides they don't want to receive emails from you anymore.\n\n# Authentication\n\nAll API routes are using the dedicated sub domain `api.lemlist.com`.\n\nlemlist uses API keys to allow access to the API. You can get your lemlist API key at our [integration page](https://app.lemlist.com/settings/integrations).\n\nYou need to add the `Authorization` header using the `Basic` authentication type. `login:password` **where the login is always empty and the password is the API key**.\n\nOr pass your API key as a query parameter `access_token`\n\n⚠️ **Don't forget to add the semicolon (**`:`**) before your API key in curl command.**\n\n> To authorize, use this code: \n  \n\n``` shell\ncurl https://api.lemlist.com/api/team \\\n  --user \":YourApiKey\"\n\n ```\n\n> Or \n  \n\n``` shell\ncurl https://api.lemlist.com/api/team?access_token=YourApiKey\n\n ```\n\n**Make sure to replace** **`YourApiKey`** **with your API key.**\n\n# Give feedback\n\nIf you want to report a bug, ask for data or share with us a usecase please fill this [form. ](https://lemlist.typeform.com/to/mfVlkyGf) It will help us centralize your needs!"
	},
	"servers": [
		{
			"url": "https://api.lemlist.com/api"
		}
	],
	"paths": {
		"/team": {
			"parameters": [],
			"get": {
				"summary": "Get team",
				"tags": [
					"Team"
				],
				"parameters": [
					{
						"name": "Content-Type",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"userIds": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"createdBy": {
											"type": "string"
										},
										"createdAt": {
											"type": "string",
											"format": "date-time"
										},
										"hooks": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"_id": {
														"type": "string"
													},
													"targetUrl": {
														"type": "string",
														"format": "uri"
													},
													"createdAt": {
														"type": "string",
														"format": "date-time"
													},
													"zapId": {
														"type": "integer"
													},
													"type": {
														"type": "string"
													},
													"campaignId": {
														"type": "string"
													}
												}
											}
										},
										"beta": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"slackWebhook": {
											"type": "string",
											"format": "uri"
										},
										"invitedUsers": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"email": {
														"type": "string",
														"format": "email"
													},
													"role": {
														"type": "string"
													},
													"invitedBy": {
														"type": "string"
													},
													"invitedAt": {
														"type": "string",
														"format": "date-time"
													}
												}
											}
										},
										"agency": {
											"type": "string"
										},
										"pictureId": {
											"type": "string"
										}
									}
								},
								"example": {
									"_id": "tea_c123fg5h8ijKL9noP",
									"name": "lemlist-admin",
									"userIds": [
										"usr_V7dQtF3sBnOv6LY5w",
										"usr_P5jMxR2yZhLt8BC4t",
										"usr_K2gTwJ7vXpRs3NF8p"
									],
									"createdBy": "usr_H8wrBoV4mtQx2NP6k",
									"createdAt": "2018-02-22T08:52:30.732Z",
									"hooks": [
										{
											"_id": "hoo_3JKlmnOp7qrStuvWx",
											"targetUrl": "https://hooks.zapier.com/hooks/standard/*your-webhook-id*/",
											"createdAt": "2020-04-07T09:12:34.674Z",
											"zapId": 83355551,
											"type": "emailsOpened",
											"campaignId": "cam_A1B2C3D4E5F6G7H8I9"
										},
										{
											"_id": "hoo_4LMnopQr8stUvWxYz",
											"targetUrl": "https://hooks.zapier.com/hooks/standard/*your-webhook-id*/",
											"createdAt": "2020-05-05T09:58:17.795Z",
											"zapId": 86330503,
											"type": "emailsOpened",
											"campaignId": "cam_K9L8M7N6O5P4Q3R2S1"
										}
									],
									"beta": [
										"scroll"
									],
									"slackWebhook": "https://hooks.slack.com/services/REDACTED/REDACTED/REDACTED",
									"invitedUsers": [
										{
											"email": "emily.johnson@example.com",
											"role": "admin",
											"invitedBy": "usr_A1xPwN8zYkGt9JD3q",
											"invitedAt": "2023-11-22T14:14:04.617Z"
										},
										{
											"email": "david.wilson@example.com",
											"role": "member",
											"invitedBy": "usr_L9mKrU5vWpHt2ZX1r",
											"invitedAt": "2024-04-03T21:55:08.105Z"
										}
									],
									"agency": "usr_H8wrBoV4mtQx2NP6k",
									"pictureId": "fil_AaBbCcDdEeFfGgHhI8.png"
								}
							}
						}
					},
					"401": {
						"headers": {},
						"description": "Unauthorized"
					}
				}
			}
		},
		"/team/senders": {
			"parameters": [],
			"get": {
				"summary": "Get Senders",
				"tags": [
					"Team"
				],
				"parameters": [
					{
						"name": "state",
						"in": "query",
						"required": false,
						"description": "(Optional) Filter by campaign's state (running, paused, draft, ended, archived, errors)",
						"example": "running",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"userId": {
												"type": "string"
											},
											"campaigns": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"_id": {
															"type": "string"
														},
														"name": {
															"type": "string"
														},
														"status": {
															"type": "string"
														},
														"sendingChannels": {
															"type": "array",
															"items": {
																"type": "string"
															}
														}
													}
												}
											}
										}
									}
								},
								"example": [
									{
										"userId": "usr_T3dhQkG8xzCv4MU1e",
										"campaigns": [
											{
												"_id": "cam_A1B2C3D4E5F6G7H8I9",
												"name": "Insights Outreach 2024",
												"status": "draft",
												"sendingChannels": [
													"linkedinInvite",
													"linkedinVisit",
													"linkedinSend",
													"email"
												]
											},
											{
												"_id": "cam_K9L8M7N6O5P4Q3R2S1",
												"name": "Discover Solutions Campaign",
												"status": "ended",
												"sendingChannels": [
													"linkedinInvite",
													"email"
												]
											},
											{
												"_id": "cam_T3U4V5W6X7Y8Z9A1B2",
												"name": "Unlock Potential Initiative",
												"status": "running",
												"sendingChannels": [
													"linkedinInvite"
												]
											},
											{
												"_id": "cam_M5N4O3P2Q1R9S8T7U6",
												"name": "Future Innovations Outreach",
												"status": "paused",
												"sendingChannels": [
													"linkedinInvite",
													"email"
												]
											},
											{
												"_id": "cam_G6H7I8J9K0L1M2N3O4",
												"name": "Insightful Solutions Drive",
												"status": "ended",
												"sendingChannels": [
													"linkedinInvite",
													"linkedinVisit",
													"linkedinSend",
													"email"
												]
											}
										]
									},
									{
										"userId": "usr_L7vsBnX5ykPw2TA9r",
										"campaigns": [
											{
												"_id": "cam_K9L8M7N6O5P4Q3R2S1",
												"name": "Discover Solutions Campaign",
												"status": "ended",
												"sendingChannels": [
													"email"
												]
											},
											{
												"_id": "cam_T3U4V5W6X7Y8Z9A1B2",
												"name": "Unlock Potential Initiative",
												"status": "running",
												"sendingChannels": [
													"linkedinVisit"
												]
											},
											{
												"_id": "cam_M5N4O3P2Q1R9S8T7U6",
												"name": "Future Innovations Outreach",
												"status": "paused",
												"sendingChannels": [
													"email"
												]
											}
										]
									}
								]
							}
						}
					},
					"401": {
						"headers": {},
						"description": "Unauthorized"
					}
				}
			}
		},
		"/team/credits": {
			"parameters": [],
			"get": {
				"summary": "Credits",
				"tags": [
					"Team"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"credits": {
											"type": "integer"
										},
										"details": {
											"type": "object",
											"properties": {
												"remaining": {
													"type": "object",
													"properties": {
														"total": {
															"type": "integer"
														},
														"freemium": {
															"type": "integer"
														},
														"subscription": {
															"type": "integer"
														},
														"gifted": {
															"type": "integer"
														},
														"paid": {
															"type": "integer"
														}
													}
												}
											}
										}
									}
								},
								"example": {
									"credits": 100,
									"details": {
										"remaining": {
											"total": 100,
											"freemium": 0,
											"subscription": 80,
											"gifted": 10,
											"paid": 10
										}
									}
								}
							}
						}
					},
					"401": {
						"headers": {},
						"description": "Unauthorized"
					}
				}
			}
		},
		"/team/crmUsers": {
			"parameters": [],
			"get": {
				"summary": "Get Users CRMs",
				"tags": [
					"Team"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"userId": {
												"type": "string"
											},
											"crm": {
												"type": "string"
											}
										}
									}
								},
								"example": [
									{
										"userId": "usr_h47tiJr87Zn7XtQHi",
										"crm": "salesforce"
									},
									{
										"userId": "usr_h47tiJr87Zn7XtQHi",
										"crm": "hubspot"
									},
									{
										"userId": "usr_h47tiJr87Zn7XtQHi",
										"crm": "pipedrive"
									}
								]
							}
						}
					},
					"401": {
						"headers": {},
						"description": "Unauthorized"
					}
				}
			}
		},
		"/users/{userId}": {
			"parameters": [
				{
					"name": "userId",
					"in": "path",
					"required": true,
					"example": "{{userId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"summary": "Get user",
				"tags": [
					"Users"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": {
											"type": "string"
										},
										"email": {
											"type": "string",
											"format": "email"
										},
										"role": {
											"type": "string"
										},
										"linkedIn": {
											"type": "object",
											"properties": {
												"status": {
													"type": "boolean"
												},
												"inviteLimit": {
													"type": "integer"
												},
												"sendLimit": {
													"type": "integer"
												},
												"visitLimit": {
													"type": "integer"
												}
											}
										},
										"mailboxes": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"_id": {
														"type": "string"
													},
													"email": {
														"type": "string",
														"format": "email"
													},
													"provider": {
														"type": "string"
													},
													"status": {
														"type": "string"
													},
													"lemlist": {
														"type": "object",
														"properties": {
															"emailLimit": {
																"type": "integer"
															}
														}
													},
													"lemwarm": {
														"type": "object",
														"properties": {
															"active": {
																"type": "boolean"
															}
														}
													}
												}
											}
										}
									}
								},
								"example": {
									"_id": "usr_QAucgYReK6EmMB3Cz",
									"email": "example@lempire.co",
									"role": "admin",
									"linkedIn": {
										"status": true,
										"inviteLimit": 25,
										"sendLimit": 33,
										"visitLimit": 36
									},
									"mailboxes": [
										{
											"_id": "usm_bsdepN6jb8zftK9Ns",
											"email": "example@gmail.com",
											"provider": "google",
											"status": "ERROR",
											"lemlist": {
												"emailLimit": 50
											},
											"lemwarm": {
												"active": false
											}
										},
										{
											"_id": "usm_gPKrqoNxaXxScTpPh",
											"email": "example@outlook.com",
											"status": "ERROR",
											"lemlist": {
												"emailLimit": 50
											},
											"lemwarm": {
												"active": false
											}
										}
									]
								}
							}
						}
					},
					"401": {
						"headers": {},
						"description": "Unauthorized"
					}
				}
			}
		},
		"/campaigns": {
			"parameters": [],
			"get": {
				"summary": "Retrieve All Campaigns",
				"tags": [
					"Campaigns"
				],
				"parameters": [
					{
						"name": "offset",
						"in": "query",
						"required": false,
						"description": "(Optional) Offset from the start. For pagination.",
						"example": "24",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"description": "(Optional) Number of campaigns to retrieve. 100 per default ( and 100 max ).",
						"example": "2",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "version",
						"in": "query",
						"required": false,
						"description": "(Optional) Set v2 to use last version",
						"example": "v2",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "(Optional) Page to show",
						"example": "1",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "sortBy",
						"in": "query",
						"required": false,
						"description": "(Optional): The field by which to sort the schedules. Currently, only \"createdAt\" is supported",
						"example": "createdAt",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sortOrder",
						"in": "query",
						"required": false,
						"description": "(Optional): The sort direction. Use \"desc\" for descending order; any other value (or omission) will sort in ascending order",
						"example": "desc",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "status",
						"in": "query",
						"required": false,
						"description": "(Optional): the campaign status. Can be the following values : running, draft, archived, ended, paused, errors. Beware: a campaign can be in multiple status at one time (eg a paused campaign with errors)",
						"example": "running",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"_id": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"labels": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"createdAt": {
												"type": "string",
												"format": "date-time"
											},
											"createdBy": {
												"type": "string"
											},
											"status": {
												"type": "string"
											}
										}
									}
								},
								"example": [
									{
										"_id": "cam_A1B2C3D4E5F6G7H8I9",
										"name": "Insights Outreach 2024",
										"labels": [
											"Insightful"
										],
										"createdAt": "2024-02-29T11:00:11.293Z",
										"createdBy": "usr_T3dhQkG8xzCv4MU1e",
										"status": "running"
									},
									{
										"_id": "cam_K9L8M7N6O5P4Q3R2S1",
										"name": "Discover Solutions Campaign",
										"labels": [
											"Solutions",
											"Future-Ready"
										],
										"createdAt": "2024-02-29T11:00:11.293Z",
										"createdBy": "usr_T3dhQkG8xzCv4MU1e",
										"archived": true,
										"status": "ended",
										"isEnded": true
									},
									{
										"_id": "cam_M5N4O3P2Q1R9S8T7U6",
										"name": "Future Innovations Outreach",
										"createdAt": "2024-02-15T09:00:15.272Z",
										"createdBy": "usr_T3dhQkG8xzCv4MU1e",
										"status": "paused"
									},
									{
										"_id": "cam_G6H7I8J9K0L1M2N3O4",
										"name": "Insightful Solutions Drive",
										"createdAt": "2024-01-25T13:00:11.293Z",
										"createdBy": "usr_T3dhQkG8xzCv4MU1e",
										"labels": [
											"Insightful",
											"Solutions"
										],
										"status": "draft",
										"hasError": true
									}
								]
							}
						}
					}
				}
			},
			"post": {
				"summary": "Create a new campaign",
				"tags": [
					"Campaigns"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": {
											"type": "string"
										},
										"sequenceId": {
											"type": "string"
										},
										"scheduleIds": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"teamId": {
											"type": "string"
										},
										"createdBy": {
											"type": "string"
										},
										"createdAt": {
											"type": "string",
											"format": "date-time"
										},
										"state": {
											"type": "string"
										},
										"scannedCount": {
											"type": "integer"
										},
										"reviewedCount": {
											"type": "integer"
										},
										"inSequenceLeadCount": {
											"type": "integer"
										},
										"variableKeys": {
											"type": "array",
											"items": {}
										},
										"senders": {
											"type": "array",
											"items": {}
										},
										"sendUsers": {
											"type": "array",
											"items": {}
										},
										"displayedVariableKeys": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"emoji": {
											"type": "string"
										},
										"stopOnEmailReplied": {
											"type": "boolean"
										},
										"crmOpportunitiesOnTask": {
											"type": "boolean"
										},
										"unsubscribe": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"crm": {
											"type": "string"
										},
										"crmUserId": {
											"type": "string"
										}
									}
								},
								"example": {
									"_id": "cam_WN3M22c3gDs4eQDXN",
									"sequenceId": "seq_hPj7N88tCgpFYgtnj",
									"scheduleIds": [
										"skd_isFGZkjSsvJZ7CfRx"
									],
									"teamId": "tea_MtScZ2GexXzHXRdTr",
									"createdBy": "usr_XCQktNJNa79X5Tvnh",
									"createdAt": "2025-01-16T13:53:22.726Z",
									"state": "running",
									"scannedCount": 0,
									"reviewedCount": 0,
									"inSequenceLeadCount": 0,
									"variableKeys": [],
									"senders": [],
									"sendUsers": [],
									"displayedVariableKeys": [
										"companyName"
									],
									"emoji": "🚀",
									"stopOnEmailReplied": true,
									"crmOpportunitiesOnTask": true,
									"unsubscribe": "campaign",
									"name": "My new campaign",
									"crm": "hubspot",
									"crmUserId": "usr_BXJcMBSk7pwhdqAL2"
								}
							}
						}
					}
				},
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									}
								}
							},
							"example": {
								"name": "{{name}}"
							}
						}
					}
				}
			}
		},
		"/campaigns/{campaignId}": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"summary": "Retrieve One Campaigns",
				"tags": [
					"Campaigns"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								},
								"example": null
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Update campaign configuration",
				"tags": [
					"Campaigns"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"stopOnEmailReplied": {
											"type": "boolean"
										}
									}
								},
								"example": {
									"name": "New campaign name",
									"stopOnEmailReplied": false
								}
							}
						}
					}
				},
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									},
									"stopOnEmailReplied": {
										"type": "string"
									},
									"stopOnMeetingBooked": {
										"type": "string"
									},
									"stopOnLinkClicked": {
										"type": "string"
									},
									"leadsPausedByInterest": {
										"type": "string"
									},
									"opportunityReplied": {
										"type": "string"
									},
									"opportunityClicked": {
										"type": "string"
									},
									"autoLeadInterest": {
										"type": "string"
									},
									"disableTrackOpen": {
										"type": "string"
									},
									"disableTrackClick": {
										"type": "string"
									},
									"disableTrackReply": {
										"type": "string"
									},
									"stopOnLinkClickedFilter": {
										"type": "string"
									}
								}
							},
							"example": {
								"name": "{{name}}",
								"stopOnEmailReplied": "{{stopOnEmailReplied}}",
								"stopOnMeetingBooked": "{{stopOnMeetingBooked}}",
								"stopOnLinkClicked": "{{stopOnLinkClicked}}",
								"leadsPausedByInterest": "{{leadsPausedByInterest}}",
								"opportunityReplied": "{{opportunityReplied}}",
								"opportunityClicked": "{{opportunityClicked}}",
								"autoLeadInterest": "{{nautoLeadInterestame}}",
								"disableTrackOpen": "{{disableTrackOpen}}",
								"disableTrackClick": "{{disableTrackClick}}",
								"disableTrackReply": "{{disableTrackReply}}",
								"stopOnLinkClickedFilter": "{{stopOnLinkClickedFilter}}"
							}
						}
					}
				}
			}
		},
		"/campaigns/{campaignId}/pause": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"post": {
				"summary": "Pause a campaign",
				"tags": [
					"Campaigns"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": {
											"type": "string"
										},
										"state": {
											"type": "string"
										}
									}
								},
								"example": {
									"_id": "cam_A1B2C3D4E5F6G7H8I9",
									"state": "paused"
								}
							}
						}
					}
				}
			}
		},
		"/campaigns/{campaignId}/export/start": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"summary": "Start an Export Campaign Stats",
				"tags": [
					"Campaigns"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": {
											"type": "string"
										},
										"id": {
											"type": "string"
										},
										"teamId": {
											"type": "string"
										},
										"campaignId": {
											"type": "string"
										},
										"campaignName": {
											"type": "string"
										},
										"status": {
											"type": "string"
										},
										"startedAt": {
											"type": "string",
											"format": "date-time"
										},
										"progressIndex": {
											"type": "integer"
										},
										"progressTime": {
											"type": "integer"
										},
										"progressLastStepDuration": {
											"type": "integer"
										},
										"progressType": {
											"type": "string"
										},
										"progress": {
											"type": "integer"
										},
										"total": {
											"type": "integer"
										}
									}
								},
								"example": {
									"_id": "axp_7dKLTwqpjxzR5vh2n",
									"id": "axp_7dKLTwqpjxzR5vh2n",
									"teamId": "tea_c123fg5h8ijKL9noP",
									"campaignId": "cam_A1B2C3D4E5F6G7H8I9",
									"campaignName": "Insights Outreach 2024",
									"status": "pending",
									"startedAt": "2024-07-09T13:43:52.124Z",
									"progressIndex": 0,
									"progressTime": 1720532632124,
									"progressLastStepDuration": 0,
									"progressType": "starting",
									"progress": 0,
									"total": 0
								}
							}
						}
					}
				}
			}
		},
		"/campaigns/{campaignId}/export/{exportId}/status": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "exportId",
					"in": "path",
					"required": true,
					"example": "{{exportId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"summary": "Get Status Of Campaign Export",
				"tags": [
					"Campaigns"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Done",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"status": {
											"type": "object",
											"properties": {
												"id": {
													"type": "string"
												},
												"teamId": {
													"type": "string"
												},
												"campaignId": {
													"type": "string"
												},
												"campaignName": {
													"type": "string"
												},
												"status": {
													"type": "string"
												},
												"startedAt": {
													"type": "string",
													"format": "date-time"
												},
												"endedAt": {
													"type": "string",
													"format": "date-time"
												},
												"progressIndex": {
													"type": "integer"
												},
												"progressTime": {
													"type": "integer"
												},
												"progressLastStepDuration": {
													"type": "integer"
												},
												"progressType": {
													"type": "string"
												},
												"progress": {
													"type": "integer"
												},
												"total": {
													"type": "integer"
												},
												"url": {
													"type": "string",
													"format": "uri"
												}
											}
										}
									}
								},
								"example": {
									"ok": true,
									"status": {
										"id": "axp_7dKLTwqpjxzR5vh2n",
										"teamId": "tea_c123fg5h8ijKL9noP",
										"campaignId": "cam_A1B2C3D4E5F6G7H8I9",
										"campaignName": "Insights Outreach 2024",
										"status": "done",
										"startedAt": "2020-01-01T00:00:00.000Z",
										"endedAt": "2020-01-01T00:00:00.000Z",
										"progressIndex": 6,
										"progressTime": 1639138959979,
										"progressLastStepDuration": 476,
										"progressType": "done",
										"progress": 0,
										"total": 0,
										"url": "https://api.lemlist.com/api/files/exports/fil_axp_7dKLTwqpjxzR5vh2n_insights_outreach_2024.csv"
									}
								}
							}
						}
					},
					"404": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"message": {
											"type": "string"
										}
									}
								},
								"example": {
									"ok": false,
									"message": "Export with id axp_8bALQxunkwwC3yc9p not found"
								}
							}
						}
					}
				}
			}
		},
		"/campaigns/reports": {
			"parameters": [],
			"get": {
				"summary": "Reports",
				"tags": [
					"Campaigns"
				],
				"parameters": [
					{
						"name": "campaignIds",
						"in": "query",
						"required": false,
						"example": "{{campaignId}},{{campaignId}}",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"status": {
											"type": "object",
											"properties": {
												"id": {
													"type": "string"
												},
												"teamId": {
													"type": "string"
												},
												"campaignId": {
													"type": "string"
												},
												"campaignName": {
													"type": "string"
												},
												"status": {
													"type": "string"
												},
												"startedAt": {
													"type": "string",
													"format": "date-time"
												},
												"endedAt": {
													"type": "string",
													"format": "date-time"
												},
												"progressIndex": {
													"type": "integer"
												},
												"progressTime": {
													"type": "integer"
												},
												"progressLastStepDuration": {
													"type": "integer"
												},
												"progressType": {
													"type": "string"
												},
												"progress": {
													"type": "integer"
												},
												"total": {
													"type": "integer"
												},
												"url": {
													"type": "string",
													"format": "uri"
												}
											}
										}
									}
								},
								"example": {
									"ok": true,
									"status": {
										"id": "axp_7dKLTwqpjxzR5vh2n",
										"teamId": "tea_c123fg5h8ijKL9noP",
										"campaignId": "cam_A1B2C3D4E5F6G7H8I9",
										"campaignName": "Insights Outreach 2024",
										"status": "done",
										"startedAt": "2020-01-01T00:00:00.000Z",
										"endedAt": "2020-01-01T00:00:00.000Z",
										"progressIndex": 6,
										"progressTime": 1639138959979,
										"progressLastStepDuration": 476,
										"progressType": "done",
										"progress": 0,
										"total": 0,
										"url": "https://api.lemlist.com/api/files/exports/fil_axp_7dKLTwqpjxzR5vh2n_insights_outreach_2024.csv"
									}
								}
							}
						}
					},
					"404": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"message": {
											"type": "string"
										}
									}
								},
								"example": {
									"ok": false,
									"message": "Export with id axp_8bALQxunkwwC3yc9p not found"
								}
							}
						}
					}
				}
			}
		},
		"/campaigns/{campaignId}/export/{exportId}/email/{email}": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "exportId",
					"in": "path",
					"required": true,
					"example": "{{exportId}}",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "email",
					"in": "path",
					"required": true,
					"example": "{{email}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"put": {
				"summary": "Export Campaign Send Status By Email",
				"tags": [
					"Campaigns"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"status": {
											"type": "object",
											"properties": {
												"_id": {
													"type": "string"
												},
												"id": {
													"type": "string"
												},
												"teamId": {
													"type": "string"
												},
												"campaignId": {
													"type": "string"
												},
												"campaignName": {
													"type": "string"
												},
												"status": {
													"type": "string"
												},
												"startedAt": {
													"type": "string",
													"format": "date-time"
												},
												"progressIndex": {
													"type": "integer"
												},
												"progressTime": {
													"type": "integer"
												},
												"progressLastStepDuration": {
													"type": "integer"
												},
												"progressType": {
													"type": "string"
												},
												"progress": {
													"type": "integer"
												},
												"total": {
													"type": "integer"
												},
												"fileSize": {
													"type": "integer"
												},
												"endedAt": {
													"type": "string",
													"format": "date-time"
												},
												"url": {
													"type": "string",
													"format": "uri"
												},
												"email": {
													"type": "string",
													"format": "email"
												}
											}
										}
									}
								},
								"example": {
									"ok": true,
									"status": {
										"_id": "axp_7dKLTwqpjxzR5vh2n",
										"id": "axp_7dKLTwqpjxzR5vh2n",
										"teamId": "tea_c123fg5h8ijKL9noP",
										"campaignId": "cam_A1B2C3D4E5F6G7H8I9",
										"campaignName": "Insights Outreach 2024",
										"status": "done",
										"startedAt": "2024-07-11T09:49:15.278Z",
										"progressIndex": 6,
										"progressTime": 1720691355497,
										"progressLastStepDuration": 0,
										"progressType": "done",
										"progress": 0,
										"total": 0,
										"fileSize": 654,
										"endedAt": "2024-07-11T09:49:15.497Z",
										"url": "https://api.lemlist.com/api/files/exports/fil_axp_7dKLTwqpjxzR5vh2n_insights_outreach_2024.csv",
										"email": "emily.johnson@example.com"
									}
								}
							}
						}
					}
				}
			}
		},
		"/campaigns/{campaignId}/export/leads": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"summary": "Export Campaign Leads",
				"tags": [
					"Campaigns"
				],
				"parameters": [
					{
						"name": "state",
						"in": "query",
						"required": false,
						"description": "Filter to export only the specified lead's last states; 'all' will export all states.",
						"example": "all",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "format",
						"in": "query",
						"required": false,
						"description": "(Optional) Output format: json or csv",
						"example": "json",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Export Campaign Leads"
					}
				}
			}
		},
		"/campaigns/{campaignId}/sequences": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"summary": "Retrieve campaign sequences",
				"tags": [
					"Sequences"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"seq_p9qaCXrptS8XcPPNK": {
											"type": "object",
											"properties": {
												"_id": {
													"type": "string"
												},
												"steps": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"_id": {
																"type": "string"
															},
															"type": {
																"type": "string"
															},
															"delay": {
																"type": "integer"
															},
															"emailTemplateId": {
																"type": "string"
															},
															"index": {
																"type": "integer"
															},
															"message": {
																"type": "string"
															}
														}
													}
												},
												"level": {
													"type": "integer"
												}
											}
										},
										"seq_jgBhmiQYyRd3gW8Sb": {
											"type": "object",
											"properties": {
												"_id": {
													"type": "string"
												},
												"parentId": {
													"type": "string"
												},
												"conditionalStepIndex": {
													"type": "integer"
												},
												"steps": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"_id": {
																"type": "string"
															},
															"type": {
																"type": "string"
															},
															"delay": {
																"type": "integer"
															},
															"emailTemplateId": {
																"type": "string"
															},
															"index": {
																"type": "integer"
															},
															"message": {
																"type": "string"
															}
														}
													}
												},
												"level": {
													"type": "integer"
												}
											}
										}
									}
								},
								"example": {
									"seq_p9qaCXrptS8XcPPNK": {
										"_id": "seq_p9qaCXrptS8XcPPNK",
										"steps": [
											{
												"_id": "stp_wHzzFZntP2FvJbeb6",
												"type": "linkedinInvite",
												"delay": 0,
												"emailTemplateId": "etp_5qsoi5kneNkakmPd5",
												"index": 1,
												"message": "Test invite message"
											},
											{
												"_id": "stp_EtKsaSW62vyFhMME4",
												"type": "conditional",
												"conditions": [
													{
														"sequenceId": "seq_jgBhmiQYyRd3gW8Sb",
														"label": "Accepted invite",
														"key": "linkedinInviteAccepted",
														"delay": 1,
														"delayType": "waitUntil"
													},
													{
														"sequenceId": "seq_ET4kSR3GAkcRqp2TE",
														"fallback": true
													}
												],
												"index": 2
											}
										],
										"level": 0
									},
									"seq_jgBhmiQYyRd3gW8Sb": {
										"_id": "seq_jgBhmiQYyRd3gW8Sb",
										"parentId": "seq_p9qaCXrptS8XcPPNK",
										"conditionalStepIndex": 1,
										"steps": [
											{
												"_id": "stp_vMqX4wgSmqMXd2env",
												"type": "linkedinSend",
												"delay": 1,
												"emailTemplateId": "etp_DJqHmozZtYz4JWyyB",
												"index": 3,
												"message": "Test message"
											}
										],
										"level": 1
									}
								}
							}
						}
					}
				}
			}
		},
		"/sequences/{sequenceId}/steps": {
			"parameters": [
				{
					"name": "sequenceId",
					"in": "path",
					"required": true,
					"example": "{{sequenceId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"post": {
				"summary": "Add step to sequence",
				"tags": [
					"Sequences"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": {
											"type": "string"
										},
										"type": {
											"type": "string"
										},
										"delay": {
											"type": "integer"
										},
										"emailTemplateId": {
											"type": "string"
										},
										"message": {
											"type": "string"
										}
									}
								},
								"example": {
									"_id": "stp_Z2539g5BB4qCoZBgf",
									"type": "linkedinInvite",
									"delay": 2,
									"emailTemplateId": "etp_LWuaE5JG4Bm4riPf5",
									"message": "Hello, I would like...."
								}
							}
						}
					}
				},
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object"
							},
							"example": {}
						}
					}
				}
			}
		},
		"/sequences/{sequenceId}/steps/{stepId}": {
			"parameters": [
				{
					"name": "sequenceId",
					"in": "path",
					"required": true,
					"example": "{{sequenceId}}",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "stepId",
					"in": "path",
					"required": true,
					"example": "{{stepId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"patch": {
				"summary": "Update sequence step",
				"tags": [
					"Sequences"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": {
											"type": "string"
										},
										"type": {
											"type": "string"
										},
										"delay": {
											"type": "integer"
										},
										"emailTemplateId": {
											"type": "string"
										},
										"message": {
											"type": "string"
										}
									}
								},
								"example": {
									"_id": "stp_Z2539g5BB4qCoZBgf",
									"type": "linkedinInvite",
									"delay": 0,
									"emailTemplateId": "etp_xNieSJDTnd2YZ46LF",
									"message": "Hello, I want to...."
								}
							}
						}
					}
				},
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object"
							},
							"example": {}
						}
					}
				}
			},
			"delete": {
				"summary": "Delete sequence step",
				"tags": [
					"Sequences"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										}
									}
								},
								"example": {
									"ok": true
								}
							}
						}
					}
				},
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object"
							},
							"example": {}
						}
					}
				}
			}
		},
		"/schedules": {
			"parameters": [],
			"get": {
				"summary": "Retrieve All Schedules",
				"tags": [
					"Schedules"
				],
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "(Optional): The page number to retrieve",
						"example": "1",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "offset",
						"in": "query",
						"required": false,
						"description": "(Optional,): The number of records to skip. Used if page is not provided",
						"example": "0",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"description": "(Optional,): The maximum number of records to return",
						"example": "2",
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "sortBy",
						"in": "query",
						"required": false,
						"description": "(Optional,): The field by which to sort the schedules. Currently, only \"createdAt\" is supported",
						"example": "createdAt",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sortOrder",
						"in": "query",
						"required": false,
						"description": "(Optional,): The sort direction. Use \"desc\" for descending order; any other value (or omission) will sort in ascending order",
						"example": "desc",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"schedules": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"_id": {
														"type": "string"
													},
													"name": {
														"type": "string"
													},
													"secondsToWait": {
														"type": "integer"
													},
													"timezone": {
														"type": "string"
													},
													"start": {
														"type": "string",
														"format": "style"
													},
													"end": {
														"type": "string"
													},
													"weekdays": {
														"type": "array",
														"items": {
															"type": "integer"
														}
													},
													"teamId": {
														"type": "string"
													},
													"createdBy": {
														"type": "string"
													},
													"createdAt": {
														"type": "string",
														"format": "date-time"
													}
												}
											}
										},
										"pagination": {
											"type": "object",
											"properties": {
												"totalRecords": {
													"type": "integer"
												},
												"currentPage": {
													"type": "integer"
												},
												"nextPage": {
													"type": "integer"
												},
												"totalPage": {
													"type": "integer"
												}
											}
										}
									}
								},
								"example": {
									"schedules": [
										{
											"_id": "skd_Cyf3LZJuJamrmCMrv",
											"name": "Test 2",
											"secondsToWait": 1200,
											"timezone": "Atlantic/Reykjavik",
											"start": "08:00",
											"end": "18:00",
											"weekdays": [
												1,
												2,
												3,
												4,
												5
											],
											"teamId": "tea_b834id4r7skME8mfW",
											"createdBy": "usr_F7iPChEQ3pSmuTiCe",
											"createdAt": "2025-02-06T16:29:10.217Z"
										},
										{
											"_id": "skd_ZmBiTE9xA4yo5yigu",
											"name": "Default schedule",
											"secondsToWait": 1200,
											"timezone": "Europe/Paris",
											"start": "09:00",
											"end": "18:00",
											"weekdays": [
												1,
												2,
												3,
												4,
												5
											],
											"teamId": "tea_b834id4r7skME8mfW",
											"createdBy": "usr_F7iPChEQ3pSmuTiCe",
											"createdAt": "2025-02-06T16:28:30.913Z"
										},
										{
											"_id": "skd_7AJHLRRxpRhcPxopG",
											"name": "Default schedule",
											"secondsToWait": 1200,
											"timezone": "Europe/Paris",
											"start": "09:00",
											"end": "18:00",
											"weekdays": [
												1,
												2,
												3,
												4,
												5
											],
											"teamId": "tea_b834id4r7skME8mfW",
											"createdBy": "usr_F7iPChEQ3pSmuTiCe",
											"createdAt": "2025-02-06T16:25:47.049Z"
										}
									],
									"pagination": {
										"totalRecords": 5780,
										"currentPage": 1,
										"nextPage": 2,
										"totalPage": 1927
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"summary": "Create a new schedule",
				"tags": [
					"Schedules"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"secondsToWait": {
											"type": "integer"
										},
										"timezone": {
											"type": "string"
										},
										"start": {
											"type": "string",
											"format": "style"
										},
										"end": {
											"type": "string"
										},
										"weekdays": {
											"type": "array",
											"items": {
												"type": "integer"
											}
										},
										"public": {
											"type": "boolean"
										},
										"teamId": {
											"type": "string"
										},
										"createdBy": {
											"type": "string"
										},
										"createdAt": {
											"type": "string",
											"format": "date-time"
										}
									}
								},
								"example": {
									"_id": "skd_JTb4gjdiizqPoYqzh",
									"name": "Default schedule",
									"secondsToWait": 120,
									"timezone": "Europe/Paris",
									"start": "09:00",
									"end": "18:00",
									"weekdays": [
										1,
										2,
										3,
										4,
										5
									],
									"public": false,
									"teamId": "tea_Lq4kN7R2pqEA4YFst",
									"createdBy": "usr_n2PG5aHnsGErYS2Yg",
									"createdAt": "2025-01-17T15:17:59.207Z"
								}
							}
						}
					}
				},
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									},
									"secondsToWait": {
										"type": "string"
									},
									"timezone": {
										"type": "string"
									},
									"start": {
										"type": "string"
									},
									"end": {
										"type": "string"
									},
									"weekdays": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"public": {
										"type": "string"
									}
								}
							},
							"example": {
								"name": "{{name}}",
								"secondsToWait": "{{seconds}}",
								"timezone": "{{timezone}}",
								"start": "{{start}}",
								"end": "{{end}}",
								"weekdays": [
									"{{days}}"
								],
								"public": "{{public}}"
							}
						}
					}
				}
			}
		},
		"/schedules/{scheduleId}": {
			"parameters": [
				{
					"name": "scheduleId",
					"in": "path",
					"required": true,
					"example": "{{scheduleId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"summary": "Retrieve One Schedule",
				"tags": [
					"Schedules"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"secondsToWait": {
											"type": "integer"
										},
										"timezone": {
											"type": "string"
										},
										"start": {
											"type": "string",
											"format": "style"
										},
										"end": {
											"type": "string"
										},
										"weekdays": {
											"type": "array",
											"items": {
												"type": "integer"
											}
										},
										"teamId": {
											"type": "string"
										},
										"createdBy": {
											"type": "string"
										},
										"createdAt": {
											"type": "string",
											"format": "date-time"
										}
									}
								},
								"example": {
									"_id": "skd_JTb4gjdiizqPoYqzh",
									"name": "Default schedule",
									"secondsToWait": 120,
									"timezone": "Europe/Paris",
									"start": "09:00",
									"end": "18:00",
									"weekdays": [
										1,
										2,
										3,
										4,
										5
									],
									"teamId": "tea_Lq4kN7R2pqEA4YFst",
									"createdBy": "usr_n2PG5aHnsGErYS2Yg",
									"createdAt": "2025-01-17T15:17:59.207Z"
								}
							}
						}
					}
				}
			},
			"patch": {
				"summary": "Update a schedule",
				"tags": [
					"Schedules"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"secondsToWait": {
											"type": "integer"
										},
										"timezone": {
											"type": "string"
										},
										"start": {
											"type": "string",
											"format": "style"
										},
										"end": {
											"type": "string"
										},
										"weekdays": {
											"type": "array",
											"items": {
												"type": "integer"
											}
										},
										"public": {
											"type": "boolean"
										},
										"teamId": {
											"type": "string"
										},
										"createdBy": {
											"type": "string"
										},
										"createdAt": {
											"type": "string",
											"format": "date-time"
										}
									}
								},
								"example": {
									"_id": "skd_JTb4gjdiizqPoYqzh",
									"name": "Schedule new name",
									"secondsToWait": 120,
									"timezone": "Europe/Paris",
									"start": "09:00",
									"end": "18:00",
									"weekdays": [
										1,
										2,
										3,
										4,
										5
									],
									"public": false,
									"teamId": "tea_Lq4kN7R2pqEA4YFst",
									"createdBy": "usr_n2PG5aHnsGErYS2Yg",
									"createdAt": "2025-01-17T15:17:59.207Z"
								}
							}
						}
					}
				},
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									},
									"secondsToWait": {
										"type": "string"
									},
									"timezone": {
										"type": "string"
									},
									"start": {
										"type": "string"
									},
									"end": {
										"type": "string"
									},
									"weekdays": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"public": {
										"type": "string"
									}
								}
							},
							"example": {
								"name": "{{name}}",
								"secondsToWait": "{{seconds}}",
								"timezone": "{{timezone}}",
								"start": "{{start}}",
								"end": "{{end}}",
								"weekdays": [
									"{{days}}"
								],
								"public": "{{public}}"
							}
						}
					}
				}
			},
			"delete": {
				"summary": "Delete a schedule",
				"tags": [
					"Schedules"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"_id": {
											"type": "string"
										}
									}
								},
								"example": {
									"_id": "skd_L2sKZ3HMddtrfmHGr"
								}
							}
						}
					}
				}
			}
		},
		"/campaigns/{campaignId}/schedules/": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"summary": "Retrieve Campaign Schedules",
				"tags": [
					"Schedules"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"_id": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"secondsToWait": {
												"type": "integer"
											},
											"timezone": {
												"type": "string"
											},
											"start": {
												"type": "string",
												"format": "style"
											},
											"end": {
												"type": "string"
											},
											"weekdays": {
												"type": "array",
												"items": {
													"type": "integer"
												}
											},
											"teamId": {
												"type": "string"
											},
											"createdBy": {
												"type": "string"
											},
											"createdAt": {
												"type": "string",
												"format": "date-time"
											}
										}
									}
								},
								"example": [
									{
										"_id": "skd_Cyf3LZJuJamrmCMrv",
										"name": "Test 2",
										"secondsToWait": 1200,
										"timezone": "Atlantic/Reykjavik",
										"start": "08:00",
										"end": "18:00",
										"weekdays": [
											1,
											2,
											3,
											4,
											5
										],
										"teamId": "tea_b834id4r7skME8mfW",
										"createdBy": "usr_F7iPChEQ3pSmuTiCe",
										"createdAt": "2025-02-06T16:29:10.217Z"
									},
									{
										"_id": "skd_hCG7J8K4EcLYM3GS9",
										"name": "Default schedule",
										"secondsToWait": 1200,
										"timezone": "Africa/Ceuta",
										"start": "09:00",
										"end": "18:00",
										"weekdays": [
											1,
											2,
											3,
											4,
											5
										],
										"teamId": "tea_b834id4r7skME8mfW",
										"createdBy": "usr_cTWih7tcKWicFRiQj",
										"createdAt": "2025-02-06T15:36:01.531Z"
									},
									{
										"_id": "skd_sxKnxqQ9Qx9vMEyyZ",
										"name": "Default schedule",
										"secondsToWait": 1200,
										"timezone": "Europe/Paris",
										"start": "09:00",
										"end": "18:00",
										"weekdays": [
											1,
											2,
											3,
											4,
											5
										],
										"teamId": "tea_b834id4r7skME8mfW",
										"createdBy": "usr_cTWih7tcKWicFRiQj",
										"createdAt": "2025-02-06T15:35:52.079Z"
									}
								]
							}
						}
					}
				}
			}
		},
		"/campaigns/{campaignId}/schedules/{scheduleId}": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "scheduleId",
					"in": "path",
					"required": true,
					"example": "{{scheduleId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"post": {
				"summary": "Associate schedule with campaign",
				"tags": [
					"Schedules"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"scheduleId": {
											"type": "string"
										},
										"campaignId": {
											"type": "string"
										}
									}
								},
								"example": {
									"scheduleId": "skd_CBHNKLZsZr3FFJHPK",
									"campaignId": "cam_SaAarzTsXms8BENvR"
								}
							}
						}
					}
				}
			}
		},
		"/leads/start/{leadId}": {
			"parameters": [
				{
					"name": "leadId",
					"in": "path",
					"required": true,
					"example": "{{leadId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"post": {
				"summary": "Resume a paused Lead",
				"tags": [
					"Leads"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success all campaign",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"email": {
												"type": "string",
												"format": "email"
											},
											"firstName": {
												"type": "string"
											},
											"lastName": {
												"type": "string"
											},
											"picture": {
												"type": "string",
												"format": "uri"
											},
											"phone": {
												"type": "string",
												"format": "phone"
											},
											"linkedinUrl": {
												"type": "string",
												"format": "uri"
											},
											"companyName": {
												"type": "string"
											},
											"companyDomain": {
												"type": "string"
											},
											"icebreaker": {
												"type": "string"
											},
											"jobTitle": {
												"type": "string"
											},
											"_id": {
												"type": "string"
											},
											"isPaused": {
												"type": "boolean"
											},
											"campaignId": {
												"type": "string"
											}
										}
									}
								},
								"example": [
									{
										"email": "john.doe@domain.com",
										"firstName": "John",
										"lastName": "Doe",
										"picture": "https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d",
										"phone": "+33 123456789",
										"linkedinUrl": "https://www.linkedin.com/in/johndoe,",
										"companyName": "lempire",
										"companyDomain": "lempire.co",
										"icebreaker": "Hello John, I came across your profile and your expertise in software development is remarkable!",
										"jobTitle": "Developer",
										"_id": "lea_7kMNQwplxvvD2hf5z",
										"isPaused": false,
										"campaignId": "cam_A1B2C3D4E5F6G7H8I9"
									},
									{
										"firstname": "John",
										"lastname": "Doe",
										"companyName": "lempire",
										"email": "john.doe@domain.com",
										"_id": "lea_3pRTJnkxwwF6vh1m",
										"isPaused": false,
										"campaignId": "cam_K9L8M7N6O5P4Q3R2S1"
									}
								]
							}
						}
					}
				}
			}
		},
		"/leads/pause/{leadId}": {
			"parameters": [
				{
					"name": "leadId",
					"in": "path",
					"required": true,
					"example": "{{leadId}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"post": {
				"summary": "Pause a Lead",
				"tags": [
					"Leads"
				],
				"parameters": [
					{
						"name": "campaignId",
						"in": "query",
						"required": false,
						"description": "(Optional) id of the campaign",
						"example": "{{campaignId}}",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success all campaign",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"email": {
												"type": "string",
												"format": "email"
											},
											"firstName": {
												"type": "string"
											},
											"lastName": {
												"type": "string"
											},
											"picture": {
												"type": "string",
												"format": "uri"
											},
											"phone": {
												"type": "string",
												"format": "phone"
											},
											"linkedinUrl": {
												"type": "string",
												"format": "uri"
											},
											"companyName": {
												"type": "string"
											},
											"companyDomain": {
												"type": "string"
											},
											"icebreaker": {
												"type": "string"
											},
											"jobTitle": {
												"type": "string"
											},
											"_id": {
												"type": "string"
											},
											"isPaused": {
												"type": "boolean"
											},
											"campaignId": {
												"type": "string"
											}
										}
									}
								},
								"example": [
									{
										"email": "john.doe@domain.com",
										"firstName": "John",
										"lastName": "Doe",
										"picture": "https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d",
										"phone": "+33 123456789",
										"linkedinUrl": "https://www.linkedin.com/in/johndoe,",
										"companyName": "lempire",
										"companyDomain": "lempire.co",
										"icebreaker": "Hello John, I came across your profile and your expertise in software development is remarkable!",
										"jobTitle": "Developer",
										"_id": "lea_7kMNQwplxvvD2hf5z",
										"isPaused": true,
										"campaignId": "cam_A1B2C3D4E5F6G7H8I9"
									},
									{
										"firstname": "John",
										"lastname": "Doe",
										"companyName": "lempire",
										"email": "john.doe@domain.com",
										"_id": "lea_3pRTJnkxwwF6vh1m",
										"isPaused": true,
										"campaignId": "cam_K9L8M7N6O5P4Q3R2S1"
									}
								]
							}
						}
					},
					"default": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success specific campaign",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"email": {
												"type": "string",
												"format": "email"
											},
											"firstName": {
												"type": "string"
											},
											"lastName": {
												"type": "string"
											},
											"picture": {
												"type": "string",
												"format": "uri"
											},
											"phone": {
												"type": "string",
												"format": "phone"
											},
											"linkedinUrl": {
												"type": "string",
												"format": "uri"
											},
											"companyName": {
												"type": "string"
											},
											"companyDomain": {
												"type": "string"
											},
											"icebreaker": {
												"type": "string"
											},
											"jobTitle": {
												"type": "string"
											},
											"_id": {
												"type": "string"
											},
											"isPaused": {
												"type": "boolean"
											},
											"campaignId": {
												"type": "string"
											}
										}
									}
								},
								"example": [
									{
										"email": "john.doe@domain.com",
										"firstName": "John",
										"lastName": "Doe",
										"picture": "https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d",
										"phone": "+33 123456789",
										"linkedinUrl": "https://www.linkedin.com/in/johndoe,",
										"companyName": "lempire",
										"companyDomain": "lempire.co",
										"icebreaker": "Hello John, I came across your profile and your expertise in software development is remarkable!",
										"jobTitle": "Developer",
										"_id": "lea_7kMNQwplxvvD2hf5z",
										"isPaused": true,
										"campaignId": "cam_A1B2C3D4E5F6G7H8I9"
									}
								]
							}
						}
					}
				}
			}
		},
		"/leads/interested/{leadIdOrEmail}": {
			"parameters": [
				{
					"name": "leadIdOrEmail",
					"in": "path",
					"required": true,
					"example": "{{leadIdOrEmail}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"post": {
				"summary": "Mark a Lead as interested",
				"tags": [
					"Leads"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"email": {
												"type": "string",
												"format": "email"
											},
											"firstName": {
												"type": "string"
											},
											"lastName": {
												"type": "string"
											},
											"picture": {
												"type": "string",
												"format": "uri"
											},
											"phone": {
												"type": "string",
												"format": "phone"
											},
											"linkedinUrl": {
												"type": "string",
												"format": "uri"
											},
											"companyName": {
												"type": "string"
											},
											"companyDomain": {
												"type": "string"
											},
											"icebreaker": {
												"type": "string"
											},
											"jobTitle": {
												"type": "string"
											},
											"_id": {
												"type": "string"
											},
											"isPaused": {
												"type": "boolean"
											},
											"campaignId": {
												"type": "string"
											}
										}
									}
								},
								"example": [
									{
										"email": "john.doe@domain.com",
										"firstName": "John",
										"lastName": "Doe",
										"picture": "https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d",
										"phone": "+33 123456789",
										"linkedinUrl": "https://www.linkedin.com/in/johndoe,",
										"companyName": "lempire",
										"companyDomain": "lempire.co",
										"icebreaker": "Hello John, I came across your profile and your expertise in software development is remarkable!",
										"jobTitle": "Developer",
										"_id": "lea_7kMNQwplxvvD2hf5z",
										"isPaused": false,
										"campaignId": "cam_A1B2C3D4E5F6G7H8I9"
									},
									{
										"firstname": "John",
										"lastname": "Doe",
										"companyName": "lempire",
										"email": "john.doe@domain.com",
										"_id": "lea_3pRTJnkxwwF6vh1m",
										"isPaused": true,
										"campaignId": "cam_K9L8M7N6O5P4Q3R2S1"
									}
								]
							}
						}
					}
				}
			}
		},
		"/leads/notinterested/{leadIdOrEmail}": {
			"parameters": [
				{
					"name": "leadIdOrEmail",
					"in": "path",
					"required": true,
					"example": "{{leadIdOrEmail}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"post": {
				"summary": "Mark a Lead as not interested",
				"tags": [
					"Leads"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"email": {
												"type": "string",
												"format": "email"
											},
											"firstName": {
												"type": "string"
											},
											"lastName": {
												"type": "string"
											},
											"picture": {
												"type": "string",
												"format": "uri"
											},
											"phone": {
												"type": "string",
												"format": "phone"
											},
											"linkedinUrl": {
												"type": "string",
												"format": "uri"
											},
											"companyName": {
												"type": "string"
											},
											"companyDomain": {
												"type": "string"
											},
											"icebreaker": {
												"type": "string"
											},
											"jobTitle": {
												"type": "string"
											},
											"_id": {
												"type": "string"
											},
											"isPaused": {
												"type": "boolean"
											},
											"campaignId": {
												"type": "string"
											}
										}
									}
								},
								"example": [
									{
										"email": "john.doe@domain.com",
										"firstName": "John",
										"lastName": "Doe",
										"picture": "https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d",
										"phone": "+33 123456789",
										"linkedinUrl": "https://www.linkedin.com/in/johndoe,",
										"companyName": "lempire",
										"companyDomain": "lempire.co",
										"icebreaker": "Hello John, I came across your profile and your expertise in software development is remarkable!",
										"jobTitle": "Developer",
										"_id": "lea_7kMNQwplxvvD2hf5z",
										"isPaused": false,
										"campaignId": "cam_A1B2C3D4E5F6G7H8I9"
									},
									{
										"firstname": "John",
										"lastname": "Doe",
										"companyName": "lempire",
										"email": "john.doe@domain.com",
										"_id": "lea_3pRTJnkxwwF6vh1m",
										"isPaused": true,
										"campaignId": "cam_K9L8M7N6O5P4Q3R2S1"
									}
								]
							}
						}
					}
				}
			}
		},
		"/campaigns/{campaignId}/leads/{leadIdOrEmail}/interested": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "leadIdOrEmail",
					"in": "path",
					"required": true,
					"example": "{{leadIdOrEmail}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"post": {
				"summary": "Mark a Lead as interested in one campaign",
				"tags": [
					"Leads"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"email": {
											"type": "string",
											"format": "email"
										},
										"firstName": {
											"type": "string"
										},
										"lastName": {
											"type": "string"
										},
										"picture": {
											"type": "string",
											"format": "uri"
										},
										"phone": {
											"type": "string",
											"format": "phone"
										},
										"linkedinUrl": {
											"type": "string",
											"format": "uri"
										},
										"companyName": {
											"type": "string"
										},
										"companyDomain": {
											"type": "string"
										},
										"icebreaker": {
											"type": "string"
										},
										"jobTitle": {
											"type": "string"
										},
										"_id": {
											"type": "string"
										},
										"isPaused": {
											"type": "boolean"
										},
										"campaignId": {
											"type": "string"
										}
									}
								},
								"example": {
									"email": "john.doe@domain.com",
									"firstName": "John",
									"lastName": "Doe",
									"picture": "https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d",
									"phone": "+33 123456789",
									"linkedinUrl": "https://www.linkedin.com/in/johndoe,",
									"companyName": "lempire",
									"companyDomain": "lempire.co",
									"icebreaker": "Hello John, I came across your profile and your expertise in software development is remarkable!",
									"jobTitle": "Developer",
									"_id": "lea_7kMNQwplxvvD2hf5z",
									"isPaused": false,
									"campaignId": "cam_A1B2C3D4E5F6G7H8I9"
								}
							}
						}
					}
				}
			}
		},
		"/campaigns/{campaignId}/leads/{leadIdOrEmail}/notinterested": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "leadIdOrEmail",
					"in": "path",
					"required": true,
					"example": "{{leadIdOrEmail}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"post": {
				"summary": "Mark a Lead as not interested in one campaign",
				"tags": [
					"Leads"
				],
				"parameters": [
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"email": {
											"type": "string",
											"format": "email"
										},
										"firstName": {
											"type": "string"
										},
										"lastName": {
											"type": "string"
										},
										"picture": {
											"type": "string",
											"format": "uri"
										},
										"phone": {
											"type": "string",
											"format": "phone"
										},
										"linkedinUrl": {
											"type": "string",
											"format": "uri"
										},
										"companyName": {
											"type": "string"
										},
										"companyDomain": {
											"type": "string"
										},
										"icebreaker": {
											"type": "string"
										},
										"jobTitle": {
											"type": "string"
										},
										"_id": {
											"type": "string"
										},
										"isPaused": {
											"type": "boolean"
										},
										"campaignId": {
											"type": "string"
										}
									}
								},
								"example": {
									"email": "john.doe@domain.com",
									"firstName": "John",
									"lastName": "Doe",
									"picture": "https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d",
									"phone": "+33 123456789",
									"linkedinUrl": "https://www.linkedin.com/in/johndoe,",
									"companyName": "lempire",
									"companyDomain": "lempire.co",
									"icebreaker": "Hello John, I came across your profile and your expertise in software development is remarkable!",
									"jobTitle": "Developer",
									"_id": "lea_7kMNQwplxvvD2hf5z",
									"isPaused": false,
									"campaignId": "cam_A1B2C3D4E5F6G7H8I9"
								}
							}
						}
					}
				}
			}
		},
		"/leads/{email}": {
			"parameters": [
				{
					"name": "email",
					"in": "path",
					"required": true,
					"example": "{{email}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"get": {
				"summary": "Retrieve Lead with email",
				"tags": [
					"Leads"
				],
				"parameters": [
					{
						"name": "version",
						"in": "query",
						"required": false,
						"description": "(Optional) API version|default: v1",
						"example": "v2",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Retrieve Lead with email (V1)",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"email": {
											"type": "string",
											"format": "email"
										},
										"firstName": {
											"type": "string"
										},
										"lastName": {
											"type": "string"
										},
										"picture": {
											"type": "string",
											"format": "uri"
										},
										"phone": {
											"type": "string",
											"format": "phone"
										},
										"linkedinUrl": {
											"type": "string",
											"format": "uri"
										},
										"companyName": {
											"type": "string"
										},
										"companyDomain": {
											"type": "string"
										},
										"icebreaker": {
											"type": "string"
										},
										"jobTitle": {
											"type": "string"
										},
										"_id": {
											"type": "string"
										},
										"isPaused": {
											"type": "boolean"
										},
										"campaignId": {
											"type": "string"
										},
										"emailStatus": {
											"type": "string"
										}
									}
								},
								"example": {
									"email": "john.doe@domain.com",
									"firstName": "John",
									"lastName": "Doe",
									"picture": "https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d",
									"phone": "+33 123456789",
									"linkedinUrl": "https://www.linkedin.com/in/johndoe,",
									"companyName": "lempire",
									"companyDomain": "lempire.co",
									"icebreaker": "Hello John, I came across your profile and your expertise in software development is remarkable!",
									"jobTitle": "Developer",
									"_id": "lea_7kMNQwplxvvD2hf5z",
									"isPaused": false,
									"campaignId": "cam_A1B2C3D4E5F6G7H8I9",
									"emailStatus": "deliverable"
								}
							}
						}
					},
					"default": {
						"headers": {},
						"description": "Lead not found"
					}
				}
			}
		},
		"/leads": {
			"parameters": [],
			"get": {
				"summary": "Retrieve Lead with email or id",
				"tags": [
					"Leads"
				],
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"required": false,
						"description": "(Optionnal) The lead Id - ⚠️ You should use at least one of query param email or id",
						"example": "{{leadId}}",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "email",
						"in": "query",
						"required": false,
						"description": "(Optionnal) The lead email - ⚠️ You should use at least one of query param email or id",
						"example": "{{email}}",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "version",
						"in": "query",
						"required": false,
						"description": "(Optional) API version|default: v1",
						"example": "v2",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Content",
						"in": "header",
						"required": false,
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"headers": {
							"Content-Type": {
								"schema": {
									"type": "string"
								},
								"example": "application/json"
							}
						},
						"description": "Retrieve Lead with email (V1)",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"email": {
											"type": "string",
											"format": "email"
										},
										"firstName": {
											"type": "string"
										},
										"lastName": {
											"type": "string"
										},
										"picture": {
											"type": "string",
											"format": "uri"
										},
										"phone": {
											"type": "string",
											"format": "phone"
										},
										"linkedinUrl": {
											"type": "string",
											"format": "uri"
										},
										"companyName": {
											"type": "string"
										},
										"companyDomain": {
											"type": "string"
										},
										"icebreaker": {
											"type": "string"
										},
										"jobTitle": {
											"type": "string"
										},
										"_id": {
											"type": "string"
										},
										"isPaused": {
											"type": "boolean"
										},
										"campaignId": {
											"type": "string"
										},
										"emailStatus": {
											"type": "string"
										}
									}
								},
								"example": {
									"email": "john.doe@domain.com",
									"firstName": "John",
									"lastName": "Doe",
									"picture": "https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d",
									"phone": "+33 123456789",
									"linkedinUrl": "https://www.linkedin.com/in/johndoe,",
									"companyName": "lempire",
									"companyDomain": "lempire.co",
									"icebreaker": "Hello John, I came across your profile and your expertise in software development is remarkable!",
									"jobTitle": "Developer",
									"_id": "lea_7kMNQwplxvvD2hf5z",
									"isPaused": false,
									"campaignId": "cam_A1B2C3D4E5F6G7H8I9",
									"emailStatus": "deliverable"
								}
							}
						}
					},
					"default": {
						"headers": {},
						"description": "Lead not found"
					}
				}
			}
		},
		"/campaigns/{campaignId}/leads/{email}": {
			"parameters": [
				{
					"name": "campaignId",
					"in": "path",
					"required": true,
					"example": "{{campaignId}}",
					"schema": {
						"type": "string"
					}
				},
				{
					"name": "email",
					"in": "path",
					"required": true,
					"example": "{{email}}",
					"schema": {
						"type": "string"
					}
				}
			],
			"post": {
				"summary": "Create Lead in a Campaign",
				"tags": [
					"Leads"
				],
				"parameters": [
					{
						"name": "deduplicate",
						"in": "query",
						"required": false,
						"description": "Boolean | Search email address in another campaign, will not insert the lead if email address already inserted\n | Default: false",
						"example": "true",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "linkedinEnrichment",
						"in": "query",
						"required": false,
						"description": "Boolean | Find verified email | Default: false",
						"example": "true",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "findEmail",
						"in": "query",
						"required": false,
						"description": "Boolean | Run the LinkedIn enrichment | Default: false",
						"example": "true",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "verifyEmail",
						"in": "query",
[...]
